openapi: 3.0.3
info:
  title: Snyk AccessRequests Groups API
  version: REST
servers:
- description: Snyk REST API
  url: https://api.snyk.io/rest
security:
- APIToken: []
- BearerAuth: []
tags:
- name: Groups
paths:
  /groups:
    get:
      description: Returns a list of groups which a user is a member of
      operationId: listGroups
      parameters:
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Version'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Group'
                    type: array
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                - jsonapi
                - data
                - links
                type: object
          description: A list of groups is returned
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get all groups (Early Access)
      tags:
      - Groups
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2022-01-31~experimental
      - 2023-01-30~beta
      x-snyk-api-resource: groups
      x-snyk-api-stability: beta
      x-snyk-api-version: 2023-01-30~beta
      x-stability-level: beta
  /groups/{group_id}/memberships:
    get:
      description: 'Returns all memberships of the group


        #### Required permissions


        - `View Group Memberships (group.membership.read)`'
      operationId: listGroupMemberships
      parameters:
      - description: The ID of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/SortBy__0'
      - $ref: '#/components/parameters/SortOrder__0'
      - $ref: '#/components/parameters/EmailFilter'
      - $ref: '#/components/parameters/UserIdFilter'
      - $ref: '#/components/parameters/UsernameFilter'
      - $ref: '#/components/parameters/RoleFilter'
      - $ref: '#/components/parameters/IncludeGroupMembershipCount'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/GroupMembershipResponseData'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                - jsonapi
                - data
                - links
                type: object
          description: List of group memberships is returned
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get all memberships of the group
      tags:
      - Groups
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-05-09~experimental
      - '2024-08-25'
      x-snyk-api-resource: groups
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-08-25'
      x-stability-level: stable
    post:
      description: 'Create a group membership for a user with role


        #### Required permissions


        - `Add Group Memberships (group.membership.add)`'
      operationId: createGroupMembership
      parameters:
      - description: The ID of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/Version'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateGroupMembershipRequestBody'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/GroupMembership'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: Membership for the group was created
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              $ref: '#/components/headers/LocationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      summary: Create a group membership for a user with role
      tags:
      - Groups
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-05-09~experimental
      - '2024-08-25'
      x-snyk-api-resource: groups
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-08-25'
      x-stability-level: stable
  /groups/{group_id}/memberships/{membership_id}:
    delete:
      description: 'Deletes a membership from a group


        #### Required permissions


        - `Delete Group Memberships (group.membership.delete)`'
      operationId: deleteGroupMembership
      parameters:
      - description: The ID of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The ID of the Group Membership
        in: path
        name: membership_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/Cascade'
      - $ref: '#/components/parameters/Version'
      responses:
        '204':
          description: group membership is deleted from Group
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      summary: Delete a membership from a group
      tags:
      - Groups
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-05-09~experimental
      - '2024-08-25'
      x-snyk-api-resource: groups
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-08-25'
      x-stability-level: stable
    patch:
      description: 'Update a role from a group membership


        #### Required permissions


        - `Edit Group Memberships (group.membership.edit)`'
      operationId: updateGroupUserMembership
      parameters:
      - description: The ID of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The ID of the Group Membership
        in: path
        name: membership_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/Version'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/MembershipPatchRequestBody'
              type: object
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Update a role from a group membership
      tags:
      - Groups
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-05-09~experimental
      - '2024-08-25'
      x-snyk-api-resource: groups
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-08-25'
      x-stability-level: stable
  /groups/{group_id}/org_memberships:
    get:
      description: 'Get list of org memberships of a group user


        #### Required permissions


        - `View Group Memberships (group.membership.read)`


        - `View Organizations (group.org.list)`'
      operationId: listGroupUserOrgMemberships
      parameters:
      - description: The ID of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The ID of the User
        in: query
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/OrgName'
      - $ref: '#/components/parameters/RoleFilter'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Version'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/GroupMembershipOrgMembership'
                    type: array
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/Links'
                  meta:
                    properties:
                      org_membership_count:
                        description: Org memberships for this user within this group.
                        type: number
                    type: object
                required:
                - jsonapi
                - data
                - links
                type: object
          description: A list of org memberships is returned
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      summary: Get list of org memberships of a group user
      tags:
      - Groups
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2024-08-25'
      x-snyk-api-resource: groups
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-08-25'
      x-stability-level: stable
  /groups/{group_id}/sso_connections:
    get:
      description: 'Returns a list of SSO connections for a group


        #### Required permissions


        - `View SSO settings (group.sso.read)`'
      operationId: listGroupSsoConnections
      parameters:
      - description: The ID of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Version'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/SSOConnection'
                    type: array
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                - jsonapi
                - data
                - links
                type: object
          description: List of SSO connections is returned
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get all SSO connections for a group (Early Access)
      tags:
      - Groups
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2022-01-31~experimental
      - 2023-01-30~beta
      x-snyk-api-resource: groups
      x-snyk-api-stability: beta
      x-snyk-api-version: 2023-01-30~beta
      x-stability-level: beta
  /groups/{group_id}/sso_connections/{sso_id}/users:
    get:
      description: 'Returns a list of users for a SSO connection


        #### Required permissions


        - `View SSO settings (group.sso.read)`


        - `View users (group.user.read)`'
      operationId: listGroupSsoConnectionUsers
      parameters:
      - description: The ID of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/SsoId'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Version'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/User'
                    type: array
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                - jsonapi
                - data
                - links
                type: object
          description: List of users is returned
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get all users using a given SSO connection (Early Access)
      tags:
      - Groups
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2022-01-31~experimental
      - 2023-01-30~beta
      x-snyk-api-resource: groups
      x-snyk-api-stability: beta
      x-snyk-api-version: 2023-01-30~beta
      x-stability-level: beta
  /groups/{group_id}/sso_connections/{sso_id}/users/{user_id}:
    delete:
      description: 'Deletes a user from a Group SSO connection


        #### Required permissions


        - `View SSO settings (group.sso.read)`


        - `Delete users (group.user.delete)`'
      operationId: deleteUser
      parameters:
      - description: The ID of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/SsoId'
      - $ref: '#/components/parameters/UserId20230130'
      - $ref: '#/components/parameters/Version'
      responses:
        '204':
          description: User is deleted from Group SSO connection
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Delete a user from a Group SSO connection (Early Access)
      tags:
      - Groups
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2022-01-31~experimental
      - 2023-01-30~beta
      x-snyk-api-resource: groups
      x-snyk-api-stability: beta
      x-snyk-api-version: 2023-01-30~beta
      x-stability-level: beta
components:
  parameters:
    EndingBefore:
      description: Return the page of results immediately before this cursor
      example: v1.eyJpZCI6IjExMDAifQo=
      in: query
      name: ending_before
      schema:
        type: string
    IncludeGroupMembershipCount:
      description: indicates whether the count of group memberships is included
      in: query
      name: include_group_membership_count
      schema:
        type: boolean
    StartingAfter:
      description: Return the page of results immediately after this cursor
      example: v1.eyJpZCI6IjEwMDAifQo=
      in: query
      name: starting_after
      schema:
        type: string
    RoleFilter:
      description: Filter the response for results only with the specified role.
      in: query
      name: role_name
      schema:
        type: string
    Cascade:
      description: indicates whether to delete the child org memberships of the group membership.
      in: query
      name: cascade
      schema:
        type: boolean
    Version:
      description: The requested version of the endpoint to process the request
      example: '2026-03-25'
      in: query
      name: version
      required: true
      schema:
        $ref: '#/components/schemas/QueryVersion'
    Limit:
      description: Number of results to return per page
      example: 10
      in: query
      name: limit
      schema:
        default: 10
        format: int32
        maximum: 100
        minimum: 10
        multipleOf: 10
        type: integer
    SortBy__0:
      description: Which column to sort by.
      in: query
      name: sort_by
      schema:
        enum:
        - username
        - user_display_name
        - email
        - login_method
        - role_name
        type: string
    EmailFilter:
      description: Filter the response by Users that match the provided email
      in: query
      name: email
      schema:
        type: string
    UsernameFilter:
      description: Filter the response by Users that match the provided username
      in: query
      name: username
      schema:
        type: string
    SortOrder__0:
      description: Order in which results are returned.
      example: ASC
      in: query
      name: sort_order
      schema:
        default: DESC
        enum:
        - ASC
        - DESC
        type: string
    SsoId:
      description: The ID of the SSO
      in: path
      name: sso_id
      required: true
      schema:
        format: uuid
        type: string
    UserId20230130:
      description: The ID of the User
      in: path
      name: user_id
      required: true
      schema:
        format: uuid
        type: string
    OrgName:
      description: The Name of the org
      in: query
      name: org_name
      schema:
        description: Organization name
        example: Org name
        type: string
    UserIdFilter:
      description: Filter the response by Users that match the provided user ID
      in: query
      name: user_id
      schema:
        type: string
  schemas:
    GroupMembershipOrgMembershipUserData:
      properties:
        data:
          additionalProperties: false
          properties:
            attributes:
              properties:
                email:
                  description: The eamil of the user
                  example: user@test.com
                  type: string
                name:
                  description: The name of the user
                  example: User2
                  type: string
                username:
                  description: The username of the user
                  example: User name 2
                  type: string
              required:
              - name
              - username
              - email
              type: object
            id:
              example: 331ede0a-de94-456f-b788-166caeca58bf
              format: uuid
              type: string
            type:
              example: user
              type: string
          required:
          - id
          - attributes
          type: object
      type: object
    GroupMembershipGroupData:
      properties:
        data:
          additionalProperties: false
          properties:
            attributes:
              properties:
                name:
                  description: The name of the group
                  example: Example group
                  type: string
              required:
              - name
              type: object
            id:
              example: 331ede0a-de94-456f-b788-166caeca58bf
              format: uuid
              type: string
            type:
              example: group
              type: string
          required:
          - id
          - attributes
          type: object
      type: object
    ActualVersion:
      description: Resolved API version
      example: '2026-03-25'
      pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
      type: string
    GroupMembershipOrgMembershipRelationships:
      additionalProperties: false
      properties:
        org:
          $ref: '#/components/schemas/GroupMembershipOrgMembershipOrgData'
        role:
          $ref: '#/components/schemas/GroupMembershipOrgMembershipRoleData'
        user:
          $ref: '#/components/schemas/GroupMembershipOrgMembershipUserData'
      required:
      - role
      - org
      - user
      type: object
    GroupMembershipMeta:
      additionalProperties: false
      properties:
        group_membership_count:
          type: number
      type: object
    JsonApi:
      additionalProperties: false
      example:
        version: '1.0'
      properties:
        version:
          description: Version of the JSON API specification this server supports.
          example: '1.0'
          pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
          type: string
      required:
      - version
      type: object
    User:
      additionalProperties: false
      properties:
        attributes:
          additionalProperties: false
          properties:
            active:
              description: Whether the user status is enabled or not
              example: true
              type: boolean
            email:
              description: The email of the user.
              example: user@someorg.com
              type: string
            membership:
              properties:
                created_at:
                  description: The date the membership was established.
                  example: '2022-09-14T09:19:29.206Z'
                  format: date-time
                  type: string
                strategy:
                  description: Whether the membership is a direct, or indirect membership.
                  enum:
                  - direct
                  - indirect
                  example: direct
                  type: string
              type: object
            name:
              description: The name of the user.
              example: user
              type: string
            username:
              description: The username of the user.
              example: username
              type: string
          type: object
        id:
          description: The Snyk ID corresponding to this user
          example: 55a348e2-c3ad-4bbc-b40e-9b232d1f4121
          format: uuid
          type: string
        type:
          description: Content type.
          example: user
          type: string
      required:
      - type
      - id
      - attributes
      type: object
    GroupMembershipOrgMembership:
      additionalProperties: false
      properties:
        attributes:
          properties:
            created_at:
              description: The date that the org membership was created on
              example: '2021-05-29T09:50:54.014Z'
              format: date-time
          type: object
        id:
          example: 331ede0a-de94-456f-b788-166caeca58bf
          format: uuid
          type: string
        org_membership_count:
          description: Org memberships for this user within this group.
          type: number
        relationships:
          $ref: '#/components/schemas/GroupMembershipOrgMembershipRelationships'
        type:
          description: Content type.
          example: org_membership
          type: string
      required:
      - type
      - id
      - attributes
      - relationships
      type: object
    QueryVersion:
      description: Requested API version
      example: '2026-03-25'
      pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
      type: string
    SSOConnectionAttributes:
      additionalProperties: false
      properties:
        name:
          description: The display name of the sso connection.
          example: My SSO
          type: string
      required:
      - name
      type: object
    CreateGroupMembershipRequestBody:
      properties:
        data:
          additionalProperties: false
          properties:
            relationships:
              additionalProperties: false
              properties:
                group:
                  additionalProperties: false
                  properties:
                    data:
                      properties:
                        id:
                          example: 8aab168e-fb3b-47c0-9d87-442715788b31
                          format: uuid
                          type: string
                        type:
                          description: Always "group"
                          enum:
                          - group
                          example: group
                          type: string
                      type: object
                  type: object
                role:
                  additionalProperties: false
                  properties:
                    data:
                      properties:
                        id:
                          example: 331ede0a-de94-456f-b788-166caeca58bf
                          format: uuid
                          type: string
                        type:
                          description: Always "group_role"
                          enum:
                          - group_role
                          example: group_role
                          type: string
                      type: object
                  type: object
                user:
                  additionalProperties: false
                  properties:
                    data:
                      properties:
                        id:
                          example: 677d5f47-a8bf-4090-ba52-680903e7c8b5
                          format: uuid
                          type: string
                        type:
                          description: Always "user"
                          enum:
                          - user
                          example: user
                          type: string
                      type: object
                  type: object
              required:
              - role
              - user
              - group
              type: object
            type:
              description: type of membership according to its entity
              enum:
              - group_membership
              example: group_membership
              type: string
          type: object
      type: object
    SSOConnection:
      additionalProperties: false
      properties:
        attributes:
          $ref: '#/components/schemas/SSOConnectionAttributes'
        id:
          example: 331ede0a-de94-456f-b788-166caeca58bf
          format: uuid
          type: string
        type:
          description: Content type.
          example: sso_connection
          type: string
      required:
      - type
      - id
      - attributes
      type: object
    GroupMembershipRoleData:
      properties:
        data:
          additionalProperties: false
          properties:
            attributes:
              properties:
                name:
                  description: The name of the role
                  example: Admin role
                  type: string
              required:
              - name
              type: object
            id:
              example: 331ede0a-de94-456f-b788-166caeca58bf
              format: uuid
              type: string
            type:
              example: group_role
              type: string
          required:
          - id
          - attributes
          type: object
      type: object
    Group:
      additionalProperties: true
      properties:
        attributes:
          additionalProperties: true
          properties:
            name:
              description: The name of the group.
              example: My Group
              type: string
          required:
          - name
          type: object
        id:
          example: 331ede0a-de94-456f-b788-166caeca58bf
          format: uuid
          type: string
        type:
          description: Content type.
          example: group
          type: string
      required:
      - type
      - id
      - attributes
      type: object
    ErrorDocument:
      additionalProperties: false
      example:
        errors:
        - detail: Permission denied for this resource
          status: '403'
        jsonapi:
          version: '1.0'
      properties:
        errors:
          example:
          - detail: Permission denied for this resource
            status: '403'
          items:
            additionalProperties: false
            example:
              detail: Not Found
              status: '404'
            properties:
              code:
                description: An application-specific error code, expressed as a string value.
                example: entity-not-found
                type: string
              detail:
                description: A human-readable explanation specific to this occurrence of the problem.
                example: 'The request was missing these required fields: ...'
                type: string
              id:
                description: A unique identifier for this particular occurrence of the problem.
                example: f16c31b5-6129-4571-add8-d589da9be524
                format: uuid
                type: string
              links:
                additionalProperties: false
                description: A link that leads to further details about this particular occurrance of the problem.
                example:
                  about: https://example.com/about_this_error
                properties:
                  about:
                    example: https://example.com/api/resource
                    oneOf:
                    - description: A string containing the link’s URL.
                      example: https://example.com/api/resource
                      type: string
                    - additionalProperties: false
                      example:
                        href: https://example.com/api/resource
                      properties:
                        href:
                          description: A string containing the link’s URL.
                          example: https://example.com/api/resource
                          type: string
                        meta:
                          additionalProperties: true
                          description: Free-form object that may contain non-standard information.
                          example:
                            key1: value1
                            key2:
                              sub_key: sub_value
                            key3:
                            - array_value1
                            - array_value2
                          type: object
                      required:
                      - href
                      type: object
                type: object
              meta:
                additionalProperties: true
                example:
                  key: value
                type: object
              source:
                additionalProperties: false
                example:
                  pointer: /data/attributes
                properties:
                  parameter:
                    description: A string indicating which URI query parameter caused the error.
                    example: param1
                    type: string
                  pointer:
                    description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                    example: /data/attributes
                    type: string
                type: object
              status:
                description: The HTTP status code applicable to this problem, expressed as a string value.
                example: '400'
                pattern: ^[45]\d\d$
                type: string
              title:
                description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                example: Bad request
                type: string
            required:
            - status
            - detail
            type: object
          minItems: 1
          type: array
        jsonapi:
          additionalProperties: false
          example:
            version: '1.0'
          properties:
            version:
              description: Version of the JSON API specification this server supports.
              example: '1.0'
              pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
              type: string
          required:
          - version
          type: object
      required:
      - jsonapi
      - errors
      type: object
    GroupMembershipResponseData:
      additionalProperties: false
      items:
        properties:
          attributes:
            $ref: '#/components/schemas/GroupMembershipAttributes'
          id:
            example: 331ede0a-de94-456f-b788-166caeca58bf
            format: uuid
            type: string
          meta:
            $ref: '#/components/schemas/GroupMembershipMeta'
          relationships:
            $ref: '#/components/schemas/GroupMembershipRelationships'
          type:
            description: Content type
            example: group_membership
            type: string
        type: object
      type: array
    GroupMembership:
      additionalProperties: false
      properties:
        attributes:
          properties:
            created_at:
              description: The date that the group membership was created on
              example: '2021-05-29T09:50:54.014Z'
              format: date-time
          type: object
        id:
          example: 331ede0a-de94-456f-b788-166caeca58bf
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/GroupMembershipRelationships'
        type:
          description: Content type.
          example: group_membership
          type: string
      required:
      - type
      - id
      - attributes
      - relationships
      type: object
    GroupMembershipOrgMembershipOrgData:
      properties:
        data:
          additionalProperties: false
          properties:
            attributes:
              properties:
                name:
                  description: The name of the prg
                  example: Example org
                  type: string
              required:
              - name
              type: object
            id:
              example: 331ede0a-de94-456f-b788-166caeca58bf
              format: uuid
              type: string
            type:
              example: org
              type: string
          required:
          - id
          - attributes
          type: object
      type: object
    MembershipPatchRequestBody:
      properties:
        attributes:
          type: object
        id:
          example: 331ede0a-de94-456f-b788-166caeca58bf
          format: uuid
          type: string
        relationships:
          additionalProperties: false
          properties:
            role:
              additionalProperties: false
              properties:
                data:
                  properties:
                    id:
                      example: 331ede0a-de94-456f-b788-166caeca58bf
                      format: uuid
                      type: string
                    type:
                      description: Always "group_role"
                      example: Always "group_role"
                      type: string
                  type: object
              type: object
          required:
          - role
          type: object
        type:
          description: type of membership according to its entity
          example: group_membership
          type: string
      type: object
    GroupMembershipRelationships:
      additionalProperties: false
      properties:
        group:
          $ref: '#/components/schemas/GroupMembershipGroupData'
        role:
          $ref: '#/components/schemas/GroupMembershipRoleData'
        user:
          $ref: '#/components/schemas/GroupMembershipUserData'
      required:
      - role
      - group
      - user
      type: object
    GroupMembershipOrgMembershipRoleData:
      properties:
        data:
          additionalProperties: false
          properties:
            attributes:
              properties:
                name:
                  description: The name of the role
                  example: Admin role
                  type: string
              required:
              - name
              type: object
            id:
              example: 331ede0a-de94-456f-b788-166caeca58bf
              format: uuid
              type: string
            type:
              example: org_role
              type: string
          required:
          - id
          - attributes
          type: object
      type: object
    Links:
      additionalProperties: false
      properties:
        first:
          $ref: '#/components/schemas/LinkProperty'
        last:
          $ref: '#/components/schemas/LinkProperty'
        next:
          $ref: '#/components/schemas/LinkProperty'
        prev:
          $ref: '#/components/schemas/LinkProperty'
        related:
          $ref: '#/components/schemas/LinkProperty'
        self:
          $ref: '#/components/schemas/LinkProperty'
      type: object
    GroupMembershipUserData:
      properties:
        data:
          additionalProperties: false
          properties:
            attributes:
              properties:
                email:
                  description: The email of the user
                  example: user@test.com
                  type: string
                login_method:
                  description: The login method of the user
                  type: string
                name:
                  description: The name of the user
                  example: User2
                  type: string
                username:
                  description: The username of the user
                  example: User name 2
                  type: string
              required:
              - name
              - username
              - email
              type: object
            id:
              example: 331ede0a-de94-456f-b788-166caeca58bf
              format: uuid
              type: string
            type:
              example: user
              type: string
          required:
          - id
          - attributes
          type: object
      type: object
    GroupMembershipAttributes:
      additionalProperties: false
      properties:
        created_at:
          description: The time when this group membership was created
          example: '2022-03-16T00:00:00Z'
          format: date-time
          type: string
      required:
      - created_at
      type: object
    LinkProperty:
      example: https://example.com/api/resource
      oneOf:
      - description: A string containing the link’s URL.
        example: https://example.com/api/resource
        type: string
      - additionalProperties: false
        example:
          href: https://example.com/api/resource
        properties:
          href:
            description: A string containing the link’s URL.
            example: https://example.com/api/resource
            type: string
          meta:
            additionalProperties: true
            description: Free-form object that may contain non-standard information.
            example:
              key1: value1
              key2:
                sub_key: sub_value
              key3:
              - array_value1
              - array_value2
            type: object
        required:
        - href
        type: object
  headers:
    SunsetHeader:
      description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
      example: '2021-08-02'
      schema:
        format: date
        type: string
    VersionRequestedResponseHeader:
      description: A header containing the version of the endpoint requested by the caller.
      example: '2026-03-25'
      schema:
        $ref: '#/components/schemas/QueryVersion'
    VersionServedResponseHeader:
      description: A header containing the version of the endpoint that was served by the API.
      example: '2026-03-25'
      schema:
        $ref: '#/components/schemas/ActualVersion'
    VersionStageResponseHeader:
      description: 'A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.

        '
      schema:
        enum:
        - wip
        - experimental
        - beta
        - ga
        - deprecated
        - sunset
        example: ga
        type: string
    RequestIdResponseHeader:
      description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

        '
      example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
      schema:
        format: uuid
        type: string
    LocationHeader:
      description: 'A header providing a URL for the location of a resource

        '
      example: https://example.com/resource/4
      schema:
        format: url
        type: string
    DeprecationHeader:
      description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

        https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

        '
      example: '2021-07-01T00:00:00Z'
      schema:
        format: date-time
        type: string
  responses:
    '400':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Bad Request: A parameter provided as a part of the request was invalid.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '409':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Conflict: The requested operation conflicts with the current state of the resource in some way.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '204':
      description: The operation completed successfully with no content
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '500':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Internal Server Error: An error was encountered while attempting to process the request.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '403':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Forbidden: the request requires an authentication token with more or different permissions.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '404':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Not Found: The resource being operated on could not be found.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '401':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Unauthorized: the request requires an authentication token.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
  securitySchemes:
    APIToken:
      description: API key value must be prefixed with \"Token \".
      in: header
      name: Authorization
      type: apiKey
    BearerAuth:
      scheme: bearer
      type: http
x-snyk-api-version: '2024-10-15'
