openapi: 3.0.3
info:
  title: Snyk AccessRequests Inventory Assets API
  version: REST
servers:
- description: Snyk REST API
  url: https://api.snyk.io/rest
security:
- APIToken: []
- BearerAuth: []
tags:
- name: Inventory Assets
paths:
  /groups/{group_id}/inventory/assets:
    get:
      description: 'Retrieves a polymorphic list of all asset types for a given group.

        The tenant is resolved from the group_id.


        #### Required permissions


        - `View Groups (group.read)`'
      operationId: listAssetsGroup
      parameters:
      - description: The unique identifier of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - $ref: '#/components/parameters/RsqlFilter'
      - description: Comma-separated sort fields. Prefix with `-` for descending order.
        example: -created_at
        in: query
        name: sort
        schema:
          type: string
      - description: Number of results to return per page
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for fetching the next page of results
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        in: query
        name: ending_before
        schema:
          type: string
      - $ref: '#/components/parameters/SparseFieldsets'
      - $ref: '#/components/parameters/MetaCount'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AssetListResponse'
          description: Successful response with a polymorphic list of assets
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      summary: List or search all assets (synchronous) - Group scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
    patch:
      description: 'Partially updates multiple assets within a group context.

        Maximum of 100 assets can be updated per request.

        The operation is transactional - all updates succeed or all fail.


        #### Required permissions


        - `Edit Group Details (group.edit)`'
      operationId: updateAssetsBulkGroup
      parameters:
      - description: The unique identifier of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AssetBulkPatchRequestBody'
        required: true
      responses:
        '204':
          description: Assets updated successfully
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Bulk update asset attributes - Group scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /groups/{group_id}/inventory/assets/filters:
    get:
      description: 'Returns a list of valid field names that can be used for filtering assets using RSQL.

        Each field includes its name, data type, and which asset types it applies to.


        #### Required permissions


        - `View Groups (group.read)`'
      operationId: getFilterFieldsGroup
      parameters:
      - description: The unique identifier of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: Comma-separated list of asset types to filter the available filter fields
        example: container_images
        in: query
        name: asset_types
        schema:
          type: string
      - description: Number of results to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for fetching the next page of results
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        in: query
        name: ending_before
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FilterFieldsResponse'
          description: List of available filter fields
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      summary: Get available filter fields - Group scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /groups/{group_id}/inventory/assets/filters/{filter_id}/values:
    get:
      description: 'Returns a list of distinct values for a specific filter field.

        Useful for building autocomplete functionality in filter UIs.


        Use the UUID from the filter fields list endpoint to identify which field to query.


        For object filter values, both the keys and values are returned.


        #### Required permissions


        - `View Groups (group.read)`'
      operationId: getFilterValuesGroup
      parameters:
      - description: The unique identifier of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: The UUID of the filter field to get values for (from the filter fields list endpoint)
        example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        in: path
        name: filter_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Full text search term to filter the list of values. If keys_only is true, this will filter the keys of the object filter values. If key is provided, this will filter the value for the specific key of the object filter values.
        example: prod
        in: query
        name: q
        schema:
          maxLength: 100
          type: string
      - description: Number of results to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for fetching the next page of results
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        in: query
        name: ending_before
        schema:
          type: string
      - description: Return only the keys of the object filter values
        in: query
        name: keys_only
        schema:
          type: boolean
      - description: Return only the value for a specific key of the object filter values
        in: query
        name: key
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FilterValuesResponse'
          description: List of filter values
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get filter value suggestions (autocomplete) - Group scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /groups/{group_id}/inventory/assets/groups:
    get:
      description: 'Returns a list of valid group field names that can be used for grouping assets within a group context.


        #### Required permissions


        - `View Groups (group.read)`'
      operationId: getGroupFieldsGroup
      parameters:
      - description: The unique identifier of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: Comma-separated list of asset types to filter group fields
        in: query
        name: asset_types
        schema:
          type: string
      - description: Maximum number of results to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for forward pagination
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for backward pagination
        in: query
        name: ending_before
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GroupFieldsResponse'
          description: List of available group fields
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      summary: Get available group fields - Group scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /groups/{group_id}/inventory/assets/groups/{group_field_id}/values:
    get:
      description: 'Returns aggregated values for a specific group field id, showing the count of assets

        for each distinct value.


        Use the UUID from the group fields list endpoint to identify which field to query.


        #### Required permissions


        - `View Groups (group.read)`'
      operationId: getGroupValuesGroup
      parameters:
      - description: The unique identifier of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: The UUID of the group field to get values for (from the group fields list endpoint)
        example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        in: path
        name: group_field_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Comma-separated list of asset types to filter the aggregation
        example: container_images
        in: query
        name: asset_types
        schema:
          type: string
      - $ref: '#/components/parameters/RsqlFilterGroupValues'
      - $ref: '#/components/parameters/SortGroupValues'
      - description: Maximum number of group values to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for forward pagination
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for backward pagination
        in: query
        name: ending_before
        schema:
          type: string
      - $ref: '#/components/parameters/MetaFieldsGroupValues'
      - $ref: '#/components/parameters/AggregateGroupValues'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GroupValuesResponse'
          description: List of group values with aggregated metadata
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get group value aggregation - Group scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /groups/{group_id}/inventory/assets/searches:
    post:
      description: 'Initiates an asynchronous search for assets within a group context.


        #### Required permissions


        - `View Groups (group.read)`'
      operationId: createAssetSearchGroup
      parameters:
      - description: The unique identifier of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateSearchRequestBody'
      responses:
        '302':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  jsonapi:
                    additionalProperties: false
                    properties:
                      version:
                        type: string
                    type: object
                type: object
          description: Found - Redirects to search results endpoint
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              description: URL to retrieve search results
              schema:
                format: uri
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
      summary: Create an asset search (asynchronous) - Group scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /groups/{group_id}/inventory/assets/searches/{search_id}/results:
    get:
      description: 'Gets paginated results for a previously initiated asset search within a group context.


        #### Required permissions


        - `View Groups (group.read)`'
      operationId: getAssetSearchResultsGroup
      parameters:
      - description: The unique identifier of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/SearchId'
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: Sort order for results (e.g., -created_at for descending)
        in: query
        name: sort
        schema:
          type: string
      - description: Maximum number of results to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for forward pagination
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for backward pagination
        in: query
        name: ending_before
        schema:
          type: string
      - $ref: '#/components/parameters/SparseFieldsets'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AssetListResponse'
          description: Search results retrieved successfully
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Retrieve asset search results (asynchronous) - Group scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /groups/{group_id}/inventory/assets/{asset_id}:
    get:
      description: 'Retrieves a single asset by its unique identifier within a group context.


        #### Required permissions


        - `View Groups (group.read)`'
      operationId: getAssetGroup
      parameters:
      - description: The unique identifier of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The unique identifier of the asset
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - $ref: '#/components/parameters/SparseFieldsets'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/PolymorphicAssetData'
                  links:
                    properties:
                      self:
                        format: uri
                        type: string
                    type: object
                required:
                - data
                type: object
          description: Asset retrieved successfully
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get a single asset by ID - Group scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
    patch:
      description: 'Partially updates an asset''s attributes within a group context.

        Supports updating class, labels (add/remove), and tags (add/remove).


        #### Required permissions


        - `Edit Group Details (group.edit)`'
      operationId: updateAssetGroup
      parameters:
      - description: The unique identifier of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The unique identifier of the asset
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AssetPatchRequestBody'
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/PolymorphicAssetData'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApiVersion'
                  links:
                    description: Self-referencing link
                    properties:
                      self:
                        description: Link to the current resource
                        format: uri
                        type: string
                    required:
                    - self
                    type: object
                required:
                - data
                type: object
          description: Asset updated successfully
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Update asset attributes - Group scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /groups/{group_id}/inventory/assets/{asset_id}/relationships/projects:
    get:
      description: 'Retrieves a paginated list of Snyk projects linked to this asset with full attributes.

        Returns the `id`, `type`, and `attributes` of each related project.

        Scoped to the specified group.


        #### Required permissions


        - `View Groups (group.read)`'
      operationId: listAssetProjectsGroup
      parameters:
      - description: The unique identifier of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The unique identifier of the asset
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: Cursor for fetching the next page of results
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        in: query
        name: ending_before
        schema:
          type: string
      - description: Maximum number of results to return per page
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: 'Filter projects by canonical status.

          - `with`: Returns all projects (canonical attribute is populated).

          - `only`: Returns only canonical projects (those used for vulnerability counts).

          - `none`: Returns only non-canonical projects.

          When omitted, returns all projects without canonical filtering.

          '
        in: query
        name: canonical
        schema:
          enum:
          - with
          - only
          - none
          type: string
      - description: 'Filter projects by target ID. When provided, returns only projects that belong to

          the specified target. When omitted, returns projects from all targets.

          '
        in: query
        name: target_id
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/ProjectSortParam'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ProjectRelationshipListResponse'
          description: Successfully retrieved linked projects
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: List projects for an asset (group scope) (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: project
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /groups/{group_id}/inventory/assets/{asset_id}/relationships/targets:
    get:
      description: 'Retrieves a paginated list of Snyk targets linked to this asset with full attributes.

        Returns the `id`, `type`, and `attributes` of each related target.

        Scoped to the specified group.


        #### Required permissions


        - `View Groups (group.read)`'
      operationId: listAssetTargetsGroup
      parameters:
      - description: The unique identifier of the group
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The unique identifier of the asset
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: Cursor for fetching the next page of results
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        in: query
        name: ending_before
        schema:
          type: string
      - description: Maximum number of results to return per page
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TargetRelationshipListResponse'
          description: Successfully retrieved linked targets
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: List targets for an asset (group scope) (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: target
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/inventory/assets:
    get:
      description: 'Retrieves a polymorphic list of all asset types for a given organization.

        The group and tenant are resolved from the org_id.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: listAssetsOrg
      parameters:
      - description: The unique identifier of the organization
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - $ref: '#/components/parameters/RsqlFilter'
      - description: Comma-separated sort fields. Prefix with `-` for descending order.
        example: -created_at
        in: query
        name: sort
        schema:
          type: string
      - description: Number of results to return per page
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for fetching the next page of results
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        in: query
        name: ending_before
        schema:
          type: string
      - $ref: '#/components/parameters/SparseFieldsets'
      - $ref: '#/components/parameters/MetaCount'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AssetListResponse'
          description: Successful response with a polymorphic list of assets
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      summary: List or search all assets (synchronous) - Org scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
    patch:
      description: 'Partially updates multiple assets within an org context.

        Maximum of 100 assets can be updated per request.

        The operation is transactional - all updates succeed or all fail.


        #### Required permissions


        - `Edit Organization (org.edit)`'
      operationId: updateAssetsBulkOrg
      parameters:
      - description: The unique identifier of the organization
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AssetBulkPatchRequestBody'
        required: true
      responses:
        '204':
          description: Assets updated successfully
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Bulk update asset attributes - Org scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/inventory/assets/filters:
    get:
      description: 'Returns a list of valid field names that can be used for filtering assets using RSQL.

        Each field includes its name, data type, and which asset types it applies to.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: getFilterFieldsOrg
      parameters:
      - description: The unique identifier of the organization
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: Comma-separated list of asset types to filter the available filter fields
        example: container_images
        in: query
        name: asset_types
        schema:
          type: string
      - description: Number of results to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for fetching the next page of results
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        in: query
        name: ending_before
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FilterFieldsResponse'
          description: List of available filter fields
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      summary: Get available filter fields - Org scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/inventory/assets/filters/{filter_id}/values:
    get:
      description: 'Returns a list of distinct values for a specific filter field.

        Useful for building autocomplete functionality in filter UIs.


        Use the UUID from the filter fields list endpoint to identify which field to query.


        For object filter values, both the keys and values are returned.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: getFilterValuesOrg
      parameters:
      - description: The unique identifier of the organization
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: The UUID of the filter field to get values for (from the filter fields list endpoint)
        example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        in: path
        name: filter_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Full text search term to filter the list of values. If keys_only is true, this will filter the keys of the object filter values. If key is provided, this will filter the value for the specific key of the object filter values.
        example: prod
        in: query
        name: q
        schema:
          maxLength: 100
          type: string
      - description: Number of results to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for fetching the next page of results
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        in: query
        name: ending_before
        schema:
          type: string
      - description: Return only the keys of the object filter values
        in: query
        name: keys_only
        schema:
          type: boolean
      - description: Return only the value for a specific key of the object filter values
        in: query
        name: key
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FilterValuesResponse'
          description: List of filter values
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get filter value suggestions (autocomplete) - Org scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/inventory/assets/groups:
    get:
      description: 'Returns a list of valid group field names that can be used for grouping assets within an org context.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: getGroupFieldsOrg
      parameters:
      - description: The unique identifier of the organization
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: Comma-separated list of asset types to filter group fields
        in: query
        name: asset_types
        schema:
          type: string
      - description: Maximum number of results to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for forward pagination
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for backward pagination
        in: query
        name: ending_before
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GroupFieldsResponse'
          description: List of available group fields
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      summary: Get available group fields - Org scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/inventory/assets/groups/{group_field_id}/values:
    get:
      description: 'Returns aggregated values for a specific group field id, showing the count of assets

        for each distinct value.


        Use the UUID from the group fields list endpoint to identify which field to query.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: getGroupValuesOrg
      parameters:
      - description: The unique identifier of the organization
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: The UUID of the group field to get values for (from the group fields list endpoint)
        example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        in: path
        name: group_field_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Comma-separated list of asset types to filter the aggregation
        example: container_images
        in: query
        name: asset_types
        schema:
          type: string
      - $ref: '#/components/parameters/RsqlFilterGroupValues'
      - $ref: '#/components/parameters/SortGroupValues'
      - description: Maximum number of group values to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for forward pagination
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for backward pagination
        in: query
        name: ending_before
        schema:
          type: string
      - $ref: '#/components/parameters/MetaFieldsGroupValues'
      - $ref: '#/components/parameters/AggregateGroupValues'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GroupValuesResponse'
          description: List of group values with aggregated metadata
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get group value aggregation - Org scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/inventory/assets/searches:
    post:
      description: 'Initiates an asynchronous search for assets within an org context.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: createAssetSearchOrg
      parameters:
      - description: The unique identifier of the organization
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateSearchRequestBody'
      responses:
        '302':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  jsonapi:
                    additionalProperties: false
                    properties:
                      version:
                        type: string
                    type: object
                type: object
          description: Found - Redirects to search results endpoint
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              description: URL to retrieve search results
              schema:
                format: uri
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
      summary: Create an asset search (asynchronous) - Org scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/inventory/assets/searches/{search_id}/results:
    get:
      description: 'Gets paginated results for a previously initiated asset search within an org context.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: getAssetSearchResultsOrg
      parameters:
      - description: The unique identifier of the organization
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/SearchId'
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: Sort order for results (e.g., -created_at for descending)
        in: query
        name: sort
        schema:
          type: string
      - description: Maximum number of results to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for forward pagination
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for backward pagination
        in: query
        name: ending_before
        schema:
          type: string
      - $ref: '#/components/parameters/SparseFieldsets'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AssetListResponse'
          description: Search results retrieved successfully
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Retrieve asset search results (asynchronous) - Org scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/inventory/assets/{asset_id}:
    get:
      description: 'Retrieves a single asset by its unique identifier within an org context.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: getAssetOrg
      parameters:
      - description: The unique identifier of the organization
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The unique identifier of the asset
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - $ref: '#/components/parameters/SparseFieldsets'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/PolymorphicAssetData'
                  links:
                    properties:
                      self:
                        format: uri
                        type: string
                    type: object
                required:
                - data
                type: object
          description: Asset retrieved successfully
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get a single asset by ID - Org scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
    patch:
      description: 'Partially updates an asset''s attributes within an org context.

        Supports updating class, labels (add/remove), and tags (add/remove).


        #### Required permissions


        - `Edit Organization (org.edit)`'
      operationId: updateAssetOrg
      parameters:
      - description: The unique identifier of the organization
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The unique identifier of the asset
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AssetPatchRequestBody'
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/PolymorphicAssetData'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApiVersion'
                  links:
                    description: Self-referencing link
                    properties:
                      self:
                        description: Link to the current resource
                        format: uri
                        type: string
                    required:
                    - self
                    type: object
                required:
                - data
                type: object
          description: Asset updated successfully
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Update asset attributes - Org scope (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/inventory/assets/{asset_id}/relationships/projects:
    get:
      description: 'Retrieves a paginated list of Snyk projects linked to this asset with full attributes.

        Returns the `id`, `type`, and `attributes` of each related project.

        Scoped to the specified organization.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: listAssetProjectsOrg
      parameters:
      - description: The unique identifier of the organization
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The unique identifier of the asset
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: Cursor for fetching the next page of results
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        in: query
        name: ending_before
        schema:
          type: string
      - description: Maximum number of results to return per page
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: 'Filter projects by canonical status.

          - `with`: Returns all projects (canonical attribute is populated).

          - `only`: Returns only canonical projects (those used for vulnerability counts).

          - `none`: Returns only non-canonical projects.

          When omitted, returns all projects without canonical filtering.

          '
        in: query
        name: canonical
        schema:
          enum:
          - with
          - only
          - none
          type: string
      - description: 'Filter projects by target ID. When provided, returns only projects that belong to

          the specified target. When omitted, returns projects from all targets.

          '
        in: query
        name: target_id
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/ProjectSortParam'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ProjectRelationshipListResponse'
          description: Successfully retrieved linked projects
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: List projects for an asset (org scope) (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: project
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/inventory/assets/{asset_id}/relationships/targets:
    get:
      description: 'Retrieves a paginated list of Snyk targets linked to this asset with full attributes.

        Returns the `id`, `type`, and `attributes` of each related target.

        Scoped to the specified organization.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: listAssetTargetsOrg
      parameters:
      - description: The unique identifier of the organization
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The unique identifier of the asset
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: Cursor for fetching the next page of results
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        in: query
        name: ending_before
        schema:
          type: string
      - description: Maximum number of results to return per page
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TargetRelationshipListResponse'
          description: Successfully retrieved linked targets
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: List targets for an asset (org scope) (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: target
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /tenants/{tenant_id}/inventory/assets:
    get:
      description: 'Retrieves a polymorphic list of all asset types for a given tenant.

        The response includes different asset types (containers, container images, etc.)

        in a single unified response following the JSON:API specification.


        This endpoint supports both simple listing and synchronous search with filtering,

        sorting, and cursor-based pagination through query parameters.


        #### Required permissions


        - `View Tenant Details (tenant.read)`'
      operationId: listAssetsTenant
      parameters:
      - description: The unique identifier of the tenant
        in: path
        name: tenant_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - $ref: '#/components/parameters/RsqlFilter'
      - description: 'Comma-separated sort fields. Prefix with `-` for descending order.


          **Supported fields:**

          - `created_at` - Asset creation timestamp

          - `updated_at` - Asset last update timestamp

          - `type` - Asset type (container_images)

          - `class` - Asset class

          - `risk_score` - Asset risk score (max across project sources)

          - `issues` - Issue counts by severity (critical, high, medium, low)

          - `built_at` - Image build timestamp (container images only)

          - `last_scan` - Last scan timestamp

          '
        example: -created_at
        in: query
        name: sort
        schema:
          type: string
      - description: Number of results to return per page
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for fetching the next page of results
        example: v1.MTIzNDU2Nzg5MHxhYmNkZWY=
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        example: v1.MTIzNDU2Nzg5MHxhYmNkZWY=
        in: query
        name: ending_before
        schema:
          type: string
      - $ref: '#/components/parameters/SparseFieldsets'
      - $ref: '#/components/parameters/MetaCount'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AssetListResponse'
          description: Successful response with a polymorphic list of assets
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      summary: List or search all assets (synchronous) (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
    patch:
      description: "Partially updates multiple assets in a single request.  \nMaximum of 100 assets can be updated per request.\nThe operation is transactional - all updates succeed or all fail.\nSupports updating class, labels (add/remove), and tags (add/remove).\n\n#### Required permissions\n\n- `Edit Tenant Details (tenant.edit)`"
      operationId: updateAssetsBulkTenant
      parameters:
      - description: The unique identifier of the tenant
        in: path
        name: tenant_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AssetBulkPatchRequestBody'
        required: true
      responses:
        '204':
          description: Assets updated successfully
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Bulk update asset attributes (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /tenants/{tenant_id}/inventory/assets/filters:
    get:
      description: 'Returns a list of valid field names that can be used for filtering assets using RSQL.

        Each field includes its name, data type, and which asset types it applies to.


        #### Required permissions


        - `View Tenant Details (tenant.read)`'
      operationId: getFilterFieldsTenant
      parameters:
      - description: The unique identifier of the tenant
        in: path
        name: tenant_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: Comma-separated list of asset types to filter the available filter fields
        example: container_images
        in: query
        name: asset_types
        schema:
          type: string
      - description: Number of results to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for fetching the next page of results
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        in: query
        name: ending_before
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FilterFieldsResponse'
          description: List of available filter fields
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      summary: Get available filter fields (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /tenants/{tenant_id}/inventory/assets/filters/{filter_id}/values:
    get:
      description: 'Returns a list of distinct values for a specific filter field.

        Useful for building autocomplete functionality in filter UIs.


        Use the UUID from the filter fields list endpoint to identify which field to query.


        For object filter values, both the keys and values are returned.


        #### Required permissions


        - `View Tenant Details (tenant.read)`'
      operationId: getFilterValuesTenant
      parameters:
      - description: The unique identifier of the tenant
        in: path
        name: tenant_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: The UUID of the filter field to get values for (from the filter fields list endpoint)
        example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        in: path
        name: filter_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Full text search term to filter the list of values. If keys_only is true, this will filter the keys of the object filter values. If key is provided, this will filter the value for the specific key of the object filter values.
        example: prod
        in: query
        name: q
        schema:
          maxLength: 100
          type: string
      - description: Number of results to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for fetching the next page of results
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        in: query
        name: ending_before
        schema:
          type: string
      - description: Return only the keys of the object filter values
        in: query
        name: keys_only
        schema:
          type: boolean
      - description: Return only the value for a specific key of the object filter values
        in: query
        name: key
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FilterValuesResponse'
          description: List of filter values
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get filter value suggestions (autocomplete) (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /tenants/{tenant_id}/inventory/assets/groups:
    get:
      description: 'Returns a list of valid group field names that can be used for grouping assets.

        Each field includes its name, data type, and which asset types it applies to.


        #### Required permissions


        - `View Tenant Details (tenant.read)`'
      operationId: getGroupFieldsTenant
      parameters:
      - description: The unique identifier of the tenant
        in: path
        name: tenant_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: Comma-separated list of asset types to filter the available group fields
        example: container_images
        in: query
        name: asset_types
        schema:
          type: string
      - description: Number of results to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for fetching the next page of results
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        in: query
        name: ending_before
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GroupFieldsResponse'
          description: List of available group fields
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      summary: Get available group fields (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /tenants/{tenant_id}/inventory/assets/groups/{group_field_id}/values:
    get:
      description: 'Returns aggregated values for a specific group field id, showing the count of assets

        for each distinct value.


        Use the UUID from the group fields list endpoint to identify which field to query.


        #### Required permissions


        - `View Tenant Details (tenant.read)`'
      operationId: getGroupValuesTenant
      parameters:
      - description: The unique identifier of the tenant
        in: path
        name: tenant_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: The UUID of the group field to get values for (from the group fields list endpoint)
        example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        in: path
        name: group_field_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Comma-separated list of asset types to filter the aggregation
        example: container_images
        in: query
        name: asset_types
        schema:
          type: string
      - $ref: '#/components/parameters/RsqlFilterGroupValues'
      - $ref: '#/components/parameters/SortGroupValues'
      - description: Number of results to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for fetching the next page of results
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for fetching the previous page of results
        in: query
        name: ending_before
        schema:
          type: string
      - $ref: '#/components/parameters/MetaFieldsGroupValues'
      - $ref: '#/components/parameters/AggregateGroupValues'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GroupValuesResponse'
          description: List of group values with aggregated metadata
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get group value aggregation (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /tenants/{tenant_id}/inventory/assets/searches:
    post:
      description: 'Initiates an asynchronous search for assets and returns a redirect to the search results endpoint


        #### Required permissions


        - `View Tenant Details (tenant.read)`'
      operationId: createAssetSearchTenant
      parameters:
      - description: The unique identifier of the tenant
        in: path
        name: tenant_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateSearchRequestBody'
      responses:
        '302':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  jsonapi:
                    additionalProperties: false
                    properties:
                      version:
                        type: string
                    type: object
                type: object
          description: Found - Redirects to search results endpoint
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              description: URL to retrieve search results
              schema:
                format: uri
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
      summary: Create an asset search (asynchronous) (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /tenants/{tenant_id}/inventory/assets/searches/{search_id}/results:
    get:
      description: 'Gets paginated results for a previously initiated asset search


        #### Required permissions


        - `View Tenant Details (tenant.read)`'
      operationId: getAssetSearchResultsTenant
      parameters:
      - description: The unique identifier of the tenant
        in: path
        name: tenant_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/SearchId'
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - description: 'Comma-separated sort fields. Prefix with `-` for descending order.


          **Supported fields:**

          - `created_at` - Asset creation timestamp

          - `updated_at` - Asset last update timestamp

          - `type` - Asset type (container_images)

          - `class` - Asset class

          - `risk_score` - Asset risk score (max across project sources)

          - `issues` - Issue counts by severity (critical, high, medium, low)

          - `built_at` - Image build timestamp (container images only)

          - `last_scan` - Last scan timestamp

          '
        in: query
        name: sort
        schema:
          example: -created_at
          type: string
      - description: Number of results to return
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: 10
          type: integer
      - description: Cursor for next page
        in: query
        name: starting_after
        schema:
          type: string
      - description: Cursor for previous page
        in: query
        name: ending_before
        schema:
          type: string
      - $ref: '#/components/parameters/SparseFieldsets'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AssetListResponse'
          description: Search results retrieved successfully
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Retrieve asset search results (asynchronous) (Early Access)
      tags:
      - Inventory Assets
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: asset
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /tenants/{tenant_id}/inventory/assets/{asset_id}:
    get:
      description: 'Retrieves a single asset by its unique identifier.

        The response includes the asset''s details in JSON:API format.

        The asset type is determined from the database and the appropriate

        details are returned polymorphically.


        #### Required permissions


        - `View Tenant Details (tenant.read)`'
      operationId: getAssetTenant
      parameters:
      - description: The unique identifier of the tenant
        in: path
        name: tenant_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The unique identifier of the asset
        in: path
        name: asset_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested API version
        in: query
        name: version
        schema:
          example: '2024-10-15'
          pattern: ^\d{4}-\d{2}-\d{2}$
          type: string
      - $ref: '#/components/parameters/SparseFieldsets'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/PolymorphicAssetData'
                  links:
                    properties:
                      self:
                        description: Link to the current document
                        format: uri
                        type: string
                    type: object
                required:
                - data
                type: object
          description: Asset retrieved successfully
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
[...]
