openapi: 3.0.3
info:
  title: Snyk AccessRequests AiBom API
  version: REST
servers:
- description: Snyk REST API
  url: https://api.snyk.io/rest
security:
- APIToken: []
- BearerAuth: []
tags:
- name: AiBom
paths:
  /orgs/{org_id}/ai_bom_jobs/{job_id}:
    get:
      description: 'Returns the status of an AI-BOM job. The job status is returned in the response body. If the job is completed the response status code will be 303, redirecting to the getAiBom endpoint.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: getAiBomJob
      parameters:
      - description: The requested version of the endpoint to process the request
        example: '2024-10-15'
        in: query
        name: version
        required: true
        schema:
          description: Requested API version
          pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
          type: string
      - $ref: '#/components/parameters/OrgIdParam'
      - $ref: '#/components/parameters/JobIdParam'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetAiBomResponseJobBody'
          description: Successful API response with a single resource
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              $ref: '#/components/headers/LocationHeader'
            retry-after:
              description: How long the client should wait before retrying (in seconds). retry-after:0 means you can retry immediately
              example: '10'
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: A header containing the version of the endpoint that was served by the API.
              example: '2024-10-15'
              schema:
                description: Resolved API version
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '303':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/JobData'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/PaginatedLinks'
                required:
                - data
                - jsonapi
                - links
                type: object
          description: Redirect to another resource after async processing.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              description: The location of the ai_bom resource
              required: true
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: A header containing the version of the endpoint that was served by the API.
              example: '2024-10-15'
              schema:
                description: Resolved API version
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrence of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Not Found: The resource being operated on could not be found or you do not have permission to access it.'
          headers:
            deprecation:
              description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: A header containing the version of the endpoint that was served by the API.
              example: '2024-10-15'
              schema:
                description: Resolved API version
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrence of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Internal Server Error: An error was encountered while attempting to process the request.'
          headers:
            deprecation:
              description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: A header containing the version of the endpoint that was served by the API.
              example: '2024-10-15'
              schema:
                description: Resolved API version
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
      summary: Get an AI-BOM job status (Early Access)
      tags:
      - AiBom
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: ai_boms
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/ai_boms:
    post:
      description: 'Triggers the creation of a new AI-BOM. The AI-BOM will be created in a background job. Users should query the background job status by using the getAiBomJob endpoint (/orgs/{org_id}/ai_bom_jobs/{job_id}). The response will contain a content-location header pointing to the getAiBomJob endpoint.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: createAiBom
      parameters:
      - description: The requested version of the endpoint to process the request
        example: '2024-10-15'
        in: query
        name: version
        required: true
        schema:
          description: Requested API version
          pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
          type: string
      - $ref: '#/components/parameters/OrgIdParam'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateAiBomRequestBody'
      responses:
        '202':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateAiBomResponseBody'
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            content-location:
              description: The content-location header points to the status endpoint (/orgs/{org_id}/ai_bom_jobs/{job_id}
              required: true
              schema:
                format: string
                type: string
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              $ref: '#/components/headers/LocationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: A header containing the version of the endpoint that was served by the API.
              example: '2024-10-15'
              schema:
                description: Resolved API version
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrence of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Bad Request: A parameter provided as a part of the request was invalid.'
          headers:
            deprecation:
              description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: A header containing the version of the endpoint that was served by the API.
              example: '2024-10-15'
              schema:
                description: Resolved API version
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrence of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Not Found: The resource being operated on could not be found or you do not have permission to access it.'
          headers:
            deprecation:
              description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: A header containing the version of the endpoint that was served by the API.
              example: '2024-10-15'
              schema:
                description: Resolved API version
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrence of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Internal Server Error: An error was encountered while attempting to process the request.'
          headers:
            deprecation:
              description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: A header containing the version of the endpoint that was served by the API.
              example: '2024-10-15'
              schema:
                description: Resolved API version
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
        '503':
          $ref: '#/components/responses/503'
      summary: Create a new AI-BOM (Early Access)
      tags:
      - AiBom
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: ai_boms
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/ai_boms/upload:
    post:
      description: 'Creates an AI-BOM from a file bundle and persists it to the database. Unlike the standard createAiBom endpoint, this endpoint requires a repo_name and will store the AI-BOM for later retrieval and testing. The AI-BOM will be created in a background job. Users should query the background job status by using the getAiBomJob endpoint.


        #### Required permissions


        - `Edit Organization (org.edit)`'
      operationId: createAndUploadAiBom
      parameters:
      - description: The requested version of the endpoint to process the request
        example: '2024-10-15'
        in: query
        name: version
        required: true
        schema:
          description: Requested API version
          pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
          type: string
      - $ref: '#/components/parameters/OrgIdParam'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateAndUploadAiBomRequestBody'
      responses:
        '202':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateAiBomResponseBody'
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            content-location:
              description: The content-location header points to the status endpoint (/orgs/{org_id}/ai_bom_jobs/{job_id}
              required: true
              schema:
                format: string
                type: string
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              $ref: '#/components/headers/LocationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: A header containing the version of the endpoint that was served by the API.
              example: '2024-10-15'
              schema:
                description: Resolved API version
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrence of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Bad Request: A parameter provided as a part of the request was invalid.'
          headers:
            deprecation:
              description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: A header containing the version of the endpoint that was served by the API.
              example: '2024-10-15'
              schema:
                description: Resolved API version
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrence of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Not Found: The resource being operated on could not be found or you do not have permission to access it.'
          headers:
            deprecation:
              description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: A header containing the version of the endpoint that was served by the API.
              example: '2024-10-15'
              schema:
                description: Resolved API version
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrence of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Internal Server Error: An error was encountered while attempting to process the request.'
          headers:
            deprecation:
              description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: A header containing the version of the endpoint that was served by the API.
              example: '2024-10-15'
              schema:
                description: Resolved API version
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
        '503':
          $ref: '#/components/responses/503'
      summary: Create and upload an AI-BOM (Early Access)
      tags:
      - AiBom
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: ai_boms
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/ai_boms/{ai_bom_id}:
    get:
      description: 'Get a AI-BOM once it''s job has finished


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: getAiBom
      parameters:
      - description: The requested version of the endpoint to process the request
        example: '2024-10-15'
        in: query
        name: version
        required: true
        schema:
          description: Requested API version
          pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
          type: string
      - $ref: '#/components/parameters/OrgIdParam'
      - $ref: '#/components/parameters/AiBomIdParam'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetAiBomResponseBody'
          description: Successful API response with a single resource
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              $ref: '#/components/headers/LocationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: A header containing the version of the endpoint that was served by the API.
              example: '2024-10-15'
              schema:
                description: Resolved API version
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrence of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Not Found: The resource being operated on could not be found or you do not have permission to access it.'
          headers:
            deprecation:
              description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: A header containing the version of the endpoint that was served by the API.
              example: '2024-10-15'
              schema:
                description: Resolved API version
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrence of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Internal Server Error: An error was encountered while attempting to process the request.'
          headers:
            deprecation:
              description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'A header containing the version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: A header containing the version of the endpoint requested by the caller.
              example: '2024-10-15'
              schema:
                description: Requested API version
[...]
