openapi: 3.0.3
info:
  title: Snyk AccessRequests IacSettings API
  version: REST
servers:
- description: Snyk REST API
  url: https://api.snyk.io/rest
security:
- APIToken: []
- BearerAuth: []
tags:
- name: IacSettings
paths:
  /groups/{group_id}/settings/iac:
    get:
      description: 'Get the Infrastructure as Code Settings for a group.


        #### Required permissions


        - `View IaC settings (group.iac.settings.read)`'
      operationId: getIacSettingsForGroup
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: The id of the group whose Infrastructure as Code settings are requested
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/GroupIacSettingsResponse'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                - jsonapi
                - data
                - links
                type: object
          description: The Infrastructure as Code Settings of the group.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get the Infrastructure as Code Settings for a group
      tags:
      - IacSettings
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2021-12-09'
      x-snyk-api-resource: iac_settings
      x-snyk-api-stability: ga
      x-snyk-api-version: '2021-12-09'
      x-stability-level: stable
    patch:
      description: 'Update the Infrastructure as Code Settings for a group.


        #### Required permissions


        - `Edit IaC settings (group.iac.settings.edit)`'
      operationId: updateIacSettingsForGroup
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: The id of the group whose Infrastructure as Code settings are getting updated
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/GroupIacSettingsRequest'
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/GroupIacSettingsResponse'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                - jsonapi
                - data
                - links
                type: object
          description: The Infrastructure as Code Settings of the group were updated.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Update the Infrastructure as Code Settings for a group
      tags:
      - IacSettings
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2021-12-09'
      x-snyk-api-resource: iac_settings
      x-snyk-api-stability: ga
      x-snyk-api-version: '2021-12-09'
      x-stability-level: stable
  /orgs/{org_id}/settings/iac:
    get:
      description: 'Get the Infrastructure as Code Settings for an org.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: getIacSettingsForOrg
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: The id of the org whose Infrastructure as Code settings are requested.
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/OrgIacSettingsResponse'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                - jsonapi
                - data
                - links
                type: object
          description: The Infrastructure as Code Settings of the org.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get the Infrastructure as Code Settings for an org.
      tags:
      - IacSettings
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2021-12-09'
      x-snyk-api-resource: iac_settings
      x-snyk-api-stability: ga
      x-snyk-api-version: '2021-12-09'
      x-stability-level: stable
    patch:
      description: 'Update the Infrastructure as Code Settings for an org.


        #### Required permissions


        - `Edit Organization (org.edit)`'
      operationId: updateIacSettingsForOrg
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: The id of the org whose Infrastructure as Code settings are getting updated
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/OrgIacSettingsRequest'
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/OrgIacSettingsResponse'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                - jsonapi
                - data
                - links
                type: object
          description: The Infrastructure as Code Settings of the org were updated.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Update the Infrastructure as Code Settings for an org
      tags:
      - IacSettings
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2021-12-09'
      x-snyk-api-resource: iac_settings
      x-snyk-api-stability: ga
      x-snyk-api-version: '2021-12-09'
      x-stability-level: stable
components:
  schemas:
    OciRegistryUrl:
      description: The URL to an OCI registry.
      example: https://registry-1.docker.io/account/bundle
      type: string
    ActualVersion:
      description: Resolved API version
      example: '2026-03-25'
      pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
      type: string
    Updated:
      description: The last time the settings were updated.
      example: '2021-11-12T10:31:06.026Z'
      format: date-time
      type: string
    JsonApi:
      additionalProperties: false
      example:
        version: '1.0'
      properties:
        version:
          description: Version of the JSON API specification this server supports.
          example: '1.0'
          pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
          type: string
      required:
      - version
      type: object
    OrgIacSettingsResponse:
      description: The Infrastructure as Code settings for an org.
      properties:
        attributes:
          properties:
            custom_rules:
              description: The Infrastructure as Code custom rules settings for an org.
              properties:
                inherit_from_parent:
                  $ref: '#/components/schemas/InheritFromParent'
                is_enabled:
                  $ref: '#/components/schemas/IsEnabled'
                oci_registry_tag:
                  $ref: '#/components/schemas/OciRegistryTag'
                oci_registry_url:
                  $ref: '#/components/schemas/OciRegistryUrl'
                parents:
                  description: Contains all parents the org can inherit settings from.
                  properties:
                    group:
                      description: The Infrastructure as Code settings at the group level.
                      properties:
                        custom_rules:
                          description: The Infrastructure as Code custom rules settings for a group.
                          properties:
                            is_enabled:
                              $ref: '#/components/schemas/IsEnabled'
                            oci_registry_tag:
                              $ref: '#/components/schemas/OciRegistryTag'
                            oci_registry_url:
                              $ref: '#/components/schemas/OciRegistryUrl'
                          type: object
                        updated:
                          $ref: '#/components/schemas/Updated'
                      type: object
                  type: object
                updated:
                  $ref: '#/components/schemas/Updated'
              type: object
          type: object
        id:
          description: ID
          example: ea536a06-0566-40ca-b96b-155568aa2027
          format: uuid
          type: string
        type:
          description: Content type
          example: iac_settings
          type: string
      type: object
    QueryVersion:
      description: Requested API version
      example: '2026-03-25'
      pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
      type: string
    InheritFromParent:
      description: Which parent to inherit settings from.
      enum:
      - group
      type: string
    IsEnabled:
      description: Whether the custom rules feature is enabled or not.
      example: true
      type: boolean
    GroupIacSettingsResponse:
      description: The Infrastructure as Code settings for a group.
      properties:
        attributes:
          properties:
            custom_rules:
              description: The Infrastructure as Code custom rules settings for a group.
              properties:
                is_enabled:
                  $ref: '#/components/schemas/IsEnabled'
                oci_registry_tag:
                  $ref: '#/components/schemas/OciRegistryTag'
                oci_registry_url:
                  $ref: '#/components/schemas/OciRegistryUrl'
              type: object
            updated:
              $ref: '#/components/schemas/Updated'
          type: object
        id:
          description: ID
          example: ea536a06-0566-40ca-b96b-155568aa2027
          format: uuid
          type: string
        type:
          description: Content type
          example: iac_settings
          type: string
      type: object
    ErrorDocument:
      additionalProperties: false
      example:
        errors:
        - detail: Permission denied for this resource
          status: '403'
        jsonapi:
          version: '1.0'
      properties:
        errors:
          example:
          - detail: Permission denied for this resource
            status: '403'
          items:
            additionalProperties: false
            example:
              detail: Not Found
              status: '404'
            properties:
              code:
                description: An application-specific error code, expressed as a string value.
                example: entity-not-found
                type: string
              detail:
                description: A human-readable explanation specific to this occurrence of the problem.
                example: 'The request was missing these required fields: ...'
                type: string
              id:
                description: A unique identifier for this particular occurrence of the problem.
                example: f16c31b5-6129-4571-add8-d589da9be524
                format: uuid
                type: string
              links:
                additionalProperties: false
                description: A link that leads to further details about this particular occurrance of the problem.
                example:
                  about: https://example.com/about_this_error
                properties:
                  about:
                    example: https://example.com/api/resource
                    oneOf:
                    - description: A string containing the link’s URL.
                      example: https://example.com/api/resource
                      type: string
                    - additionalProperties: false
                      example:
                        href: https://example.com/api/resource
                      properties:
                        href:
                          description: A string containing the link’s URL.
                          example: https://example.com/api/resource
                          type: string
                        meta:
                          additionalProperties: true
                          description: Free-form object that may contain non-standard information.
                          example:
                            key1: value1
                            key2:
                              sub_key: sub_value
                            key3:
                            - array_value1
                            - array_value2
                          type: object
                      required:
                      - href
                      type: object
                type: object
              meta:
                additionalProperties: true
                example:
                  key: value
                type: object
              source:
                additionalProperties: false
                example:
                  pointer: /data/attributes
                properties:
                  parameter:
                    description: A string indicating which URI query parameter caused the error.
                    example: param1
                    type: string
                  pointer:
                    description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                    example: /data/attributes
                    type: string
                type: object
              status:
                description: The HTTP status code applicable to this problem, expressed as a string value.
                example: '400'
                pattern: ^[45]\d\d$
                type: string
              title:
                description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                example: Bad request
                type: string
            required:
            - status
            - detail
            type: object
          minItems: 1
          type: array
        jsonapi:
          additionalProperties: false
          example:
            version: '1.0'
          properties:
            version:
              description: Version of the JSON API specification this server supports.
              example: '1.0'
              pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
              type: string
          required:
          - version
          type: object
      required:
      - jsonapi
      - errors
      type: object
    OciRegistryTag:
      description: The tag for an OCI artifact inside an OCI registry.
      example: latest
      type: string
    LinkProperty:
      example: https://example.com/api/resource
      oneOf:
      - description: A string containing the link’s URL.
        example: https://example.com/api/resource
        type: string
      - additionalProperties: false
        example:
          href: https://example.com/api/resource
        properties:
          href:
            description: A string containing the link’s URL.
            example: https://example.com/api/resource
            type: string
          meta:
            additionalProperties: true
            description: Free-form object that may contain non-standard information.
            example:
              key1: value1
              key2:
                sub_key: sub_value
              key3:
              - array_value1
              - array_value2
            type: object
        required:
        - href
        type: object
    Links:
      additionalProperties: false
      properties:
        first:
          $ref: '#/components/schemas/LinkProperty'
        last:
          $ref: '#/components/schemas/LinkProperty'
        next:
          $ref: '#/components/schemas/LinkProperty'
        prev:
          $ref: '#/components/schemas/LinkProperty'
        related:
          $ref: '#/components/schemas/LinkProperty'
        self:
          $ref: '#/components/schemas/LinkProperty'
      type: object
    OrgIacSettingsRequest:
      description: The Infrastructure as Code settings for an org.
      properties:
        attributes:
          properties:
            custom_rules:
              additionalProperties: false
              description: The Infrastructure as Code custom rules settings for an org.
              minProperties: 1
              properties:
                inherit_from_parent:
                  $ref: '#/components/schemas/InheritFromParent'
                is_enabled:
                  $ref: '#/components/schemas/IsEnabled'
                oci_registry_tag:
                  $ref: '#/components/schemas/OciRegistryTag'
                oci_registry_url:
                  $ref: '#/components/schemas/OciRegistryUrl'
              type: object
          type: object
        type:
          description: Content type
          example: iac_settings
          type: string
      required:
      - type
      - attributes
      type: object
    GroupIacSettingsRequest:
      description: The Infrastructure as Code settings for a group.
      properties:
        attributes:
          properties:
            custom_rules:
              additionalProperties: false
              description: The Infrastructure as Code custom rules settings for a group.
              minProperties: 1
              properties:
                is_enabled:
                  $ref: '#/components/schemas/IsEnabled'
                oci_registry_tag:
                  $ref: '#/components/schemas/OciRegistryTag'
                oci_registry_url:
                  $ref: '#/components/schemas/OciRegistryUrl'
              type: object
          type: object
        type:
          description: Content type
          example: iac_settings
          type: string
      required:
      - type
      - attributes
      type: object
  headers:
    SunsetHeader:
      description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
      example: '2021-08-02'
      schema:
        format: date
        type: string
    VersionRequestedResponseHeader:
      description: A header containing the version of the endpoint requested by the caller.
      example: '2026-03-25'
      schema:
        $ref: '#/components/schemas/QueryVersion'
    VersionServedResponseHeader:
      description: A header containing the version of the endpoint that was served by the API.
      example: '2026-03-25'
      schema:
        $ref: '#/components/schemas/ActualVersion'
    VersionStageResponseHeader:
      description: 'A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.

        '
      schema:
        enum:
        - wip
        - experimental
        - beta
        - ga
        - deprecated
        - sunset
        example: ga
        type: string
    RequestIdResponseHeader:
      description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

        '
      example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
      schema:
        format: uuid
        type: string
    DeprecationHeader:
      description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

        https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

        '
      example: '2021-07-01T00:00:00Z'
      schema:
        format: date-time
        type: string
  responses:
    '400':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Bad Request: A parameter provided as a part of the request was invalid.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '500':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Internal Server Error: An error was encountered while attempting to process the request.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '403':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Forbidden: the request requires an authentication token with more or different permissions.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '404':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Not Found: The resource being operated on could not be found.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '401':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Unauthorized: the request requires an authentication token.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
  parameters:
    Version:
      description: The requested version of the endpoint to process the request
      example: '2026-03-25'
      in: query
      name: version
      required: true
      schema:
        $ref: '#/components/schemas/QueryVersion'
  securitySchemes:
    APIToken:
      description: API key value must be prefixed with \"Token \".
      in: header
      name: Authorization
      type: apiKey
    BearerAuth:
      scheme: bearer
      type: http
x-snyk-api-version: '2024-10-15'
