openapi: 3.0.3
info:
  title: Snyk AccessRequests Apps API
  version: REST
servers:
- description: Snyk REST API
  url: https://api.snyk.io/rest
security:
- APIToken: []
- BearerAuth: []
tags:
- name: Apps
paths:
  /groups/{group_id}/apps/installs:
    get:
      description: 'Get a list of Snyk Apps installed for a Group


        #### Required permissions


        - `View Apps (group.app.read)`'
      operationId: getAppInstallsForGroup
      parameters:
      - description: Expand relationships.
        explode: false
        in: query
        name: expand
        schema:
          items:
            enum:
            - app
            type: string
          type: array
        style: form
      - description: Group ID
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/AppInstallData'
                    type: array
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/PaginatedLinks'
                required:
                - data
                - jsonapi
                - links
                type: object
          description: A list of apps installed for the specified group.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Get a list of Snyk Apps installed for a Group
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      - '2024-05-23'
      x-snyk-api-resource: app_installs
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-05-23'
      x-stability-level: stable
    post:
      description: 'Install a Snyk App to this group, the Snyk App must use unattended authentication e.g. client credentials


        #### Required permissions


        - `Install Apps (group.app.install)`'
      operationId: createGroupAppInstall
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: Group ID
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  properties:
                    type:
                      enum:
                      - app_install
                      example: app_install
                      type: string
                  type: object
                relationships:
                  additionalProperties: false
                  properties:
                    app:
                      additionalProperties: false
                      properties:
                        data:
                          additionalProperties: false
                          properties:
                            id:
                              $ref: '#/components/schemas/Uuid'
                            type:
                              enum:
                              - app
                              example: app
                              type: string
                          required:
                          - id
                          - type
                          type: object
                      required:
                      - data
                      type: object
                  required:
                  - app
                  type: object
              required:
              - data
              - relationships
              type: object
        description: App Install to be created
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/AppInstallWithClient'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/PaginatedLinks'
                required:
                - data
                - jsonapi
                - links
                type: object
          description: The newly created app install.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Install a Snyk App for a Group
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      - '2024-05-23'
      x-snyk-api-resource: app_installs
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-05-23'
      x-stability-level: stable
  /groups/{group_id}/apps/installs/{install_id}:
    delete:
      description: 'Revoke app authorization for a Snyk group with install ID


        #### Required permissions


        - `Install Apps (group.app.install)`'
      operationId: deleteGroupAppInstallById
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: Group ID
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/InstallId'
      responses:
        '204':
          description: The Snyk App install is revoked, with no content (no errors).
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Revoke app authorization for a Snyk group with install ID
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      - '2024-05-23'
      x-snyk-api-resource: app_installs
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-05-23'
      x-stability-level: stable
  /groups/{group_id}/apps/installs/{install_id}/secrets:
    post:
      description: 'Manage client secret for non-interactive Snyk App installations


        #### Required permissions


        - `Edit Apps (group.app.edit)`'
      operationId: updateGroupAppInstallSecret
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: Group ID
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/InstallId'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  additionalProperties: false
                  properties:
                    attributes:
                      additionalProperties: false
                      properties:
                        mode:
                          description: "Operation to perform:\n  * `replace` - Replace existing secrets with a new generated\nsecret\n  * `create` - Add a new secret, preserving existing secrets\n  * `delete` - Remove an existing secret by value\n"
                          enum:
                          - replace
                          - create
                          - delete
                          type: string
                        secret:
                          description: Secret to delete when using `delete` mode
                          type: string
                      required:
                      - mode
                      type: object
                    type:
                      enum:
                      - app
                      type: string
                  required:
                  - attributes
                  - type
                  type: object
              required:
              - data
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/AppInstallDataWithSecret'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/SelfLink'
                type: object
          description: Secret has been updated.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Manage client secret for non-interactive Snyk App installations
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      - '2024-05-23'
      x-snyk-api-resource: app_installs
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-05-23'
      x-stability-level: stable
  /orgs/{org_id}/app_bots:
    get:
      deprecated: true
      description: 'Get a list of app bots authorized to an organization. Deprecated, use /orgs/{org_id}/apps/installs instead.


        #### Required permissions


        - `View Apps (org.app.read)`'
      operationId: getAppBots
      parameters:
      - description: Expand relationships.
        explode: false
        in: query
        name: expand
        schema:
          items:
            enum:
            - app
            type: string
          type: array
        style: form
      - description: Organization ID
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/AppBot'
                    type: array
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/PaginatedLinks'
                required:
                - data
                - jsonapi
                - links
                type: object
          description: A list of app bots authorized to the specified organization
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Get a list of app bots authorized to an organization.
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2022-03-11'
      x-snyk-api-resource: app_bots
      x-snyk-api-stability: ga
      x-snyk-api-version: '2022-03-11'
      x-snyk-sunset-eligible: '2024-07-17'
      x-stability-level: stable
  /orgs/{org_id}/app_bots/{bot_id}:
    delete:
      deprecated: true
      description: 'Revoke app bot authorization. Deprecated, use /orgs/{org_id}/apps/installs/{install_id} instead.


        #### Required permissions


        - `Install Apps (org.app.install)`'
      operationId: deleteAppBot
      parameters:
      - description: The ID of the app bot
        in: path
        name: bot_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/Version'
      - description: Organization ID
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: The app bot has been deauthorized
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Revoke app bot authorization
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2022-03-11'
      x-snyk-api-resource: app_bots
      x-snyk-api-stability: ga
      x-snyk-api-version: '2022-03-11'
      x-snyk-sunset-eligible: '2024-07-17'
      x-stability-level: stable
  /orgs/{org_id}/apps:
    get:
      deprecated: true
      description: 'Get a list of Snyk Apps created by an Organization Deprecated, use /orgs/{org_id}/apps/creations instead.


        #### Required permissions


        - `View Apps (org.app.read)`'
      operationId: getApps
      parameters:
      - $ref: '#/components/parameters/OrgId__0'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/AppData20220311'
                    type: array
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/PaginatedLinks'
                required:
                - data
                - jsonapi
                - links
                type: object
          description: A list of apps created by the specified organization
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Get a list of Snyk Apps created by an Organization
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2022-03-11'
      x-snyk-api-resource: apps
      x-snyk-api-stability: ga
      x-snyk-api-version: '2022-03-11'
      x-snyk-sunset-eligible: '2024-07-17'
      x-stability-level: stable
    post:
      deprecated: true
      description: 'Create a new app for an organization. Deprecated, use /orgs/{org_id}/apps/creations instead.


        #### Required permissions


        - `Create Apps (org.app.create)`'
      operationId: createApp
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/OrgId__0'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AppPostRequest20220311'
        description: app to be created
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppPostResponse20220311'
          description: Created Snyk App successfully
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Create a new app for an organization.
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2022-03-11'
      x-snyk-api-resource: apps
      x-snyk-api-stability: ga
      x-snyk-api-version: '2022-03-11'
      x-snyk-sunset-eligible: '2024-07-17'
      x-stability-level: stable
  /orgs/{org_id}/apps/creations:
    get:
      description: 'Get a list of Snyk Apps created by an Organization


        #### Required permissions


        - `View Apps (org.app.read)`'
      operationId: getOrgApps
      parameters:
      - $ref: '#/components/parameters/OrgId__0'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/AppData'
                    type: array
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/PaginatedLinks'
                required:
                - data
                - jsonapi
                - links
                type: object
          description: A list of apps created by the specified organization
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Get a list of Snyk Apps created by an Organization
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      x-snyk-api-resource: apps
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-11-03'
      x-stability-level: stable
    post:
      description: 'Create a new Snyk App for an organization


        #### Required permissions


        - `Create Apps (org.app.create)`'
      operationId: createOrgApp
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/OrgId__0'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AppPostRequest'
        description: Snyk App details for app to be created.
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppPostResponse'
          description: Created Snyk App successfully.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Create a new Snyk App for an organization
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      x-snyk-api-resource: apps
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-11-03'
      x-stability-level: stable
  /orgs/{org_id}/apps/creations/{app_id}:
    delete:
      description: 'Delete a Snyk App by app ID


        #### Required permissions


        - `Delete Apps (org.app.delete)`'
      operationId: deleteAppByID
      parameters:
      - $ref: '#/components/parameters/OrgId__0'
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/Version'
      responses:
        '204':
          description: The app has been deleted
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Delete a Snyk App by app ID
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      x-snyk-api-resource: apps
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-11-03'
      x-stability-level: stable
    get:
      description: 'Get a Snyk App by app ID


        #### Required permissions


        - `View Apps (org.app.read)`'
      operationId: getAppByID
      parameters:
      - $ref: '#/components/parameters/OrgId__0'
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/Version'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/AppData'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/SelfLink'
                type: object
          description: Attributes of the requested Snyk App.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Get a Snyk App by app ID
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      x-snyk-api-resource: apps
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-11-03'
      x-stability-level: stable
    patch:
      description: 'Update app creation attributes with App ID


        #### Required permissions


        - `Edit Apps (org.app.edit)`'
      operationId: updateAppCreationByID
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/OrgId__0'
      - $ref: '#/components/parameters/AppId'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AppPatchRequest'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/AppData'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/SelfLink'
                type: object
          description: Attributes of the updated Snyk App.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Update app creation attributes such as name, redirect URIs, and access token time to live using the App ID
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      x-snyk-api-resource: apps
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-11-03'
      x-stability-level: stable
  /orgs/{org_id}/apps/creations/{app_id}/secrets:
    post:
      description: 'Manage client secret for a Snyk App


        #### Required permissions


        - `Edit Apps (org.app.edit)`'
      operationId: manageAppCreationSecret
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/OrgId__0'
      - $ref: '#/components/parameters/AppId'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  additionalProperties: false
                  properties:
                    attributes:
                      additionalProperties: false
                      properties:
                        mode:
                          description: "Operation to perform:\n  * `replace` - Replace existing secrets with a new generated\nsecret\n  * `create` - Add a new secret, preserving existing secrets\n  * `delete` - Remove an existing secret by value\n"
                          enum:
                          - replace
                          - create
                          - delete
                          type: string
                        secret:
                          description: Secret to delete when using `delete` mode
                          type: string
                      required:
                      - mode
                      type: object
                    type:
                      enum:
                      - app
                      type: string
                  required:
                  - attributes
                  - type
                  type: object
              required:
              - data
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/AppDataWithSecret'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/SelfLink'
                type: object
          description: Secret has been updated.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Manage client secret for a Snyk App
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      x-snyk-api-resource: apps
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-11-03'
      x-stability-level: stable
  /orgs/{org_id}/apps/installs:
    get:
      description: 'Get a list of Snyk Apps installed for an Organization


        #### Required permissions


        - `View Apps (org.app.read)`'
      operationId: getAppInstallsForOrg
      parameters:
      - description: Expand relationships.
        explode: false
        in: query
        name: expand
        schema:
          items:
            enum:
            - app
            type: string
          type: array
        style: form
      - description: Organization ID
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/AppInstallData'
                    type: array
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/PaginatedLinks'
                required:
                - data
                - jsonapi
                - links
                type: object
          description: A list of apps installed for the specified organization.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Get a list of Snyk Apps installed for an Organization
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      - '2024-05-23'
      x-snyk-api-resource: app_installs
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-05-23'
      x-stability-level: stable
    post:
      description: 'Install a Snyk App to this organization, the Snyk App must use unattended authentication e.g. client credentials


        #### Required permissions


        - `Install Apps (org.app.install)`'
      operationId: createOrgAppInstall
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/OrgId__0'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  properties:
                    type:
                      enum:
                      - app_install
                      example: app_install
                      type: string
                  type: object
                relationships:
                  additionalProperties: false
                  properties:
                    app:
                      additionalProperties: false
                      properties:
                        data:
                          additionalProperties: false
                          properties:
                            id:
                              $ref: '#/components/schemas/Uuid'
                            type:
                              enum:
                              - app
                              example: app
                              type: string
                          required:
                          - id
                          - type
                          type: object
                      required:
                      - data
                      type: object
                  required:
                  - app
                  type: object
              required:
              - data
              - relationships
              type: object
        description: App Install to be created
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/AppInstallWithClient'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/PaginatedLinks'
                required:
                - data
                - jsonapi
                - links
                type: object
          description: The newly created app install.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Install a Snyk App for an Organization
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      - '2024-05-23'
      x-snyk-api-resource: app_installs
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-05-23'
      x-stability-level: stable
  /orgs/{org_id}/apps/installs/{install_id}:
    delete:
      description: 'Revoke app authorization for a Snyk organization with install ID


        #### Required permissions


        - `Install Apps (org.app.install)`'
      operationId: deleteAppOrgInstallById
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/OrgId__0'
      - $ref: '#/components/parameters/InstallId'
      responses:
        '204':
          description: The Snyk App install is revoked, with no content (no errors).
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Revoke app authorization for a Snyk organization with install ID
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      - '2024-05-23'
      x-snyk-api-resource: app_installs
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-05-23'
      x-stability-level: stable
  /orgs/{org_id}/apps/installs/{install_id}/secrets:
    post:
      description: 'Manage client secret for non-interactive Snyk App installations


        #### Required permissions


        - `Edit Apps (org.app.edit)`'
      operationId: updateOrgAppInstallSecret
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/OrgId__0'
      - $ref: '#/components/parameters/InstallId'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                data:
                  additionalProperties: false
                  properties:
                    attributes:
                      additionalProperties: false
                      properties:
                        mode:
                          description: "Operation to perform:\n  * `replace` - Replace existing secrets with a new generated\nsecret\n  * `create` - Add a new secret, preserving existing secrets\n  * `delete` - Remove an existing secret by value\n"
                          enum:
                          - replace
                          - create
                          - delete
                          type: string
                        secret:
                          description: Secret to delete when using `delete` mode
                          type: string
                      required:
                      - mode
                      type: object
                    type:
                      enum:
                      - app
                      type: string
                  required:
                  - attributes
                  - type
                  type: object
              required:
              - data
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/AppInstallDataWithSecret'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/SelfLink'
                type: object
          description: Secret has been updated.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Manage client secret for non-interactive Snyk App installations
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      - '2024-05-23'
      x-snyk-api-resource: app_installs
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-05-23'
      x-stability-level: stable
  /orgs/{org_id}/apps/{client_id}:
    delete:
      deprecated: true
      description: 'Delete an app by app id. Deprecated, use /orgs/{org_id}/apps/creations/{app_id} instead.


        #### Required permissions


        - `Delete Apps (org.app.delete)`'
      operationId: deleteApp
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/OrgId__0'
      - $ref: '#/components/parameters/ClientId'
      responses:
        '204':
          description: The app has been deleted
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Delete an app
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2022-03-11'
      x-snyk-api-resource: apps
      x-snyk-api-stability: ga
      x-snyk-api-version: '2022-03-11'
      x-snyk-sunset-eligible: '2024-07-17'
      x-stability-level: stable
    get:
      deprecated: true
      description: 'Get an App by client id. Deprecated, use /orgs/{org_id}/apps/creations/{app_id} instead.


        #### Required permissions


        - `View Apps (org.app.read)`'
      operationId: getApp
      parameters:
      - $ref: '#/components/parameters/OrgId__0'
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/Version'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/AppData20220311'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/SelfLink'
                type: object
          description: Attributes of the requested Snyk App.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Get an app by client id
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2022-03-11'
      x-snyk-api-resource: apps
      x-snyk-api-stability: ga
      x-snyk-api-version: '2022-03-11'
      x-snyk-sunset-eligible: '2024-07-17'
      x-stability-level: stable
    patch:
      deprecated: true
      description: 'Update app attributes. Deprecated, use /orgs/{org_id}/apps/creations/{app_id} instead.


        #### Required permissions


        - `Edit Apps (org.app.edit)`'
      operationId: updateApp
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/OrgId__0'
      - $ref: '#/components/parameters/ClientId'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AppPatchRequest20220311'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/AppData20220311'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/SelfLink'
                type: object
          description: Attributes of the updated Snyk App.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Update app attributes that are name, redirect URIs, and access token time to live
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2022-03-11'
      x-snyk-api-resource: apps
      x-snyk-api-stability: ga
      x-snyk-api-version: '2022-03-11'
      x-snyk-sunset-eligible: '2024-07-17'
      x-stability-level: stable
  /orgs/{org_id}/apps/{client_id}/secrets:
    post:
      deprecated: true
      description: 'Manage client secrets for an app. Deprecated, use /orgs/{org_id}/apps/creations/{app_id}/secrets instead.


        #### Required permissions


        - `Edit Apps (org.app.edit)`'
      operationId: manageSecrets
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/OrgId__0'
      - $ref: '#/components/parameters/ClientId'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              additionalProperties: false
              properties:
                mode:
                  description: "Operation to perform:\n  * `replace` - Replace existing secrets with a new generated\nsecret\n  * `create` - Add a new secret, preserving existing secrets\n  * `delete` - Remove an existing secret by value\n"
                  enum:
                  - replace
                  - create
                  - delete
                  type: string
                secret:
                  description: Secret to delete when using `delete` mode
                  type: string
              required:
              - mode
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/AppDataWithSecret20220311'
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/SelfLink'
                type: object
          description: Secrets have been updated.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Manage client secrets for an app.
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2022-03-11'
      x-snyk-api-resource: apps
      x-snyk-api-stability: ga
      x-snyk-api-version: '2022-03-11'
      x-snyk-sunset-eligible: '2024-07-17'
      x-stability-level: stable
  /self/apps:
    get:
      description: Get a list of Snyk Apps that can act on your behalf
      operationId: getUserInstalledApps
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/PublicApp'
                    type: array
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/PaginatedLinks'
                required:
                - data
                - jsonapi
                - links
                type: object
          description: A list of apps install that can act on your behalf
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Get a list of Snyk Apps that can act on your behalf
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2022-03-11'
      x-snyk-api-resource: user_app_installs
      x-snyk-api-stability: ga
      x-snyk-api-version: '2022-03-11'
      x-stability-level: stable
  /self/apps/installs:
    get:
      description: Get a list of Snyk Apps installed for a user
      operationId: getAppInstallsForUser
      parameters:
      - description: Expand relationships.
        explode: false
        in: query
        name: expand
        schema:
          items:
            enum:
            - app
            type: string
          type: array
        style: form
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/AppInstallData'
                    type: array
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/PaginatedLinks'
                required:
                - data
                - jsonapi
                - links
                type: object
          description: A list of apps installed for the specified organization.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Get a list of Snyk Apps installed for a user
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      - '2024-05-23'
      x-snyk-api-resource: app_installs
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-05-23'
      x-stability-level: stable
  /self/apps/installs/{install_id}:
    delete:
      description: Revoke a Snyk App by install ID
      operationId: deleteUserAppInstallById
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/InstallId'
      responses:
        '204':
          description: The Snyk App install is revoked, with no content (no errors).
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Revoke a Snyk App by install ID
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - '2023-11-03'
      - '2024-05-23'
      x-snyk-api-resource: app_installs
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-05-23'
      x-stability-level: stable
  /self/apps/{app_id}:
    delete:
      description: Revoke access for an app by app id
      operationId: revokeUserInstalledApp
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/AppId'
      responses:
        '204':
          description: Access to the Snyk App is revoked, with no content (no errors).
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Revoke a Snyk App by app ID
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2022-03-11'
      x-snyk-api-resource: user_app_installs
      x-snyk-api-stability: ga
      x-snyk-api-version: '2022-03-11'
      x-stability-level: stable
  /self/apps/{app_id}/sessions:
    get:
      description: Get a list of active OAuth sessions by app ID
      operationId: getUserAppSessions
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/SessionData'
                    type: array
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/PaginatedLinks'
                required:
                - data
                - jsonapi
                type: object
          description: Attributes identifying the active OAuth sessions.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Get a list of active OAuth sessions by app ID
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-03-30~experimental
      - '2023-11-03'
      x-snyk-api-resource: sessions
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-11-03'
      x-stability-level: stable
  /self/apps/{app_id}/sessions/{session_id}:
    delete:
      description: Revoke the Snyk App session of an active user
      operationId: revokeUserAppSession
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/AppId'
      - description: Session ID
        in: path
        name: session_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: The user app sessions has been revoked.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400__0'
        '401':
          $ref: '#/components/responses/401__0'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404__0'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500__0'
      summary: Revoke the Snyk App session of an active user
      tags:
      - Apps
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-03-30~experimental
      - '2023-11-03'
      x-snyk-api-resource: sessions
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-11-03'
      x-stability-level: stable
components:
  parameters:
    EndingBefore:
      description: Return the page of results immediately before this cursor
      example: v1.eyJpZCI6IjExMDAifQo=
      in: query
      name: ending_before
      schema:
        type: string
    StartingAfter:
      description: Return the page of results immediately after this cursor
      example: v1.eyJpZCI6IjEwMDAifQo=
      in: query
      name: starting_after
      schema:
        type: string
    InstallId:
      description: Install ID
      in: path
      name: install_id
      required: true
      schema:
        format: uuid
        type: string
    AppId:
      description: App ID
      in: path
      name: app_id
      required: true
      schema:
        $ref: '#/components/schemas/Uuid'
    Limit:
      description: Number of results to return per page
      example: 10
      in: query
      name: limit
      schema:
        default: 10
        format: int32
        maximum: 100
        minimum: 10
        multipleOf: 10
        type: integer
    Version:
      description: The requested version of the endpoint to process the request
      example: '2026-03-25'
      in: query
      name: version
      required: true
      schema:
        $ref: '#/components/schemas/QueryVersion'
    OrgId__0:
      description: Org ID
      in: path
      name: org_id
      required: true
      schema:
        format: uuid
        type: string
    ClientId:
      description: Client ID
      in: path
      name: client_id
      required: true
      schema:
        $ref: '#/components/schemas/Uuid'
  schemas:
    GrantType20220311:
      description: An authorization grant is a credential representing the resource owner's authorization (to access its protected resources) used by the client to obtain an access token.
      enum:
      - authorization_code
      - client_credentials
      type: string
    ClientSecret:
      description: The oauth2 client secret for the app. This is the only time this secret will be returned, store it securely and don’t lose it.
      example: snyk_cs_ctZW0JsWG^Bm`*oPo=mnV26qU_6pjxht<]S_v1
      minLength: 1
      type: string
    ActualVersion:
      description: Resolved API version
      example: '2026-03-25'
      pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
      type: string
    IsConfidential20220311:
      description: A boolean to indicate if an app is confidential or not as per the OAuth2 RFC.
      example: true
      type: boolean
    JsonApi:
      additionalProperties: false
      example:
        version: '1.0'
      properties:
        version:
          description: Version of the JSON API specification this server supports.
          example: '1.0'
          pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
          type: string
      required:
      - version
      type: object
    AppPostResponse:
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/AppDataWithSecret'
        jsonapi:
          $ref: '#/components/schemas/JsonApi'
        links:
          $ref: '#/components/schemas/SelfLink'
      type: object
    AppPostRequest:
      properties:
        data:
          additionalProperties: false
          properties:
            attributes:
              additionalProperties: false
              properties:
                access_token_ttl_seconds:
                  $ref: '#/components/schemas/AccessTokenTtlSeconds'
                context:
                  $ref: '#/components/schemas/Context__0'
                name:
                  $ref: '#/components/schemas/AppName'
                redirect_uris:
                  $ref: '#/components/schemas/RedirectUris'
                scopes:
                  $ref: '#/components/schemas/Scopes'
              required:
              - name
              - redirect_uris
              - scopes
              - context
              type: object
            type:
              enum:
              - app
              type: string
          required:
          - attributes
          - type
          type: object
      required:
      - data
      type: object
    AppInstallData:
      additionalProperties: false
      properties:
        attributes:
          properties:
            client_id:
              $ref: '#/components/schemas/ClientId'
            installed_at:
              $ref: '#/components/schemas/InstalledAt'
          type: object
        id:
          $ref: '#/components/schemas/Uuid'
        links:
          $ref: '#/components/schemas/Links'
        relationships:
          properties:
            app:
              properties:
                data:
                  $ref: '#/components/schemas/PublicAppData'
              type: object
          type: object
        type:
          $ref: '#/components/schemas/Type'
      required:
      - type
      - id
      - attributes
      type: object
    Type:
      type: string
    ErrorLink:
      additionalProperties: false
      description: A link that leads to further details about this particular occurrance of the problem.
      example:
        about: https://example.com/about_this_error
      properties:
        about:
          example: https://example.com/api/resource
          oneOf:
          - description: A string containing the link’s URL.
            example: https://example.com/api/resource
            type: string
          - additionalProperties: false
            example:
              href: https://example.com/api/resource
            properties:
              href:
                description: A string containing the link’s URL.
                example: https://example.com/api/resource
                type: string
              meta:
                additionalProperties: true
                description: Free-form object that may contain non-standard information.
                example:
                  key1: value1
                  key2:
                    sub_key: sub_value
                  key3:
                  - array_value1
                  - array_value2
                type: object
            required:
            - href
            type: object
      type: object
    ClientId__1:
      description: The OAuth2 client id for the app when available. If an app can have multiple OAuth2 clients then this field with return all zeros. This field is not present for such apps in future versions of this api.
      example: 941b423a-e0a0-4a33-a7ca-dd9e9e6bd8cf
      format: uuid
      type: string
    AppPostResponse20220311:
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/AppDataWithSecret20220311'
        jsonapi:
          $ref: '#/components/schemas/JsonApi'
        links:
          $ref: '#/components/schemas/SelfLink'
      type: object
    AppResourceAttributes20220311:
      additionalProperties: false
      properties:
        access_token_ttl_seconds:
          $ref: '#/components/schemas/AccessTokenTtlSeconds'
        client_id:
          $ref: '#/components/schemas/ClientId__1'
        context:
          $ref: '#/components/schemas/Context'
        grant_type:
          $ref: '#/components/schemas/GrantType20220311'
        is_confidential:
          $ref: '#/components/schemas/IsConfidential20220311'
        is_public:
          $ref: '#/components/schemas/IsPublic'
        name:
          $ref: '#/components/schemas/AppName'
        org_public_id:
          $ref: '#/components/schemas/Uuid'
        redirect_uris:
          $ref: '#/components/schemas/RedirectUrisNoMin'
        scopes:
          $ref: '#/components/schemas/Scopes'
      required:
      - client_id
      - name
      - redirect_uris
      - scopes
      - access_token_ttl_seconds
      - is_public
      - is_confidential
      - context
      - grant_type
      type: object
    QueryVersion:
      description: Requested API version
      example: '2026-03-25'
      pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
      type: string
    ClientId__0:
      description: The oauth2 client id for the app.
      example: 941b423a-e0a0-4a33-a7ca-dd9e9e6bd8cf
      format: uuid
      type: string
    PublicAppData:
      additionalProperties: false
      properties:
        attributes:
          $ref: '#/components/schemas/PublicAppAttributes'
        id:
          $ref: '#/components/schemas/Uuid'
        links:
          $ref: '#/components/schemas/Links'
        type:
          $ref: '#/components/schemas/Type'
      required:
      - type
      - id
      type: object
    AppResourceAttributesWithSecret20220311:
      additionalProperties: false
      properties:
        access_token_ttl_seconds:
          $ref: '#/components/schemas/AccessTokenTtlSeconds'
        client_id:
          $ref: '#/components/schemas/ClientId__1'
        client_secret:
          $ref: '#/components/schemas/ClientSecret'
        context:
          $ref: '#/components/schemas/Context'
        grant_type:
          $ref: '#/components/schemas/GrantType20220311'
        is_confidential:
          $ref: '#/components/schemas/IsConfidential20220311'
        is_public:
          $ref: '#/components/schemas/IsPublic'
        name:
          $ref: '#/components/schemas/AppName'
        org_public_id:
          $ref: '#/components/schemas/Uuid'
        redirect_uris:
          $ref: '#/components/schemas/RedirectUris'
        scopes:
          $ref: '#/components/schemas/Scopes'
      required:
      - client_id
      - name
      - redirect_uris
      - scopes
      - access_token_ttl_seconds
      - is_public
      - is_confidential
      - client_secret
      - context
      - grant_type
      type: object
    Error__0:
      additionalProperties: false
      example:
        detail: Not Found
        status: '404'
      properties:
        code:
          description: An application-specific error code, expressed as a string value.
          example: entity-not-found
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          example: 'The request was missing these required fields: ...'
          type: string
        id:
          description: A unique identifier for this particular occurrence of the problem.
          example: f16c31b5-6129-4571-add8-d589da9be524
          format: uuid
          type: string
        links:
          $ref: '#/components/schemas/ErrorLink'
        meta:
          additionalProperties: true
          example:
            key: value
          type: object
        source:
          additionalProperties: false
          example:
            pointer: /data/attributes
          properties:
            parameter:
              description: A string indicating which URI query parameter caused the error.
              example: param1
              type: string
            pointer:
              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
              example: /data/attributes
              type: string
          type: object
        status:
          description: The HTTP status code applicable to this problem, expressed as a string value.
          example: '400'
          pattern: ^[45]\d\d$
          type: string
        title:
          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
          example: Bad request
          type: string
      required:
      - status
      - detail
      type: object
    ClientSecret20240523:
      description: The OAuth2 client secret for the app. This is the only time this secret will be returned, store it securely and don’t lose it. Only provided for installations of non-interactive Snyk Apps.
      example: snyk_cs_ctZW0JsWG^Bm`*oPo=mnV26qU_6pjxht<]S_v1
      minLength: 1
      type: string
    AppData:
      additionalProperties: false
      properties:
        attributes:
          $ref: '#/components/schemas/AppResourceAttributes'
        id:
          $ref: '#/components/schemas/Id'
        type:
          $ref: '#/components/schemas/Type'
      required:
      - type
      - id
      - attributes
      type: object
    Uuid:
      format: uuid
      type: string
    PublicAppAttributes__0:
      properties:
        client_id:
          $ref: '#/components/schemas/ClientId__0'
        context:
          $ref: '#/components/schemas/Context'
        name:
          $ref: '#/components/schemas/AppName'
        scopes:
          $ref: '#/components/schemas/Scopes'
      required:
      - name
      - client_id
      type: object
    SessionAttributes:
      properties:
        created_at:
          format: date-time
          type: string
      required:
      - created_at
      type: object
    AppDataWithSecret20220311:
      additionalProperties: false
      properties:
        attributes:
          $ref: '#/components/schemas/AppResourceAttributesWithSecret20220311'
        id:
          $ref: '#/components/schemas/Id'
        type:
          $ref: '#/components/schemas/Type'
      required:
      - type
      - id
      - attributes
      type: object
    PublicApp:
      additionalProperties: false
      properties:
        attributes:
          $ref: '#/components/schemas/PublicAppAttributes__0'
        id:
          $ref: '#/components/schemas/Id'
        links:
          $ref: '#/components/schemas/Links'
        type:
          $ref: '#/components/schemas/Type'
      required:
      - type
      - id
      type: object
    RedirectUris:
      description: "List of allowed redirect URIs (OAuth callbacks) where Snyk will redirect users after authorization.\n\nThese are URLs controlled by your application that Snyk will send the user to after they authorize your app. \nThe redirect URI used in your authorization request must exactly match one of the URIs registered here.\n\n**Important:** The redirect URI in your OAuth authorization request must be an exact match (including protocol, domain, path, and query parameters) to one of the URIs specified in this list.\n\n**Example valid redirect URI:** `https://example.com/callback` or `https://myapp.example.com/auth/snyk/callback`\n\nFor more information on the complete OAuth workflow, see the [Snyk Apps API tutorial](https://docs.snyk.io/snyk-api/using-specific-snyk-apis/snyk-apps-apis/tutorial-create-a-snyk-app).\n"
      example:
      - https://example.com/callback
      - https://example.com/auth/snyk/callback
      items:
        format: uri
        type: string
      minItems: 1
      type: array
    AppDataWithSecret:
      additionalProperties: false
      properties:
        attributes:
          $ref: '#/components/schemas/AppResourceAttributesWithSecret'
        id:
          $ref: '#/components/schemas/Id'
        type:
          $ref: '#/components/schemas/Type'
      required:
      - type
      - id
      - attributes
      type: object
    AppData20220311:
      additionalProperties: false
      properties:
        attributes:
          $ref: '#/components/schemas/AppResourceAttributes20220311'
        id:
          $ref: '#/components/schemas/Id'
        type:
          $ref: '#/components/schemas/Type'
      required:
      - type
      - id
      - attributes
      type: object
    AppResourceAttributes:
      additionalProperties: false
      properties:
        access_token_ttl_seconds:
          $ref: '#/components/schemas/AccessTokenTtlSeconds'
        client_id:
          $ref: '#/components/schemas/ClientId__0'
        context:
          $ref: '#/components/schemas/Context__0'
        grant_type:
          $ref: '#/components/schemas/GrantType'
        is_confidential:
          $ref: '#/components/schemas/IsConfidential'
        is_public:
          $ref: '#/components/schemas/IsPublic'
        name:
          $ref: '#/components/schemas/AppName'
        org_public_id:
          $ref: '#/components/schemas/Uuid'
        redirect_uris:
          $ref: '#/components/schemas/RedirectUris'
        scopes:
          $ref: '#/components/schemas/Scopes'
      required:
      - name
      - scopes
      - access_token_ttl_seconds
      - is_public
      - is_confidential
      - context
      - grant_type
      type: object
    ErrorDocument:
      additionalProperties: false
      example:
        errors:
        - detail: Permission denied for this resource
          status: '403'
        jsonapi:
          version: '1.0'
      properties:
        errors:
          example:
          - detail: Permission denied for this resource
            status: '403'
          items:
            additionalProperties: false
            example:
              detail: Not Found
              status: '404'
            properties:
              code:
                description: An application-specific error code, expressed as a string value.
                example: entity-not-found
                type: string
              detail:
                description: A human-readable explanation specific to this occurrence of the problem.
                example: 'The request was missing these required fields: ...'
                type: string
              id:
                description: A unique identifier for this particular occurrence of the problem.
                example: f16c31b5-6129-4571-add8-d589da9be524
                format: uuid
                type: string
              links:
                additionalProperties: false
                description: A link that leads to further details about this particular occurrance of the problem.
                example:
                  about: https://example.com/about_this_error
                properties:
                  about:
                    example: https://example.com/api/resource
                    oneOf:
                    - description: A string containing the link’s URL.
                      example: https://example.com/api/resource
                      type: string
                    - additionalProperties: false
                      example:
                        href: https://example.com/api/resource
                      properties:
                        href:
                          description: A string containing the link’s URL.
                          example: https://example.com/api/resource
                          type: string
                        meta:
                          additionalProperties: true
                          description: Free-form object that may contain non-standard information.
                          example:
                            key1: value1
                            key2:
                              sub_key: sub_value
                            key3:
                            - array_value1
                            - array_value2
                          type: object
                      required:
                      - href
                      type: object
                type: object
              meta:
                additionalProperties: true
                example:
                  key: value
                type: object
              source:
                additionalProperties: false
                example:
                  pointer: /data/attributes
                properties:
                  parameter:
                    description: A string indicating which URI query parameter caused the error.
                    example: param1
                    type: string
                  pointer:
                    description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                    example: /data/attributes
                    type: string
                type: object
              status:
                description: The HTTP status code applicable to this problem, expressed as a string value.
                example: '400'
                pattern: ^[45]\d\d$
                type: string
              title:
                description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                example: Bad request
                type: string
            required:
            - status
            - detail
            type: object
          minItems: 1
          type: array
        jsonapi:
          additionalProperties: false
          example:
            version: '1.0'
          properties:
            version:
              description: Version of the JSON API specification this server supports.
              example: '1.0'
              pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
              type: string
          required:
          - version
          type: object
      required:
      - jsonapi
      - errors
      type: object
    AppName:
      description: New name of the app to display to users during authorization flow.
      example: My App
      minLength: 1
      type: string
    AccessTokenTtlSeconds:
      description: The access token time to live for your app, in seconds. It only affects the newly generated access tokens, existing access token will  continue to have their previous time to live as expiration.
      example: 3600
      maximum: 86400
      minimum: 3600
      type: number
    PublicAppAttributes:
      additionalProperties: false
      properties:
        client_id:
          $ref: '#/components/schemas/Uuid'
        context:
          $ref: '#/components/schemas/Context'
        name:
          $ref: '#/components/schemas/AppName'
        scopes:
          $ref: '#/components/schemas/Scopes'
      required:
      - name
      - client_id
      type: object
    AppResourceAttributesWithSecret:
      additionalProperties: false
      properties:
        access_token_ttl_seconds:
          $ref: '#/components/schemas/AccessTokenTtlSeconds'
        client_id:
          $ref: '#/components/schemas/ClientId__0'
        client_secret:
          $ref: '#/components/schemas/ClientSecret'
        context:
          $ref: '#/components/schemas/Context__0'
        grant_type:
          $ref: '#/components/schemas/GrantType'
        is_confidential:
          $ref: '#/components/schemas/IsConfidential'
        is_public:
          $ref: '#/components/schemas/IsPublic'
        name:
          $ref: '#/components/schemas/AppName'
        org_public_id:
          $ref: '#/components/schemas/Uuid'
        redirect_uris:
          $ref: '#/components/schemas/RedirectUris'
        scopes:
          $ref: '#/components/schemas/Scopes'
      required:
      - client_id
      - name
      - redirect_uris
      - scopes
      - access_token_ttl_seconds
      - is_public
      - is_confidential
      - client_secret
      - context
      - grant_type
      type: object
    Id:
      format: uuid
      type: string
    SelfLink:
      additionalProperties: false
      example:
        self: https://example.com/api/this_resource
      properties:
        self:
          $ref: '#/components/schemas/LinkProperty'
      type: object
    AppPatchRequest20220311:
      additionalProperties: false
      minProperties: 1
      properties:
        access_token_ttl_seconds:
          $ref: '#/components/schemas/AccessTokenTtlSeconds'
        name:
          $ref: '#/components/schemas/AppName'
        redirect_uris:
          $ref: '#/components/schemas/RedirectUris'
      type: object
    AppInstallDataWithSecret:
      additionalProperties: false
      properties:
        attributes:
          properties:
            client_id:
              $ref: '#/components/schemas/ClientId'
            client_secret:
              $ref: '#/components/schemas/ClientSecret20240523'
            installed_at:
              $ref: '#/components/schemas/InstalledAt'
          required:
          - client_id
          - client_secret
          type: object
        id:
          $ref: '#/components/schemas/Uuid'
        links:
          $ref: '#/components/schemas/Links'
        relationships:
          properties:
            app:
              properties:
                data:
                  $ref: '#/components/schemas/PublicAppData'
              type: object
          type: object
        type:
          $ref: '#/components/schemas/Type'
      required:
      - type
      - id
      - attributes
      type: object
    IsConfidential:
      description: A boolean to indicate if an app is confidential or not as per the OAuth2 RFC. Confidential apps can securely store secrets. Examples of non-confidential apps are full web-based or CLIs.
      example: true
      type: boolean
    Scopes:
      description: The scopes this app is allowed to request during authorization.
      items:
        minLength: 1
        type: string
      minItems: 1
      type: array
    ClientId:
      description: The OAuth2 client id for the app installation. Only provided for installations of non-interactive Snyk Apps.
      example: 941b423a-e0a0-4a33-a7ca-dd9e9e6bd8cf
      format: uuid
      type: string
    ErrorDocument__0:
      additionalProperties: false
      example:
        errors:
        - detail: Permission denied for this resource
          status: '403'
        jsonapi:
          version: '1.0'
      properties:
        errors:
          example:
          - detail: Permission denied for this resource
            status: '403'
          items:
            $ref: '#/components/schemas/Error__0'
          minItems: 1
          type: array
        jsonapi:
          $ref: '#/components/schemas/JsonApi'
      required:
      - jsonapi
      - errors
      type: object
    GrantType:
      description: An authorization grant is a credential representing the resource owner's authorization (to access its protected resources) used by the client to obtain an access token. The grant type represents the way your app will get the access token.
      enum:
      - authorization_code
      - client_credentials
      type: string
    SessionData:
      additionalProperties: false
      properties:
        attributes:
          $ref: '#/components/schemas/SessionAttributes'
        id:
          $ref: '#/components/schemas/Id'
        type:
          $ref: '#/components/schemas/Type'
      required:
      - type
      - id
      - attributes
      type: object
    AppPatchRequest:
      properties:
        data:
          properties:
            attributes:
              additionalProperties: false
              minProperties: 1
              properties:
                access_token_ttl_seconds:
                  $ref: '#/components/schemas/AccessTokenTtlSeconds'
                name:
                  $ref: '#/components/schemas/AppName'
                redirect_uris:
                  $ref: '#/components/schemas/RedirectUris'
              type: object
            type:
              enum:
              - app
              type: string
          type: object
      required:
      - data
      type: object
    AppBot:
      additionalProperties: false
      properties:
        attributes:
          type: object
        id:
          $ref: '#/components/schemas/Id'
        links:
[...]
