openapi: 3.0.3
info:
  title: Snyk AccessRequests Tests API
  version: REST
servers:
- description: Snyk REST API
  url: https://api.snyk.io/rest
security:
- APIToken: []
- BearerAuth: []
tags:
- name: Tests
paths:
  /orgs/{org_id}/test_jobs/{job_id}:
    get:
      description: 'Get a test job.


        The Test API is Asynchronous, and Tests begun through the API

        are assigned a Job ID which references the in-progress Test. The

        Job ID is provided in a successful response from the CreateTest

        endpoint.


        This endpoint is used to poll for the status of a Test using its

        associated Job ID.


        When the Job is Finished and the Test is ready for consumption,

        the Related link will be populated in the response with a link

        to the finished Test entity.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: getJob
      parameters:
      - $ref: '#/components/parameters/io.snyk.api.request.SnykApiRequest.request_id'
      - $ref: '#/components/parameters/io.snyk.api.request.SnykApiRequest.interaction_id'
      - $ref: '#/components/parameters/io.snyk.api.request.SnykApiRequest.version'
      - description: 'Snyk Org ID under which to run or query information

          about a Job or Test.'
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Job ID returned from the Test API to query.
        in: path
        name: job_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    description: JobData represents a Job resource object.
                    properties:
                      attributes:
                        description: JobAttributes represents the attributes of a Job resource
                        properties:
                          created_at:
                            description: Creation time of the job resource
                            format: date-time
                            type: string
                          status:
                            allOf:
                            - enum:
                              - pending
                              - started
                              - finished
                              - errored
                              type: string
                            description: State of the test, whether it is pending, running, complete or errored.
                        required:
                        - status
                        - created_at
                        type: object
                      id:
                        format: uuid
                        type: string
                      relationships:
                        properties:
                          test:
                            allOf:
                            - properties:
                                data:
                                  properties:
                                    id:
                                      format: uuid
                                      type: string
                                    type:
                                      enum:
                                      - tests
                                      type: string
                                  required:
                                  - id
                                  - type
                                  type: object
                              required:
                              - data
                              type: object
                            description: Test resource associated with the finished Job.
                        required:
                        - test
                        type: object
                      type:
                        enum:
                        - test_jobs
                        type: string
                    required:
                    - id
                    - attributes
                    - type
                    type: object
                  jsonapi:
                    $ref: '#/components/schemas/io.snyk.api.common.JsonApi'
                  links:
                    additionalProperties:
                      $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
                    properties:
                      related:
                        $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
                      self:
                        $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
                    type: object
                  meta:
                    $ref: '#/components/schemas/io.snyk.api.common.Meta'
                required:
                - data
                - jsonapi
                - links
                type: object
          description: Successful API response with a single resource
          headers:
            deprecation:
              schema:
                type: string
            snyk-request-id:
              schema:
                type: string
            snyk-version-lifecycle-stage:
              schema:
                type: string
            snyk-version-requested:
              schema:
                type: string
            snyk-version-served:
              schema:
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
        '303':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    description: JobData represents a Job resource object.
                    properties:
                      attributes:
                        description: JobAttributes represents the attributes of a Job resource
                        properties:
                          created_at:
                            description: Creation time of the job resource
                            format: date-time
                            type: string
                          status:
                            allOf:
                            - enum:
                              - pending
                              - started
                              - finished
                              - errored
                              type: string
                            description: State of the test, whether it is pending, running, complete or errored.
                        required:
                        - status
                        - created_at
                        type: object
                      id:
                        format: uuid
                        type: string
                      relationships:
                        properties:
                          test:
                            allOf:
                            - properties:
                                data:
                                  properties:
                                    id:
                                      format: uuid
                                      type: string
                                    type:
                                      enum:
                                      - tests
                                      type: string
                                  required:
                                  - id
                                  - type
                                  type: object
                              required:
                              - data
                              type: object
                            description: Test resource associated with the finished Job.
                        required:
                        - test
                        type: object
                      type:
                        enum:
                        - test_jobs
                        type: string
                    required:
                    - id
                    - attributes
                    - type
                    type: object
                  jsonapi:
                    $ref: '#/components/schemas/io.snyk.api.common.JsonApi'
                  links:
                    additionalProperties:
                      $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
                    properties:
                      related:
                        $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
                      self:
                        $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
                    type: object
                  meta:
                    $ref: '#/components/schemas/io.snyk.api.common.Meta'
                required:
                - data
                - jsonapi
                - links
                type: object
          description: Redirect to another resource after async processing.
          headers:
            deprecation:
              schema:
                type: string
            location:
              required: true
              schema:
                type: string
            snyk-request-id:
              schema:
                type: string
            snyk-version-lifecycle-stage:
              schema:
                type: string
            snyk-version-requested:
              schema:
                type: string
            snyk-version-served:
              schema:
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
        '400':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/io.snyk.api.common.ErrorDocument'
          description: Invalid input
          headers:
            deprecation:
              schema:
                type: string
            snyk-request-id:
              schema:
                type: string
            snyk-version-lifecycle-stage:
              schema:
                type: string
            snyk-version-requested:
              schema:
                type: string
            snyk-version-served:
              schema:
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
      summary: Get a test job. (Early Access)
      tags:
      - Tests
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: tests
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/tests:
    post:
      description: 'Create a new test.


        Provide the items to be tested by Snyk as well as any configuration

        parameters for the test to be run.


        Currently, scans using the Open Source (SCA) and Code Analysis (SAST)

        scanners can be run using the Test API.


        Tests begun through the Test API yield lists of Findings when

        finished. These Findings can be retrieved using the ListFindings endpoint.


        Successfully creating a new Test will yield a Job ID that can be used

        to poll for the Test''s completion via the GetJob endpoint.


        #### Required permissions


        - `View Organization (org.read)`


        - `Test packages (org.package.test)`'
      operationId: createTest
      parameters:
      - $ref: '#/components/parameters/io.snyk.api.request.SnykApiRequest.request_id'
      - $ref: '#/components/parameters/io.snyk.api.request.SnykApiRequest.interaction_id'
      - $ref: '#/components/parameters/io.snyk.api.request.SnykApiRequest.version'
      - description: 'Snyk Org ID under which to run or query information

          about a Job or Test.'
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/TestRequestBody'
        required: true
      responses:
        '202':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    properties:
                      attributes:
                        description: JobAttributes represents the attributes of a Job resource
                        properties:
                          created_at:
                            description: Creation time of the job resource
                            format: date-time
                            type: string
                          status:
                            allOf:
                            - enum:
                              - pending
                              - started
                              - finished
                              - errored
                              type: string
                            description: State of the test, whether it is pending, running, complete or errored.
                        required:
                        - status
                        - created_at
                        type: object
                      id:
                        format: uuid
                        type: string
                      type:
                        enum:
                        - test_jobs
                        type: string
                    required:
                    - type
                    - id
                    - attributes
                    type: object
                  jsonapi:
                    $ref: '#/components/schemas/io.snyk.api.common.JsonApi'
                  links:
                    additionalProperties:
                      $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
                    properties:
                      related:
                        $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
                      self:
                        $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
                    type: object
                  meta:
                    $ref: '#/components/schemas/io.snyk.api.common.Meta'
                required:
                - data
                - jsonapi
                - links
                type: object
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            content-location:
              description: A pointer to the newly created Test resource
              required: true
              schema:
                format: string
                type: string
            deprecation:
              schema:
                type: string
            snyk-request-id:
              schema:
                type: string
            snyk-version-lifecycle-stage:
              schema:
                type: string
            snyk-version-requested:
              schema:
                type: string
            snyk-version-served:
              schema:
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
        '400':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/io.snyk.api.common.ErrorDocument'
          description: Invalid input
          headers:
            deprecation:
              schema:
                type: string
            snyk-request-id:
              schema:
                type: string
            snyk-version-lifecycle-stage:
              schema:
                type: string
            snyk-version-requested:
              schema:
                type: string
            snyk-version-served:
              schema:
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
      summary: Create a new test. (Early Access)
      tags:
      - Tests
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: tests
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
  /orgs/{org_id}/tests/{test_id}:
    get:
      description: 'Get a test.


        A Test returned through this endpoint is intended to

        be a completed Test with results. The data returned through

        this endpoint does not contain the Findings for the Test, but

        a description of the Test that was run and its status.


        Tests that completed successfully are marked with an appropriate

        outcome according to the configured Thresholds.


        Facts about the Test (e.g. how many dependencies were present in

        a Tested SBOM) are attached to this response as well as a summary

        of the Findings uncovered during the Test.


        Any Errors or Warnings that occurred during the Test will be present in the

        response from this endpoint.


        The response will also contain a link to the first page of the Test''s

        Findings.


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: getTest
      parameters:
      - $ref: '#/components/parameters/io.snyk.api.request.SnykApiRequest.request_id'
      - $ref: '#/components/parameters/io.snyk.api.request.SnykApiRequest.interaction_id'
      - $ref: '#/components/parameters/io.snyk.api.request.SnykApiRequest.version'
      - description: 'Snyk Org ID under which to run or query information

          about a Job or Test.'
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/TestIdParam'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/TestData'
                  jsonapi:
                    $ref: '#/components/schemas/io.snyk.api.common.JsonApi'
                  links:
                    additionalProperties:
                      $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
                    properties:
                      related:
                        $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
                      self:
                        $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
                    type: object
                  meta:
                    $ref: '#/components/schemas/io.snyk.api.common.Meta'
                required:
                - data
                - jsonapi
                - links
                type: object
          description: Successful API response with a single resource
          headers:
            deprecation:
              schema:
                type: string
            snyk-request-id:
              schema:
                type: string
            snyk-version-lifecycle-stage:
              schema:
                type: string
            snyk-version-requested:
              schema:
                type: string
            snyk-version-served:
              schema:
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
        '400':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/io.snyk.api.common.ErrorDocument'
          description: Invalid input
          headers:
            deprecation:
              schema:
                type: string
            snyk-request-id:
              schema:
                type: string
            snyk-version-lifecycle-stage:
              schema:
                type: string
            snyk-version-requested:
              schema:
                type: string
            snyk-version-served:
              schema:
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                format: date
                type: string
      summary: Get a test. (Early Access)
      tags:
      - Tests
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: tests
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-stability-level: beta
components:
  schemas:
    TestExecutionStates:
      enum:
      - pending
      - started
      - finished
      - errored
      type: string
    DepGraphSubjectCreate:
      description: '**Deprecated**


        Provide an InlineResource with the DepGraph contents

        and the SCA Scan Configuration instead.


        Test subject representing a Snyk dependency graph (a legacy SBOM format).'
      properties:
        dep_graph:
          allOf:
          - $ref: '#/components/schemas/DepGraphRef'
          description: 'When creating a test, provide the dep-graph contents inline to the request.


            This attribute is only available when creating a new Test.'
        locator:
          allOf:
          - $ref: '#/components/schemas/LocalPathLocator'
          description: 'Source file(s) from which the dependency graph was derived.


            For some managed package ecosystems (examples: Maven, Yarn workspaces),

            Snyk might derive a dependency graph from several files.'
        type:
          enum:
          - dep_graph
          type: string
      required:
      - type
      - dep_graph
      - locator
      type: object
    ScmContext:
      description: 'Additional SCM information about a resource.

        Provides context about where the content came from; the resource itself is the testable item.

        ScmResource does not use this; it identifies SCM via its own fields.'
      properties:
        branch:
          maxLength: 256
          type: string
        commit_ref:
          maxLength: 1024
          type: string
        repo_url:
          maxLength: 1024
          type: string
      type: object
    String256:
      maxLength: 256
      type: string
    TestOutcome:
      description: Outcome of a test; pass or fail.
      properties:
        breached_policies:
          allOf:
          - $ref: '#/components/schemas/PolicyRefSet'
          description: 'Test-level policies which were breached in a failing outcome.


            This array may be truncated for a large number of policies.'
        reason:
          allOf:
          - $ref: '#/components/schemas/TestOutcomeReason'
          description: Reason for the outcome, if applicable.
        result:
          allOf:
          - $ref: '#/components/schemas/PassFail'
          description: Whether the test passed or failed.
      required:
      - result
      type: object
    io.snyk.api.v1testdepgraph.request.Package:
      additionalProperties: {}
      properties:
        id:
          type: string
        info:
          $ref: '#/components/schemas/io.snyk.api.v1testdepgraph.request.PackageInfo'
      required:
      - id
      - info
      type: object
    LocalPathLocator:
      description: 'LocalPathLocator locates a test subject by local file paths, relative to the

        working copy top-level directory of the source code.'
      properties:
        paths:
          description: Local file paths. Limited to 256 characters.
          items:
            $ref: '#/components/schemas/String256'
          minItems: 1
          type: array
        type:
          enum:
          - local_path
          type: string
      required:
      - type
      - paths
      type: object
    SastScanConfiguration:
      description: Scan configuration parameters for the SAST scanner.
      type: object
    io.snyk.api.v1testdepgraph.request.NodeRef:
      additionalProperties: {}
      properties:
        nodeId:
          type: string
      required:
      - nodeId
      type: object
    io.snyk.api.v1testdepgraph.request.Node:
      additionalProperties: {}
      properties:
        deps:
          items:
            $ref: '#/components/schemas/io.snyk.api.v1testdepgraph.request.NodeRef'
          type: array
        nodeId:
          type: string
        pkgId:
          type: string
      required:
      - nodeId
      - pkgId
      - deps
      type: object
    TestSubjectLocator:
      discriminator:
        mapping:
          local_path: '#/components/schemas/LocalPathLocator'
          other: '#/components/schemas/OtherLocator'
          project_entity: '#/components/schemas/ProjectEntityLocator'
          project_name: '#/components/schemas/ProjectNameLocator'
          scm_repo: '#/components/schemas/ScmRepoLocator'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/ProjectEntityLocator'
      - $ref: '#/components/schemas/ProjectNameLocator'
      - $ref: '#/components/schemas/ScmRepoLocator'
      - $ref: '#/components/schemas/LocalPathLocator'
      - $ref: '#/components/schemas/OtherLocator'
    DiffResource:
      description: 'DiffResources contain two versions of the same content

        to compare against each other.


        The Base and Compare fields contain Resources representing

        an "existing" (base) version as well as a "new" (compare)

        version. Most commonly these Resources will be of the same type,

        e.g. an ScmResource containing a reference the `main` branch being

        compared to an ScmResource containing a reference to a new

        feature branch.


        Currently no scans are supported through the Test API

        for DiffResources.'
      example:
        base:
          file_patterns: []
          integration_id: 00000000-0000-0000-0000-000000000000
          ref: main
          repo_url: https://github.com/example/repo
          type: scm
        compare:
          file_patterns: []
          integration_id: 00000000-0000-0000-0000-000000000000
          ref: feat/homepage
          repo_url: https://github.com/example/repo
          type: scm
        type: diff
      properties:
        base:
          $ref: '#/components/schemas/BaseResourceVariant'
        compare:
          $ref: '#/components/schemas/BaseResourceVariant'
        type:
          enum:
          - diff
          type: string
      required:
      - type
      - base
      - compare
      type: object
    ScanConfiguration:
      description: 'A map of scanner types to their specific set of

        configuration parameters.


        The presence of a scanner''s configuration in the

        provided ScanConfiguration is used to determine what scans

        to run on the list of Resources provided.


        Note that an empty config object is different than

        omitting the field. An omitted scanner config results in

        that scanner not being run. A provided empty scan config

        will run the scanner if it is possible.'
      example:
        secrets: {}
      properties:
        container:
          $ref: '#/components/schemas/ContainerScanConfiguration'
        iac:
          $ref: '#/components/schemas/IacScanConfiguration'
        sast:
          $ref: '#/components/schemas/SastScanConfiguration'
        sca:
          $ref: '#/components/schemas/ScaScanConfiguration'
        secrets:
          $ref: '#/components/schemas/SecretsScanConfiguration'
      type: object
    BaseResourceCreateItem:
      description: BaseResources contain a single instance of testable content.
      example:
        resource:
          content_type: source
          file_patterns: []
          repository_url: https://github.com/example/repo
          revision_id: 00000000-0000-0000-0000-000000000000
          root_folder_id: .
          type: upload
        type: base
      properties:
        resource:
          allOf:
          - $ref: '#/components/schemas/BaseResourceVariantCreateItem'
          description: The specific representation of what content to test.
        type:
          enum:
          - base
          type: string
      required:
      - type
      - resource
      type: object
    DeepcodeBundleSubject:
      description: '**Deprecated**


        Provide a BundleResource and include the

        SAST Scan Configuration instead.


        Test subject representing source code uploaded to Snyk using DeepCode

        bundle APIs.


        Deepcode bundles are accepted through the API, but are not

        guaranteed to return Findings.'
      properties:
        bundle_id:
          description: Deepcode Bundle ID. These IDs are sha256 digests (32 bytes or 64 hex digits).
          pattern: ^[a-fA-F0-9]{64}$
          type: string
        locator:
          allOf:
          - $ref: '#/components/schemas/LocalPathLocator'
          description: Locate local paths from which the source code bundle was derived.
        type:
          enum:
          - deepcode_bundle
          type: string
      required:
      - type
      - bundle_id
      - locator
      type: object
    TestSubject:
      description: 'The subject of a test, which identifies the asset/project and content references

        necessary to conduct a security test.'
      discriminator:
        mapping:
          deepcode_bundle: '#/components/schemas/DeepcodeBundleSubject'
          dep_graph: '#/components/schemas/DepGraphSubject'
          git_url_coordinates: '#/components/schemas/GitUrlCoordinatesSubject'
          other: '#/components/schemas/OtherSubject'
          sbom: '#/components/schemas/SbomSubject'
          sbom_reachability: '#/components/schemas/SbomReachabilitySubject'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/DeepcodeBundleSubject'
      - $ref: '#/components/schemas/DepGraphSubject'
      - $ref: '#/components/schemas/GitUrlCoordinatesSubject'
      - $ref: '#/components/schemas/SbomReachabilitySubject'
      - $ref: '#/components/schemas/OtherSubject'
      - $ref: '#/components/schemas/SbomSubject'
    BaseResourceVariantCreateItem:
      discriminator:
        mapping:
          bundle: '#/components/schemas/BundleResource'
          container: '#/components/schemas/ContainerRepoResource'
          inline: '#/components/schemas/InlineResourceCreateItem'
          scm: '#/components/schemas/ScmResource'
          snyk_ref: '#/components/schemas/SnykReferenceResource'
          upload: '#/components/schemas/UploadResource'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/InlineResourceCreateItem'
      - $ref: '#/components/schemas/BundleResource'
      - $ref: '#/components/schemas/UploadResource'
      - $ref: '#/components/schemas/ScmResource'
      - $ref: '#/components/schemas/ContainerRepoResource'
      - $ref: '#/components/schemas/SnykReferenceResource'
    SdlcStage:
      description: SDLC stage where the test was initiated.
      enum:
      - ide
      - cli
      - pr_check
      - ci_cd
      - mcp
      - other
      type: string
    ContainerRepoResource:
      description: 'Resource representing a container repository.


        Container Repos identify a specific container

        image in a container registry. These images can be scanned

        using the Snyk Container scanner.


        Currently no scans are supported through the Test API for

        ContainerRepoResources.'
      example:
        image_url: https://docker.io/example/image
        tag: version_0.0.0
        type: container
      properties:
        image_url:
          description: 'URL at which the specific container image can be found

            in a container registry.'
          format: url
          maxLength: 1024
          type: string
        scm_context:
          $ref: '#/components/schemas/ScmContext'
        tag:
          description: Tagged version of the container to scan.
          type: string
        type:
          enum:
          - container
          type: string
      required:
      - type
      - image_url
      - tag
      type: object
    TestDataCreate:
      description: TestData represents a Test resource object.
      properties:
        attributes:
          $ref: '#/components/schemas/TestAttributesCreate'
        type:
          enum:
          - tests
          type: string
      required:
      - type
      - attributes
      type: object
    io.snyk.api.v1testdepgraph.request.PackageManager:
      additionalProperties: {}
      properties:
        name:
          type: string
      required:
      - name
      type: object
    ScaScanConfiguration:
      description: Scan configuration parameters for the SCA scanner.
      type: object
    io.snyk.api.common.ErrorDocument:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/io.snyk.api.common.Error'
          minItems: 1
          type: array
        jsonapi:
          $ref: '#/components/schemas/io.snyk.api.common.JsonApi'
      required:
      - jsonapi
      - errors
      type: object
    io.snyk.api.common.LinkObject:
      properties:
        href:
          $ref: '#/components/schemas/io.snyk.api.common.LinkString'
        meta:
          $ref: '#/components/schemas/io.snyk.api.common.Meta'
      required:
      - href
      type: object
    io.snyk.api.v1testdepgraph.request.PackageInfo:
      additionalProperties: {}
      properties:
        name:
          type: string
        version:
          type: string
      required:
      - name
      - version
      type: object
    FindingSummary:
      description: Summary of findings found by the Test.
      properties:
        count:
          description: Total count of findings.
          example: 30
          format: uint32
          type: integer
        count_by:
          additionalProperties:
            additionalProperties:
              format: uint32
              type: integer
            type: object
          description: 'Counts of findings grouped by various finding attributes.


            The outer record is keyed by finding attribute name. The value is a record

            keyed by distinct values of this attribute, whose value is the number of

            findings with a distinct value.'
          example:
            result_type:
              sast: 12
              sca: 18
            severity:
              critical: 2
              high: 3
              low: 15
              medium: 10
          type: object
      required:
      - count
      type: object
    BaseResource:
      description: BaseResources contain a single instance of testable content.
      example:
        resource:
          content_type: source
          file_patterns: []
          repository_url: https://github.com/example/repo
          revision_id: 00000000-0000-0000-0000-000000000000
          root_folder_id: .
          type: upload
        type: base
      properties:
        resource:
          allOf:
          - $ref: '#/components/schemas/BaseResourceVariant'
          description: The specific representation of what content to test.
        type:
          enum:
          - base
          type: string
      required:
      - type
      - resource
      type: object
    TestData:
      description: TestData represents a Test resource object.
      properties:
        attributes:
          $ref: '#/components/schemas/TestAttributes'
        id:
          format: uuid
          readOnly: true
          type: string
        links:
          properties:
            findings:
              allOf:
              - $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
              description: Link to the findings discovered by the test, when it completes.
          readOnly: true
          type: object
        type:
          enum:
          - tests
          type: string
      required:
      - id
      - type
      - attributes
      type: object
    io.snyk.api.common.Meta:
      additionalProperties: {}
      description: Free-form object that may contain non-standard information.
      type: object
    ReachabilityFilter:
      description: Represent various reachability filters available for findings.
      enum:
      - reachable
      - no_path_found
      - no_info
      type: string
    BundleResource:
      description: 'Resource representing Bundles of files created through the

        Deepcode Bundle API.


        Bundles contain collections of files uploaded by clients to

        Snyk for testing.


        BundleResources can be marked either as SBOM or Source to

        indicate the contents of the Bundle.


        SBOM BundleResources should provide the following fields:

        - type

        - bundle_id

        - name

        - file_patterns (may be empty)


        Source BundleResources should provide the following fields:

        - type

        - bundle_id

        - repository_url

        - root_folder_id

        - file_patterns (may be empty)


        Currently supported scans utilizing BundleResources are:

        - SAST: (1) BundleResource containing Source files.

        - SBOM (SCA): (1) BundleResource containing an SBOM

        - SBOM + Reachability Analysis (SCA): (1) BundleResource containing an SBOM, (1) BundleResource containing Source files.'
      example:
        bundle_id: 0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
        content_type: source
        file_patterns: []
        repository_url: https://github.com/example/repo
        root_folder_id: .
        type: bundle
      properties:
        bundle_id:
          description: 'The ID returned from the Files Bundle Store API for a given Bundle.

            The Deepcode Bundle API is not intended for direct public use,

            and will be replaced with the File Upload API in the future.


            These IDs are sha256 digests (32 bytes or 64 hex digits).'
          example: 0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
          pattern: ^[a-fA-F0-9]{64}$
          type: string
        content_type:
          description: 'Content present in the Bundle.


            Currently only SBOMs and Source files are accepted

            content types.'
          enum:
          - sbom
          - source
          type: string
        file_patterns:
          description: 'File Patterns to include in the scan. Elements must be less than 256 characters.


            Currently unsupported. Provide an empty list.'
          items:
            $ref: '#/components/schemas/String256'
          maxItems: 20
          type: array
        name:
          description: 'A name to assign to the SBOM contained in the BundleRevision.


            Overrides the filename in the BundleRevision.'
          maxLength: 256
          type: string
        repository_url:
          description: Repository URL at which the Source files are stored.
          maxLength: 1024
          type: string
        root_folder_id:
          description: Folder inside the BundleRevision at which the Source files are located.
          maxLength: 1024
          type: string
        scm_context:
          $ref: '#/components/schemas/ScmContext'
        type:
          enum:
          - bundle
          type: string
      required:
      - type
      - bundle_id
      - content_type
      - file_patterns
      type: object
    TestOutcomeReason:
      description: Reasons for the outcome.
      enum:
      - policy_breach
      - timeout
      - other
      type: string
    TestSubjectCreate:
      description: 'The subject of a test, which identifies the asset/project and content references

        necessary to conduct a security test.'
      discriminator:
        mapping:
          deepcode_bundle: '#/components/schemas/DeepcodeBundleSubject'
          dep_graph: '#/components/schemas/DepGraphSubjectCreate'
          git_url_coordinates: '#/components/schemas/GitUrlCoordinatesSubject'
          other: '#/components/schemas/OtherSubject'
          sbom: '#/components/schemas/SbomSubject'
          sbom_reachability: '#/components/schemas/SbomReachabilitySubject'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/DeepcodeBundleSubject'
      - $ref: '#/components/schemas/DepGraphSubjectCreate'
      - $ref: '#/components/schemas/GitUrlCoordinatesSubject'
      - $ref: '#/components/schemas/SbomReachabilitySubject'
      - $ref: '#/components/schemas/OtherSubject'
      - $ref: '#/components/schemas/SbomSubject'
    ProjectNameLocator:
      description: ProjectNameLocator locates a Snyk Project by its name.
      properties:
        project_name:
          description: Name of the Snyk Project.
          type: string
        target_reference:
          description: 'Target reference which differentiates this project, for example, with a

            branch name or version. Projects having the same reference can be grouped

            based on that reference.'
          type: string
        type:
          enum:
          - project_name
          type: string
      required:
      - type
      - project_name
      type: object
    InlineResource:
      description: 'Resource comprised of file contents included directly in

        a request body.


        Currently supported scans utilizing InlineResources are:

        - SCA (Open Source): (1) InlineResource containing a Dep Graph'
      example:
        content:
          dep_graph:
            graph:
              nodes:
              - deps: []
                nodeId: root-node
                pkgId: snyk@1.0.0-monorepo
              rootNodeId: root-node
            pkgManager:
              name: npm
            pkgs:
            - id: snyk@1.0.0-monorepo
              info:
                name: snyk
                version: 1.0.0-monorepo
            schemaVersion: 1.3.0
          type: dep_graph
        name: dep_graph.json
        type: inline
      properties:
        name:
          maxLength: 256
          type: string
        scm_context:
          $ref: '#/components/schemas/ScmContext'
        type:
          enum:
          - inline
          type: string
      required:
      - type
      - name
      type: object
    BaseResourceVariant:
      discriminator:
        mapping:
          bundle: '#/components/schemas/BundleResource'
          container: '#/components/schemas/ContainerRepoResource'
          inline: '#/components/schemas/InlineResource'
          scm: '#/components/schemas/ScmResource'
          snyk_ref: '#/components/schemas/SnykReferenceResource'
          upload: '#/components/schemas/UploadResource'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/InlineResource'
      - $ref: '#/components/schemas/BundleResource'
      - $ref: '#/components/schemas/UploadResource'
      - $ref: '#/components/schemas/ScmResource'
      - $ref: '#/components/schemas/ContainerRepoResource'
      - $ref: '#/components/schemas/SnykReferenceResource'
    TestConfiguration:
      description: Test configuration.
      properties:
        local_policy:
          allOf:
          - $ref: '#/components/schemas/LocalPolicy'
          description: 'Inline configured policy options for determining outcome of this specific test.


            If centrally managed policies are in scope, inline policies are overridden

            by managed policies. Policy references explain which policies were

            effective for test evaluation.'
        project_business_criticality:
          maxLength: 256
          type: string
        project_environment:
          items:
            type: string
          maxItems: 10
          type: array
        project_lifecycle:
          items:
            type: string
          maxItems: 10
          type: array
        project_tags:
          items:
            type: string
          maxItems: 10
          type: array
        publish_report:
          description: Publish findings into a report, viewable in the Snyk web UI.
          type: boolean
        scan_config:
          $ref: '#/components/schemas/ScanConfiguration'
        target_name:
          maxLength: 256
          type: string
        target_reference:
          description: Fields from CLI.
          maxLength: 1024
          type: string
        timeout:
          allOf:
          - $ref: '#/components/schemas/TimeoutSpec'
          description: 'Maximum test time in seconds, after which execution will be cancelled and

            the test will fail with reason "timeout".'
      type: object
    TestResource:
      anyOf:
      - $ref: '#/components/schemas/BaseResource'
      - $ref: '#/components/schemas/DiffResource'
      description: 'TestResources contain single instances of testable content

        to be provided to Snyk scanners.'
      discriminator:
        mapping:
          base: '#/components/schemas/BaseResource'
          diff: '#/components/schemas/DiffResource'
        propertyName: type
    DepGraphContent:
      description: 'Dep Graph file contents, of the same format as Dep Graphs

        provided to /v1/test-dep-graph endpoint.'
      properties:
        dep_graph:
          $ref: '#/components/schemas/DepGraphRef'
        type:
          enum:
          - dep_graph
          type: string
      required:
      - type
      - dep_graph
      type: object
    SbomReachabilitySubject:
      description: '**Deprecated**


        Provide a BundleResource with SBOM Bundle ID,

        a BundleResource with Source Bundle ID, and include

        SCA Scan Configuration instead.


        SBOM Reachability tests can also be initiated using

        UploadResources if using the File Upload API.


        Test subject for SBOM test with reachability analysis.'
      properties:
        code_bundle_id:
          description: Source code to inspect for the reach of the vulnerable dependencies.
          pattern: ^[a-fA-F0-9]{64}$
          type: string
        locator:
          allOf:
          - $ref: '#/components/schemas/LocalPathLocator'
          description: Locate the local paths from which the SBOM and source code were derived.
        sbom_bundle_id:
          description: The SBOM to test for vulnerable dependencies.
          pattern: ^[a-fA-F0-9]{64}$
          type: string
        type:
          enum:
          - sbom_reachability
          type: string
      required:
      - type
      - sbom_bundle_id
      - code_bundle_id
      - locator
      type: object
    Uuid:
      format: uuid
      type: string
    SbomSubject:
      description: '**Deprecated**


        Provide a BundleResource with SBOM Bundle ID and include

        SCA Scan Configuration instead.


        SBOM tests can also be initiated using an

        UploadResource if using the File Upload API.


        Test subject for SBOM test without reachability analysis.'
      properties:
        locator:
          allOf:
          - $ref: '#/components/schemas/LocalPathLocator'
          description: Locate the local paths from which the SBOM and source code were derived.
        sbom_bundle_id:
          description: The SBOM to test for vulnerable dependencies.
          pattern: ^[a-fA-F0-9]{64}$
          type: string
        type:
          enum:
          - sbom
          type: string
      required:
      - type
      - sbom_bundle_id
      - locator
      type: object
    DepGraphRef:
      additionalProperties: {}
      properties:
        graph:
          $ref: '#/components/schemas/io.snyk.api.v1testdepgraph.request.Graph'
        pkgManager:
          $ref: '#/components/schemas/io.snyk.api.v1testdepgraph.request.PackageManager'
        pkgs:
          items:
            $ref: '#/components/schemas/io.snyk.api.v1testdepgraph.request.Package'
          type: array
        schemaVersion:
          type: string
      required:
      - schemaVersion
      - pkgManager
      - pkgs
      - graph
      type: object
      x-go-type: json.RawMessage
    SecretsScanConfiguration:
      description: Scan configuration parameters for the Secrets scanner.
      type: object
    IacScanConfiguration:
      description: Scan configuration parameters for the IAC scanner.
      type: object
    DependencyCountFact:
      description: DependencyCountFact represents a dependency count fact.
      properties:
        total_dependency_count:
          format: int64
          type: integer
        type:
          enum:
          - dependency_count_fact
          type: string
      required:
      - type
      - total_dependency_count
      type: object
    io.snyk.api.common.LinkProperty:
      oneOf:
      - $ref: '#/components/schemas/io.snyk.api.common.LinkString'
      - $ref: '#/components/schemas/io.snyk.api.common.LinkObject'
    DepGraphSubject:
      description: '**Deprecated**


        Provide an InlineResource with the DepGraph contents

        and the SCA Scan Configuration instead.


        Test subject representing a Snyk dependency graph (a legacy SBOM format).'
      properties:
        locator:
          allOf:
          - $ref: '#/components/schemas/LocalPathLocator'
          description: 'Source file(s) from which the dependency graph was derived.


            For some managed package ecosystems (examples: Maven, Yarn workspaces),

            Snyk might derive a dependency graph from several files.'
        type:
          enum:
          - dep_graph
          type: string
      required:
      - type
      - locator
      type: object
    TestAttributes:
      description: TestAttributes represents the attributes of a Test resource.
      properties:
        components:
          description: 'Scanned Components of the tested content.


            Unique on a per-test basis, originating from a single Scan type

            though a single Scan may identify multiple Components.'
          items:
            $ref: '#/components/schemas/TestComponent'
          readOnly: true
          type: array
        config:
          allOf:
          - $ref: '#/components/schemas/TestConfiguration'
          description: 'The test configuration. If not specified, caller accepts test configuration

            defaults within the calling scope (org, group or tenant settings, etc).'
        created_at:
          description: Creation time of the test resource.
          format: date-time
          readOnly: true
          type: string
        effective_summary:
          allOf:
          - $ref: '#/components/schemas/FindingSummary'
          description: 'Summary of findings discovered by the test, effective to the outcome

            decision. This summary excludes findings suppressed by policy.


            This attribute is set when the test execution

            completes (state.execution == ''finished'') successfully (without fatal errors

            blocking an outcome).'
          readOnly: true
        outcome:
          allOf:
          - $ref: '#/components/schemas/TestOutcome'
          description: 'The outcome of the test.


            This attribute is set when the test execution

            completes (state.execution == ''completed'') successfully (without fatal errors

            blocking an outcome).'
          readOnly: true
        raw_summary:
          allOf:
          - $ref: '#/components/schemas/FindingSummary'
          description: 'Summary of findings regardless of whether they are effective or not. This

            summary includes all findings, even those suppressed by policy.


            This attribute is set when the test execution

            completes (state.execution == ''finished'') successfully (without fatal errors

            blocking an outcome).'
          readOnly: true
        resources:
          description: 'The units of testable content to be scanned by Snyk.


            Resources are provided in conjunction with the ScanConfiguration,

            and appropriate scans to run are determined from that combination.


            There is a "best-fit" approach taken, and not all Resources will be

            scanned by all requested scanners. E.g. Container resources cannot be

            scanned by the SAST scanner.'
          example:
          - resource:
              content_type: source
              file_patterns:
              - '*.go'
              repository_url: https://example.com/source/repo
              revision_id: abcde12345
              type: upload
            type: base
          - resource:
              ref_id: 6BD4F5E2-D4E8-4C6B-BB0E-ECF0A70423F5
              reference_type: target
              type: snyk_ref
            type: base
          items:
            $ref: '#/components/schemas/TestResource'
          type: array
        sdlc_stage:
          allOf:
          - $ref: '#/components/schemas/SdlcStage'
          description: SDLC stage where the test was initiated.
        state:
          allOf:
          - $ref: '#/components/schemas/TestState'
          description: The state of the test's execution.
          readOnly: true
        subject:
          allOf:
          - $ref: '#/components/schemas/TestSubject'
          description: '**Deprecated**


            Use an equivalent combination of Resources and

            Scan Configurations instead. See Subject descriptions

            for appropriate replacements.


            The subject of a test.'
        subject_locators:
          description: '**Deprecated**


            Metadata about testable content is located on

            Resources directly.


            Additional locators which may help locate the test subject across test workflows.


            Test subjects generally will have a primary locator. Additional locators

            may be provided to help link the test to existing projects and/or assets in

            the Snyk platform.'
          example:
          - paths:
            - package.json
            type: local_path
          items:
            $ref: '#/components/schemas/TestSubjectLocator'
          type: array
        test_facts:
          description: Facts about the test that were computed during test execution.
          items:
            $ref: '#/components/schemas/TestFact'
          readOnly: true
          type: array
        user_public_id:
          description: Public identifier of the user who initiated the test.
          maxLength: 64
          type: string
      required:
      - created_at
      - state
      type: object
    ContainerScanConfiguration:
      description: Scan configuration parameters for the Container scanner.
      type: object
    TimeoutSpec:
      description: 'Specification for a test timeout policy. If the test does not complete within

        the seconds specified, the test will instantly complete with the given outcome.'
      properties:
        outcome:
          $ref: '#/components/schemas/PassFail'
        seconds:
          format: uint32
          type: integer
      required:
      - seconds
      - outcome
      type: object
    TestState:
      description: Test execution state information.
      properties:
        errors:
          description: 'Errors which occurred during the execution of a test.


            If execution state is errored, at least one error will be

            indicated here.'
          items:
            $ref: '#/components/schemas/io.snyk.api.common.Error'
          type: array
        execution:
          allOf:
          - $ref: '#/components/schemas/TestExecutionStates'
          description: 'Current execution state of the test. This should be polled to completion

            ("completed" or "errored") when waiting for a test result.


            Completion is no guarantee of an outcome in the event of fatal errors.'
        warnings:
          description: 'Non-fatal errors which occurred during the execution of a test.


            Execution state and warnings are not linked; any of passed/failed/

            errored tests can have warnings.'
          items:
            $ref: '#/components/schemas/io.snyk.api.common.Error'
          type: array
      required:
      - execution
      type: object
    TestFact:
      allOf:
      - $ref: '#/components/schemas/DependencyCountFact'
      description: TestFact represents a test fact union.
      type: object
    TestRequestBody:
      description: TestRequestBody represents the request body used when creating an Test.
      properties:
        data:
          $ref: '#/components/schemas/TestDataCreate'
      required:
      - data
      type: object
    ScmResource:
      description: 'Resource representing a repository of source files located in

        a Source Code Management tool (e.g. GitHub).


        ScmResources provide Snyk with the requisite information to

        locate and scan the source files located in the repository.


        Currently supported scans utilizing ScmResources are:

        - SAST scans on (1) ScmResource that references a repo already

        imported into Snyk

        - Secrets scans on (1) ScmResource that references a repo already

        imported into Snyk'
      example:
        commit: 8dbd1ea7201a0d49603467981075a633d91e40b9
        file_patterns: []
        integration_id: 00000000-0000-0000-0000-000000000000
        ref: main
        repo_url: https://github.com/example/repo
        type: scm
      properties:
        commit:
          description: Commit hash to reference specifically.
          maxLength: 1024
          type: string
        file_patterns:
          description: 'File Patterns to include in the scan. Elements must be less than 256 characters.


            Currently unsupported. Provide an empty list.'
          items:
            $ref: '#/components/schemas/String256'
          maxItems: 20
          type: array
        integration_id:
          description: 'Integration ID assigned to the specific SCM.

            This ID can be found in the Snyk UI by navigating to

            "Settings" > "Integrations" > "<Your SCM>"


            The ID will be displayed under "General" > "Integration ID"'
          format: uuid
          type: string
        ref:
          description: 'Ref contains a branch name or other non-commit hash reference

            to a version of the content.'
          maxLength: 1024
          type: string
        repo_url:
          description: URL at which the repository can be found in the SCM.
          example: https://github.com/snyk/cli
          maxLength: 1024
          type: string
        type:
          enum:
          - scm
          type: string
      required:
      - type
      - repo_url
      - integration_id
      type: object
    io.snyk.api.v1testdepgraph.request.Graph:
      additionalProperties: {}
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/io.snyk.api.v1testdepgraph.request.Node'
          type: array
        rootNodeId:
          type: string
      required:
      - rootNodeId
      - nodes
      type: object
    io.snyk.api.common.ErrorLink:
      additionalProperties:
        $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
      description: A link that leads to further details about this particular occurrance of the problem.
      properties:
        about:
          $ref: '#/components/schemas/io.snyk.api.common.LinkProperty'
      type: object
    InlineResourceCreateItem:
      description: 'Resource comprised of file contents included directly in

        a request body.


        Currently supported scans utilizing InlineResources are:

        - SCA (Open Source): (1) InlineResource containing a Dep Graph'
      example:
        content:
          dep_graph:
            graph:
              nodes:
              - deps: []
                nodeId: root-node
                pkgId: snyk@1.0.0-monorepo
              rootNodeId: root-node
            pkgManager:
              name: npm
            pkgs:
            - id: snyk@1.0.0-monorepo
              info:
                name: snyk
                version: 1.0.0-monorepo
            schemaVersion: 1.3.0
          type: dep_graph
        name: dep_graph.json
        type: inline
      properties:
        content:
          allOf:
          - $ref: '#/components/schemas/InlineContent'
          description: File contents to be tested.
        name:
          maxLength: 256
          type: string
        scm_context:
          $ref: '#/components/schemas/ScmContext'
        type:
          enum:
          - inline
          type: string
      required:
      - type
      - name
      - content
      type: object
    InlineContent:
      allOf:
      - $ref: '#/components/schemas/DepGraphContent'
      description: Content formats accepted inline for testing.
      type: object
    io.snyk.api.common.Error:
      properties:
        code:
          description: An application-specific error code, expressed as a string value.
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          type: string
        id:
          description: A unique identifier for this particular occurrence of the problem.
          format: uuid
          type: string
        links:
          $ref: '#/components/schemas/io.snyk.api.common.ErrorLink'
        meta:
          type: object
        source:
          properties:
            parameter:
              type: string
            pointer:
              type: string
          type: object
        status:
          description: The HTTP status code applicable to this problem, expressed as a string value.
          pattern: ^[45]\d\d$
          type: string
        title:
          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
          type: string
      required:
      - status
      - detail
      type: object
    OtherSubject:
      description: 'OtherSubject represents any subject that this version of the API is not

        capable of expressing.'
      properties:
        type:
          enum:
          - other
          type: string
      required:
      - type
      type: object
    TestAttributesCreate:
      description: TestAttributes represents the attributes of a Test resource.
      properties:
        config:
          allOf:
          - $ref: '#/components/schemas/TestConfiguration'
          description: 'The test configuration. If not specified, caller accepts test configuration

            defaults within the calling scope (org, group or tenant settings, etc).'
        resources:
          description: 'The units of testable content to be scanned by Snyk.


            Resources are provided in conjunction with the ScanConfiguration,

            and appropriate scans to run are determined from that combination.


            There is a "best-fit" approach taken, and not all Resources will be

            scanned by all requested scanners. E.g. Container resources cannot be

            scanned by the SAST scanner.'
          example:
          - resource:
              content_type: source
              file_patterns:
              - '*.go'
              repository_url: https://example.com/source/repo
              revision_id: abcde12345
              type: upload
            type: base
          - resource:
              ref_id: 6BD4F5E2-D4E8-4C6B-BB0E-ECF0A70423F5
              reference_type: target
              type: snyk_ref
            type: base
          items:
            $ref: '#/components/schemas/TestResourceCreateItem'
          type: array
        sdlc_stage:
          allOf:
          - $ref: '#/components/schemas/SdlcStage'
          description: SDLC stage where the test was initiated.
        subject:
          allOf:
          - $ref: '#/components/schemas/TestSubjectCreate'
          description: '**Deprecated**


            Use an equivalent combination of Resources and

            Scan Configurations instead. See Subject descriptions

            for appropriate replacements.


            The subject of a test.'
        subject_locators:
          description: '**Deprecated**


            Metadata about testable content is located on

            Resources directly.


            Additional locators which may help locate the test subject across test workflows.


            Test subjects generally will have a primary locator. Additional locators

            may be provided to help link the test to existing projects and/or assets in

            the Snyk platform.'
          example:
          - paths:
            - package.json
            type: local_path
          items:
            $ref: '#/components/schemas/TestSubjectLocator'
          type: array
        user_public_id:
          description: Public identifier of the user who initiated the test.
          maxLength: 64
          type: string
      type: object
    OtherLocator:
      description: 'OtherLocator represents any locator that this version of the API is not

        capable of expressing.'
      properties:
        type:
          enum:
          - other
          type: string
      required:
      - type
      type: object
    SnykReferenceResource:
      description: 'SnykReferenceResources contain references to source code,

        containers, SBOMs, and other testable content that has already

        been provided to Snyk to create a Project or Target.


        If the intended content to test is already known to Snyk as a

        Project, Target, or otherwise, this SnykReferenceResource can

        be used to initiate a Test with the appropriate ID.


        Currently no scans are supported through the Test API for

        SnykReferenceResources.'
      example:
        ref_id: 00000000-0000-0000-0000-000000000000
        reference_type: project
        type: snyk_ref
      properties:
        ref_id:
          description: ID referring the contents already known by Snyk.
          format: uuid
          type: string
        reference_type:
          description: 'Kind of Snyk reference contained in Ref ID.


            Targets and Projects exist in Snyk currently.


            Assets are a feature in-development, and are listed

            here for future-forward compatibility.'
          enum:
          - target
          - project
          - asset
          type: string
        scm_context:
          $ref: '#/components/schemas/ScmContext'
        type:
          enum:
          - snyk_ref
          type: string
      required:
      - type
      - reference_type
      - ref_id
      type: object
    Severity:
      description: Indicate the severity of a finding discovered by a Test.
      enum:
      - critical
      - high
      - medium
      - low
      - none
      - other
      type: string
    PassFail:
      description: Indicate whether a Test passes or fails.
      enum:
      - pass
      - fail
      type: string
    FindingType:
      description: Type of Finding which was discovered.
      enum:
      - sca
      - sast
      - dast
      - other
      - config
      - secret
      - secrets
      type: string
    io.snyk.api.common.LinkString:
      format: uri
      type: string
    ProjectEntityLocator:
      description: ProjectEntityLocator locates a Snyk Project by its public ID.
      properties:
        project_id:
          description: Public ID of the Snyk Project.
          format: uuid
          type: string
        type:
          enum:
          - project_entity
          type: string
      required:
      - type
      - project_id
      type: object
    PolicyRefSet:
      description: A set of local and/or managed policies.
      properties:
        ids:
          items:
            $ref: '#/components/schemas/Uuid'
          type: array
        local_policy:
          type: boolean
      required:
      - ids
      type: object
    io.snyk.api.common.JsonApi:
      properties:
        version:
          description: Version of the JSON API specification this server supports.
          enum:
          - '1.0'
          type: string
      required:
      - version
      type: object
    GitUrlCoordinatesSubject:
      description: '**Deprecated**


        Provide an ScmResource and include the

        SAST Scan Configuration instead.


        Test subject representing a source tree located in a Git repository that

        has a Snyk SCM integration.


        Git URL coordinates are accepted through the API, but are not

        guaranteed to return Findings.'
      properties:
        commit_id:
          description: 'Commit ID of the Git commit from which content will be retrieved for the

            test.'
          pattern: ^[a-f0-9]{40,}$
          type: string
        integration_id:
          description: Integration used to access the Git SCM repository in order to retrieve its source contents.
          format: uuid
          type: string
        locator:
          allOf:
          - $ref: '#/components/schemas/ScmRepoLocator'
          description: 'Locate the SCM repository from which content will be retrieved for the

            test.'
        type:
          enum:
          - git_url_coordinates
          type: string
      required:
      - type
      - integration_id
      - commit_id
      - locator
      type: object
    TestComponent:
      description: TestComponent represents a Test Component.
      properties:
        asset_id:
          allOf:
          - $ref: '#/components/schemas/Uuid'
          description: ID of Asset associated with Component.
        key:
          allOf:
          - $ref: '#/components/schemas/String256'
          description: Key identifying the component within the Test.
        project_id:
          allOf:
          - $ref: '#/components/schemas/Uuid'
          description: ID of Project associated with Component.
        scan_type:
          allOf:
          - $ref: '#/components/schemas/FindingType'
          description: 'Type of Scanner producing Findings associated with this

            Component.'
      required:
      - key
      - scan_type
      type: object
    LocalIgnore:
      properties:
        created_at:
          description: When the ignore was first created.
          format: date-time
          type: string
        expires_at:
          description: When the ignore will expire.
          format: date-time
          type: string
        path:
          description: 'Dependency path to the vulnerable package to be ignored.


            If not provided, the ignore will apply to all packages with the given

            vulnerability ID.'
          example:
          - myapp@1.0.0
          - org.apache.logging.log4j:log4j@2.6.2
          items:
            type: string
          type: array
        reason:
          description: Reason for the ignore.
          example: False positive
          type: string
        skip_if_fixable:
          description: Skips the ignore rule if an actual fix is available.
          type: boolean
        vuln_id:
          description: 'The vulnerability ID of the finding to be ignored.


            This typically matches SnykVulnProblem.id for open source vulnerabilities.'
          example: SNYK-JAVA-ORGAPACHELOGGINGLOG4J-31456
          type: string
      required:
      - vuln_id
      type: object
    DiffResourceCreateItem:
      description: 'DiffResources contain two versions of the same content

        to compare against each other.


        The Base and Compare fields contain Resources representing

        an "existing" (base) version as well as a "new" (compare)

        version. Most commonly these Resources will be of the same type,

        e.g. an ScmResource containing a reference the `main` branch being

        compared to an ScmResource containing a reference to a new

        feature branch.


        Currently no scans are supported through the Test API

        for DiffResources.'
      example:
        base:
          file_patterns: []
          integration_id: 00000000-0000-0000-0000-000000000000
          ref: main
          repo_url: https://github.com/example/repo
          type: scm
        compare:
          file_patterns: []
          integration_id: 00000000-0000-0000-0000-000000000000
          ref: feat/homepage
          repo_url: https://github.com/example/repo
          type: scm
        type: diff
      properties:
        base:
          $ref: '#/components/schemas/BaseResourceVariantCreateItem'
        compare:
          $ref: '#/components/schemas/BaseResourceVariantCreateItem'
        type:
          enum:
          - diff
          type: string
      required:
      - type
      - base
      - compare
      type: object
    ScmRepoLocator:
      description: ScmRepoLocator locates a test subject by SCM repository coordinates.
      properties:
        branch_name:
          description: 'Branch name, if known and applicable to locating the test subject.


            If not specified, the branch name can be assumed to be the "default

            integration branch" of the repository.'
          type: string
        type:
          enum:
          - scm_repo
          type: string
        url:
          description: URL of the SCM repository.
          format: uri
          type: string
      required:
      - type
      - url
      type: object
    TestResourceCreateItem:
      anyOf:
      - $ref: '#/components/schemas/BaseResourceCreateItem'
      - $ref: '#/components/schemas/DiffResourceCreateItem'
      description: 'TestResources contain single instances of testable content

        to be provided to Snyk scanners.'
      discriminator:
        mapping:
          base: '#/components/schemas/BaseResourceCreateItem'
          diff: '#/components/schemas/DiffResourceCreateItem'
        propertyName: type
    LocalPolicy:
      description: Locally configured policy options for determining outcome of this specific test.
      properties:
        fail_on_upgradable:
          default: false
          description: "Use to fail a test when there is at least one vulnerable finding that can be fixed by upgrading the version of the related\n   dependency. E.g. bumping lodash from 1.1.1 to 1.1.2."
          type: boolean
        ignores:
          description: Defines ignore rules for known issues.
          items:
            $ref: '#/components/schemas/LocalIgnore'
          type: array
        reachability_filter:
          $ref: '#/components/schemas/ReachabilityFilter'
        risk_score_threshold:
          description: Findings of equal or greater risk score will fail the test.
          format: uint16
          maximum: 1000
          minimum: 0
          type: integer
        severity_threshold:
          allOf:
          - $ref: '#/components/schemas/Severity'
          description: Findings of equal or greater severity will fail the test.
        suppress_pending_ignores:
          default: false
          description: 'Suppress ignores pending approval, so that they do not fail the test. If

            allowed by administrators, this might be set in developer workflows in

            order to unblock local development while an ignore is pending approval.'
          type: boolean
      required:
      - suppress_pending_ignores
      type: object
    UploadResource:
      description: 'Resource referring to an Upload Revision created through the

        File Upload API (currently in Closed Beta).


        Revisions contain collections of files uploaded by clients to

        Snyk for testing.


        UploadResources can be marked either as SBOM or Source to

        indicate the contents of the Revision.


        SBOM UploadResources should provide the following fields:

        - type

        - revision_id

        - name

        - file_patterns (may be empty)


        Source UploadResources should provide the following fields:

        - type

        - revision_id

        - repository_url

        - root_folder_id

        - file_patterns (may be empty)


        Currently supported scans utilizing UploadResources are:

        - SBOM (SCA): (1) UploadResource containing an SBOM

        - SBOM + Reachability Analysis (SCA): (1) UploadResource containing an SBOM, (1) UploadResource containing Source files.

        - Secrets: (1) UploadResource containing Source files'
      example:
        content_type: source
        file_patterns: []
        repository_url: https://github.com/example/repo
        revision_id: 00000000-0000-0000-0000-000000000000
        root_folder_id: .
        type: upload
      properties:
        content_type:
          description: 'Content present in the Upload Revision.


            Currently only SBOMs and Source files are accepted

            content types.'
          enum:
          - sbom
          - source
          type: string
        file_patterns:
          description: 'File Patterns to include in the scan. Elements must be less than 256 characters.


            Currently unsupported. Provide an empty list.'
          items:
            $ref: '#/components/schemas/String256'
          maxItems: 20
          type: array
        name:
          description: 'A name to assign to the SBOM contained in the UploadRevision.


            Overrides the filename in the UploadRevision.'
          maxLength: 256
          type: string
        repository_url:
          description: Repository URL at which the Source files are stored.
          maxLength: 1024
          type: string
        revision_id:
          description: 'The ID returned from the File Upload API for a given Revision.

            The File Upload API is released in Closed Beta.

            Customers with access may view the preview documentation for

            information on its usage.'
          example: 5025c59b-c4dd-48e3-b98a-e98d838f4c9b
          maxLength: 1024
          type: string
        root_folder_id:
          description: Folder inside the UploadRevision at which the Source files are located.
          maxLength: 1024
          type: string
        scm_context:
          $ref: '#/components/schemas/ScmContext'
        type:
          enum:
          - upload
          type: string
      required:
      - type
      - revision_id
      - content_type
      - file_patterns
      type: object
  parameters:
    TestIdParam:
      description: Test ID returned from the Test API to query.
      in: path
      name: test_id
      required: true
      schema:
        format: uuid
        type: string
    io.snyk.api.request.SnykApiRequest.interaction_id:
      description: 'Identifies the Snyk client interaction in which this API request occurs.


        The identifier is an opaque string. though at the time of writing it may either be a

        uuid or a urn containing a uuid and some metadata.'
      in: header
      name: snyk-interaction-id
      schema:
        maxLength: 128
        minLength: 36
        type: string
    io.snyk.api.request.SnykApiRequest.version:
      description: The API version requested.
      explode: false
      in: query
      name: version
      required: true
      schema:
        type: string
    io.snyk.api.request.SnykApiRequest.request_id:
      description: 'A unique ID assigned to each API request, for tracing and troubleshooting.


        Snyk clients can optionally provide this ID.'
      in: header
      name: snyk-request-id
      schema:
        format: uuid
        type: string
  securitySchemes:
    APIToken:
      description: API key value must be prefixed with \"Token \".
      in: header
      name: Authorization
      type: apiKey
    BearerAuth:
      scheme: bearer
      type: http
x-snyk-api-version: '2024-10-15'
