openapi: 3.0.3
info:
  title: Snyk AccessRequests BrokerConnections API
  version: REST
servers:
- description: Snyk REST API
  url: https://api.snyk.io/rest
security:
- APIToken: []
- BearerAuth: []
tags:
- name: BrokerConnections
paths:
  /orgs/{org_id}/brokers/connections:
    get:
      description: 'List all Broker connections integrated with a given org


        #### Required permissions


        - `View Organization (org.read)`'
      operationId: listBrokerConnectionsForOrg
      parameters:
      - description: Org ID
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/StartingAfter'
      - description: Number of results to return per page
        example: 10
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
      - description: The requested version of the endpoint to process the request
        example: '2021-06-04'
        in: query
        name: version
        required: true
        schema:
          description: Requested API version
          example: '2021-06-04'
          pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ListBrokerConnectionsSummaryResponse'
          description: Returns the list of Broker connections by org ID
          headers:
            deprecation:
              description: 'The deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              schema:
                example: '2021-07-01T00:00:00Z'
                format: date-time
                type: string
            snyk-request-id:
              description: 'A unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              schema:
                example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'The version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: The version of the endpoint requested by the caller.
              schema:
                description: Requested API version
                example: '2021-06-04'
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: The version of the endpoint that was served by the API.
              schema:
                description: Resolved API version
                example: '2021-06-04'
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                example: '2021-08-02'
                format: date
                type: string
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrance of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Bad Request: one or more parameters are invalid. Check the input to match the expected format.  See [Snyk API](https://docs.snyk.io/snyk-api)'
          headers:
            deprecation:
              description: 'The deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              schema:
                example: '2021-07-01T00:00:00Z'
                format: date-time
                type: string
            snyk-request-id:
              description: 'A unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              schema:
                example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'The version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: The version of the endpoint requested by the caller.
              schema:
                description: Requested API version
                example: '2021-06-04'
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: The version of the endpoint that was served by the API.
              schema:
                description: Resolved API version
                example: '2021-06-04'
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                example: '2021-08-02'
                format: date
                type: string
        '401':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrance of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Unauthorized: the request requires an authentication token.  See [Revoke and regenerate a Snyk API token](https://docs.snyk.io/snyk-api/rest-api/authentication-for-api/revoke-and-regenerate-a-snyk-api-token).'
          headers:
            deprecation:
              description: 'The deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              schema:
                example: '2021-07-01T00:00:00Z'
                format: date-time
                type: string
            snyk-request-id:
              description: 'A unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              schema:
                example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'The version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: The version of the endpoint requested by the caller.
              schema:
                description: Requested API version
                example: '2021-06-04'
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: The version of the endpoint that was served by the API.
              schema:
                description: Resolved API version
                example: '2021-06-04'
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                example: '2021-08-02'
                format: date
                type: string
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrance of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Not Found: The resource you are trying to access could not be found. Review the request and try again.'
          headers:
            deprecation:
              description: 'The deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              schema:
                example: '2021-07-01T00:00:00Z'
                format: date-time
                type: string
            snyk-request-id:
              description: 'A unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              schema:
                example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'The version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: The version of the endpoint requested by the caller.
              schema:
                description: Requested API version
                example: '2021-06-04'
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: The version of the endpoint that was served by the API.
              schema:
                description: Resolved API version
                example: '2021-06-04'
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                example: '2021-08-02'
                format: date
                type: string
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrance of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Internal Server Error: An unexpected error was encountered while attempting to process the request.  Try again. If the error still occurs, contact support.'
          headers:
            deprecation:
              description: 'The deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              schema:
                example: '2021-07-01T00:00:00Z'
                format: date-time
                type: string
            snyk-request-id:
              description: 'A unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              schema:
                example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'The version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: The version of the endpoint requested by the caller.
              schema:
                description: Requested API version
                example: '2021-06-04'
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: The version of the endpoint that was served by the API.
              schema:
                description: Resolved API version
                example: '2021-06-04'
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                example: '2021-08-02'
                format: date
                type: string
      summary: List Broker connections for a given organization
      tags:
      - BrokerConnections
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-02-08~experimental
      - '2024-10-15'
      x-snyk-api-resource: connections
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-10-15'
      x-snyk-documentation:
        category: Universal Broker
      x-stability-level: stable
  /tenants/{tenant_id}/brokers/connections/{connection_id}/integrations:
    get:
      description: 'Get all integrations using the Broker connection


        #### Required permissions


        - `View Tenant Details (tenant.read)`'
      operationId: getBrokerConnectionIntegrations
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/ConnectionId'
      - description: The requested version of the endpoint to process the request
        example: '2021-06-04'
        in: query
        name: version
        required: true
        schema:
          description: Requested API version
          example: '2021-06-04'
          pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
          type: string
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/StartingAfter'
      - description: Number of results to return per page
        example: 10
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetBrokerConnectionIntegrationsResponse'
          description: Returns a list of Integration IDs
          headers:
            deprecation:
              description: 'The deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              schema:
                example: '2021-07-01T00:00:00Z'
                format: date-time
                type: string
            snyk-request-id:
              description: 'A unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              schema:
                example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'The version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: The version of the endpoint requested by the caller.
              schema:
                description: Requested API version
                example: '2021-06-04'
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: The version of the endpoint that was served by the API.
              schema:
                description: Resolved API version
                example: '2021-06-04'
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                example: '2021-08-02'
                format: date
                type: string
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrance of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Bad Request: one or more parameters are invalid. Check the input to match the expected format.  See [Snyk API](https://docs.snyk.io/snyk-api)'
          headers:
            deprecation:
              description: 'The deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              schema:
                example: '2021-07-01T00:00:00Z'
                format: date-time
                type: string
            snyk-request-id:
              description: 'A unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              schema:
                example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'The version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: The version of the endpoint requested by the caller.
              schema:
                description: Requested API version
                example: '2021-06-04'
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: The version of the endpoint that was served by the API.
              schema:
                description: Resolved API version
                example: '2021-06-04'
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                example: '2021-08-02'
                format: date
                type: string
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrance of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Not Found: The resource you are trying to access could not be found. Review the request and try again.'
          headers:
            deprecation:
              description: 'The deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              schema:
                example: '2021-07-01T00:00:00Z'
                format: date-time
                type: string
            snyk-request-id:
              description: 'A unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              schema:
                example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'The version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: The version of the endpoint requested by the caller.
              schema:
                description: Requested API version
                example: '2021-06-04'
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: The version of the endpoint that was served by the API.
              schema:
                description: Resolved API version
                example: '2021-06-04'
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                example: '2021-08-02'
                format: date
                type: string
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrance of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Internal Server Error: An unexpected error was encountered while attempting to process the request.  Try again. If the error still occurs, contact support.'
          headers:
            deprecation:
              description: 'The deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              schema:
                example: '2021-07-01T00:00:00Z'
                format: date-time
                type: string
            snyk-request-id:
              description: 'A unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              schema:
                example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'The version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: The version of the endpoint requested by the caller.
              schema:
                description: Requested API version
                example: '2021-06-04'
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: The version of the endpoint that was served by the API.
              schema:
                description: Resolved API version
                example: '2021-06-04'
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                example: '2021-08-02'
                format: date
                type: string
      summary: Get Integrations using the current Broker connection
      tags:
      - BrokerConnections
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-02-08~experimental
      - '2024-10-15'
      x-snyk-api-resource: connections
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-10-15'
      x-snyk-documentation:
        category: Universal Broker
      x-stability-level: stable
  /tenants/{tenant_id}/brokers/connections/{connection_id}/orgs/{org_id}/integration:
    post:
      description: 'Configures integrations to use the Broker connection for an deployment


        #### Required permissions


        - `View Tenant Details (tenant.read)`'
      operationId: createBrokerConnectionIntegration
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/ConnectionId'
      - description: Org ID
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - description: The requested version of the endpoint to process the request
        example: '2021-06-04'
        in: query
        name: version
        required: true
        schema:
          description: Requested API version
          example: '2021-06-04'
          pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateBrokerConnectionIntegration'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetBrokerConnectionIntegrationResponse'
          description: Configured integrations to use broker connection successfully
          headers:
            deprecation:
              description: 'The deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              schema:
                example: '2021-07-01T00:00:00Z'
                format: date-time
                type: string
            location:
              $ref: '#/components/headers/LocationHeader'
            snyk-request-id:
              description: 'A unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              schema:
                example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'The version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: The version of the endpoint requested by the caller.
              schema:
                description: Requested API version
                example: '2021-06-04'
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: The version of the endpoint that was served by the API.
              schema:
                description: Resolved API version
                example: '2021-06-04'
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                example: '2021-08-02'
                format: date
                type: string
        '400':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrance of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Bad Request: one or more parameters are invalid. Check the input to match the expected format.  See [Snyk API](https://docs.snyk.io/snyk-api)'
          headers:
            deprecation:
              description: 'The deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              schema:
                example: '2021-07-01T00:00:00Z'
                format: date-time
                type: string
            snyk-request-id:
              description: 'A unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              schema:
                example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'The version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: The version of the endpoint requested by the caller.
              schema:
                description: Requested API version
                example: '2021-06-04'
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: The version of the endpoint that was served by the API.
              schema:
                description: Resolved API version
                example: '2021-06-04'
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                example: '2021-08-02'
                format: date
                type: string
        '403':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrance of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Forbidden: the request requires an authentication token with more or different permissions.  Review token permissions and try again.  See [PAT permissions](https://support.snyk.io/hc/en-us/articles/4410967220765-How-to-check-if-a-personal-access-token-has-the-correct-permissions).'
          headers:
            deprecation:
              description: 'The deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              schema:
                example: '2021-07-01T00:00:00Z'
                format: date-time
                type: string
            snyk-request-id:
              description: 'A unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              schema:
                example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'The version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: The version of the endpoint requested by the caller.
              schema:
                description: Requested API version
                example: '2021-06-04'
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: The version of the endpoint that was served by the API.
              schema:
                description: Resolved API version
                example: '2021-06-04'
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                example: '2021-08-02'
                format: date
                type: string
        '404':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrance of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
                              - additionalProperties: false
                                example:
                                  href: https://example.com/api/resource
                                properties:
                                  href:
                                    description: A string containing the link’s URL.
                                    example: https://example.com/api/resource
                                    type: string
                                  meta:
                                    additionalProperties: true
                                    description: Free-form object that may contain non-standard information.
                                    example:
                                      key1: value1
                                      key2:
                                        sub_key: sub_value
                                      key3:
                                      - array_value1
                                      - array_value2
                                    type: object
                                required:
                                - href
                                type: object
                          type: object
                        meta:
                          additionalProperties: true
                          example:
                            key: value
                          type: object
                        source:
                          additionalProperties: false
                          example:
                            pointer: /data/attributes
                          properties:
                            parameter:
                              description: A string indicating which URI query parameter caused the error.
                              example: param1
                              type: string
                            pointer:
                              description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                              example: /data/attributes
                              type: string
                          type: object
                        status:
                          description: The HTTP status code applicable to this problem, expressed as a string value.
                          example: '400'
                          pattern: ^[45]\d\d$
                          type: string
                        title:
                          description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                          example: Bad request
                          type: string
                      required:
                      - status
                      - detail
                      type: object
                    minItems: 1
                    type: array
                  jsonapi:
                    additionalProperties: false
                    example:
                      version: '1.0'
                    properties:
                      version:
                        description: Version of the JSON API specification this server supports.
                        example: '1.0'
                        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
                        type: string
                    required:
                    - version
                    type: object
                required:
                - jsonapi
                - errors
                type: object
          description: 'Not Found: The resource you are trying to access could not be found. Review the request and try again.'
          headers:
            deprecation:
              description: 'The deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

                '
              schema:
                example: '2021-07-01T00:00:00Z'
                format: date-time
                type: string
            snyk-request-id:
              description: 'A unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

                '
              schema:
                example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: 'The version stage of the endpoint. This stage describes the guarantees Snyk provides surrounding stability of the endpoint.

                '
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: The version of the endpoint requested by the caller.
              schema:
                description: Requested API version
                example: '2021-06-04'
                pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: The version of the endpoint that was served by the API.
              schema:
                description: Resolved API version
                example: '2021-06-04'
                pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
              example: '2021-08-02'
              schema:
                example: '2021-08-02'
                format: date
                type: string
        '500':
          content:
            application/vnd.api+json:
              schema:
                additionalProperties: false
                example:
                  errors:
                  - detail: Permission denied for this resource
                    status: '403'
                  jsonapi:
                    version: '1.0'
                properties:
                  errors:
                    example:
                    - detail: Permission denied for this resource
                      status: '403'
                    items:
                      additionalProperties: false
                      example:
                        detail: Not Found
                        status: '404'
                      properties:
                        code:
                          description: An application-specific error code, expressed as a string value.
                          example: entity-not-found
                          type: string
                        detail:
                          description: A human-readable explanation specific to this occurrence of the problem.
                          example: 'The request was missing these required fields: ...'
                          type: string
                        id:
                          description: A unique identifier for this particular occurrence of the problem.
                          example: f16c31b5-6129-4571-add8-d589da9be524
                          format: uuid
                          type: string
                        links:
                          additionalProperties: false
                          description: A link that leads to further details about this particular occurrance of the problem.
                          example:
                            about: https://example.com/about_this_error
                          properties:
                            about:
                              example: https://example.com/api/resource
                              oneOf:
                              - description: A string containing the link’s URL.
                                example: https://example.com/api/resource
                                type: string
[...]
