openapi: 3.0.3
info:
  title: Snyk AccessRequests Learn progress API
  version: REST
servers:
- description: Snyk REST API
  url: https://api.snyk.io/rest
security:
- APIToken: []
- BearerAuth: []
tags:
- name: Learn progress
paths:
  /orgs/{org_id}/learn/progress/catalog:
    get:
      description: 'Retrieves aggregated counts of users'' lesson or learning path statuses (completed, in progress, todo) across all catalog resources for an organization.


        #### Required permissions


        - `View Organization Snyk Learn Reports (org.learn_report.read)`'
      operationId: getCatalogProgress
      parameters:
      - description: The unique identifier of the organization.
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      - description: Filter by the learn catalog resource type
        in: query
        name: type
        schema:
          default: lesson
          enum:
          - learning_path
          - lesson
          type: string
      - $ref: '#/components/parameters/Title'
      - $ref: '#/components/parameters/Cwes'
      - $ref: '#/components/parameters/Cves'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CatalogProgressResponse'
          description: Organization reporting users overview
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get collective learning progress (Early Access)
      tags:
      - Learn progress
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: progress
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-snyk-documentation:
        category: learn
      x-stability-level: beta
  /orgs/{org_id}/learn/progress/users:
    get:
      description: 'Retrieves detailed learning progress status per user, including completion dates and history for each catalog resource.


        #### Required permissions


        - `View Organization Snyk Learn Reports (org.learn_report.read)`'
      operationId: getUsersProgress
      parameters:
      - description: The unique identifier of the organization.
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      - description: Filter by the learn catalog resource type
        in: query
        name: type
        schema:
          default: lesson
          enum:
          - learning_path
          - lesson
          type: string
      - $ref: '#/components/parameters/Title'
      - $ref: '#/components/parameters/Titles'
      - description: Filter by progress status of the resources
        in: query
        name: status
        schema:
          enum:
          - completed
          - inProgress
          type: string
      - $ref: '#/components/parameters/Emails'
      - $ref: '#/components/parameters/CompletionInterval'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UsersProgressResponse'
          description: Organization reporting users overview
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get individual user learning progress (Early Access)
      tags:
      - Learn progress
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2024-10-15~beta
      x-snyk-api-resource: progress
      x-snyk-api-stability: beta
      x-snyk-api-version: 2024-10-15~beta
      x-snyk-documentation:
        category: learn
      x-stability-level: beta
components:
  schemas:
    CatalogRelationship:
      properties:
        data:
          properties:
            attributes:
              properties:
                cves:
                  items:
                    type: string
                  type: array
                cwes:
                  items:
                    type: string
                  type: array
                slug:
                  type: string
                title:
                  type: string
              required:
              - title
              - slug
              - cwes
              - cves
              type: object
            id:
              type: string
            type:
              enum:
              - lesson
              - learning_path
              type: string
          required:
          - type
          - id
          - attributes
          type: object
        links:
          properties:
            self:
              type: string
          required:
          - self
          type: object
      required:
      - links
      - data
      type: object
    Titles:
      items:
        type: string
      maxItems: 50
      minItems: 1
      type: array
    ActualVersion:
      description: Resolved API version
      example: '2026-03-25'
      pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
      type: string
    Emails:
      example:
      - john.doe@example.com
      - jane.smith@example.com
      items:
        format: email
        type: string
      maxItems: 50
      minItems: 1
      type: array
    JsonApi:
      additionalProperties: false
      example:
        version: '1.0'
      properties:
        version:
          description: Version of the JSON API specification this server supports.
          example: '1.0'
          pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
          type: string
      required:
      - version
      type: object
    CatalogProgress:
      properties:
        attributes:
          $ref: '#/components/schemas/CatalogProgressAttributes'
        id:
          format: uuid
          type: string
        relationships:
          properties:
            catalog:
              $ref: '#/components/schemas/CatalogRelationship'
          required:
          - catalog
          type: object
        type:
          enum:
          - progress
          type: string
      required:
      - id
      - type
      - attributes
      - relationships
      type: object
    QueryVersion:
      description: Requested API version
      example: '2026-03-25'
      pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
      type: string
    UsersProgress:
      properties:
        attributes:
          $ref: '#/components/schemas/UsersProgressAttributes'
        id:
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/ProgressRelationships'
        type:
          enum:
          - progress
          type: string
      required:
      - id
      - type
      - attributes
      - relationships
      type: object
    UsersProgressResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/UsersProgress'
          type: array
        jsonapi:
          $ref: '#/components/schemas/JsonApi'
        links:
          $ref: '#/components/schemas/PaginatedLinks'
      required:
      - jsonapi
      - links
      - data
      type: object
    CatalogProgressAttributes:
      properties:
        completed_count:
          description: Percentage of users in the organization who have completed the resource.
          maximum: 100
          minimum: 0
          type: number
        in_progress_count:
          description: Percentage of users in the organization who have started progress on the resource.
          maximum: 100
          minimum: 0
          type: number
        todo_count:
          description: Percentage of users in the organization who have not started progress on the resource.
          maximum: 100
          minimum: 0
          type: number
        users_completed_count:
          description: Number of users in the organization who have completed the resource.
          minimum: 0
          type: integer
        users_in_progress_count:
          description: Number of users in the organization who are in-progress who have started progress on the resource.
          minimum: 0
          type: integer
        users_todo_count:
          description: Number of users in the organization who have not started not started progress on the resource.
          minimum: 0
          type: integer
      required:
      - todo_count
      - in_progress_count
      - completed_count
      type: object
    ErrorDocument:
      additionalProperties: false
      example:
        errors:
        - detail: Permission denied for this resource
          status: '403'
        jsonapi:
          version: '1.0'
      properties:
        errors:
          example:
          - detail: Permission denied for this resource
            status: '403'
          items:
            additionalProperties: false
            example:
              detail: Not Found
              status: '404'
            properties:
              code:
                description: An application-specific error code, expressed as a string value.
                example: entity-not-found
                type: string
              detail:
                description: A human-readable explanation specific to this occurrence of the problem.
                example: 'The request was missing these required fields: ...'
                type: string
              id:
                description: A unique identifier for this particular occurrence of the problem.
                example: f16c31b5-6129-4571-add8-d589da9be524
                format: uuid
                type: string
              links:
                additionalProperties: false
                description: A link that leads to further details about this particular occurrance of the problem.
                example:
                  about: https://example.com/about_this_error
                properties:
                  about:
                    example: https://example.com/api/resource
                    oneOf:
                    - description: A string containing the link’s URL.
                      example: https://example.com/api/resource
                      type: string
                    - additionalProperties: false
                      example:
                        href: https://example.com/api/resource
                      properties:
                        href:
                          description: A string containing the link’s URL.
                          example: https://example.com/api/resource
                          type: string
                        meta:
                          additionalProperties: true
                          description: Free-form object that may contain non-standard information.
                          example:
                            key1: value1
                            key2:
                              sub_key: sub_value
                            key3:
                            - array_value1
                            - array_value2
                          type: object
                      required:
                      - href
                      type: object
                type: object
              meta:
                additionalProperties: true
                example:
                  key: value
                type: object
              source:
                additionalProperties: false
                example:
                  pointer: /data/attributes
                properties:
                  parameter:
                    description: A string indicating which URI query parameter caused the error.
                    example: param1
                    type: string
                  pointer:
                    description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                    example: /data/attributes
                    type: string
                type: object
              status:
                description: The HTTP status code applicable to this problem, expressed as a string value.
                example: '400'
                pattern: ^[45]\d\d$
                type: string
              title:
                description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                example: Bad request
                type: string
            required:
            - status
            - detail
            type: object
          minItems: 1
          type: array
        jsonapi:
          additionalProperties: false
          example:
            version: '1.0'
          properties:
            version:
              description: Version of the JSON API specification this server supports.
              example: '1.0'
              pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
              type: string
          required:
          - version
          type: object
      required:
      - jsonapi
      - errors
      type: object
    DateInterval:
      pattern: ^[\d]{4}-[\d]{2}-[\d]{2}/[\d]{4}-[\d]{2}-[\d]{2}$
      type: string
    CatalogProgressResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogProgress'
          type: array
        jsonapi:
          $ref: '#/components/schemas/JsonApi'
        links:
          $ref: '#/components/schemas/PaginatedLinks'
        meta:
          properties:
            total_org_members:
              description: Total number of organization members for which the progress report is generated
              minimum: 0
              type: integer
          required:
          - total_org_members
          type: object
      required:
      - jsonapi
      - links
      - data
      type: object
    UserRelationship:
      properties:
        data:
          properties:
            attributes:
              properties:
                email:
                  type: string
                username:
                  type: string
              required:
              - email
              - username
              type: object
            id:
              type: string
            type:
              enum:
              - user
              type: string
          required:
          - type
          - id
          - attributes
          type: object
        links:
          $ref: '#/components/schemas/PaginatedLinks'
      required:
      - links
      - data
      type: object
    ProgressRelationships:
      properties:
        catalog:
          $ref: '#/components/schemas/CatalogRelationship'
        user:
          $ref: '#/components/schemas/UserRelationship'
      required:
      - user
      - catalog
      type: object
    PaginatedLinks:
      additionalProperties: false
      example:
        first: https://example.com/api/resource?ending_before=v1.eyJpZCI6IjExIn0K
        last: https://example.com/api/resource?starting_after=v1.eyJpZCI6IjMwIn0K
        next: https://example.com/api/resource?starting_after=v1.eyJpZCI6IjEwIn0K
      properties:
        first:
          $ref: '#/components/schemas/LinkProperty'
        last:
          $ref: '#/components/schemas/LinkProperty'
        next:
          $ref: '#/components/schemas/LinkProperty'
        prev:
          $ref: '#/components/schemas/LinkProperty'
        self:
          $ref: '#/components/schemas/LinkProperty'
      type: object
    Cwes:
      items:
        pattern: ^CWE-\d+$
        type: string
      maxItems: 50
      minItems: 1
      type: array
      uniqueItems: true
    UsersProgressAttributes:
      properties:
        completion_date:
          format: date-time
          type: string
        completion_history:
          items:
            format: date-time
            type: string
          type: array
        is_expired:
          type: boolean
        resource:
          enum:
          - learning_path
          - lesson
          type: string
        status:
          enum:
          - completed
          - inProgress
          - todo
          type: string
      required:
      - status
      - resource
      - completion_history
      type: object
    Cves:
      items:
        pattern: ^(CVE)-\d+-\d+(,(CVE)-\d+-\d+)*$
        type: string
      maxItems: 50
      minItems: 1
      type: array
      uniqueItems: true
    LinkProperty:
      example: https://example.com/api/resource
      oneOf:
      - description: A string containing the link’s URL.
        example: https://example.com/api/resource
        type: string
      - additionalProperties: false
        example:
          href: https://example.com/api/resource
        properties:
          href:
            description: A string containing the link’s URL.
            example: https://example.com/api/resource
            type: string
          meta:
            additionalProperties: true
            description: Free-form object that may contain non-standard information.
            example:
              key1: value1
              key2:
                sub_key: sub_value
              key3:
              - array_value1
              - array_value2
            type: object
        required:
        - href
        type: object
  parameters:
    EndingBefore:
      description: Return the page of results immediately before this cursor
      example: v1.eyJpZCI6IjExMDAifQo=
      in: query
      name: ending_before
      schema:
        type: string
    StartingAfter:
      description: Return the page of results immediately after this cursor
      example: v1.eyJpZCI6IjEwMDAifQo=
      in: query
      name: starting_after
      schema:
        type: string
    Title:
      deprecated: true
      description: This is deprecated, use Titles instead
      in: query
      name: title
      schema:
        type: string
    Cves:
      description: Filter by CVE rules
      in: query
      name: cves
      schema:
        $ref: '#/components/schemas/Cves'
    Cwes:
      description: Filter by CWE rules
      in: query
      name: cwes
      schema:
        $ref: '#/components/schemas/Cwes'
    Limit:
      description: Number of results to return per page
      example: 10
      in: query
      name: limit
      schema:
        default: 10
        format: int32
        maximum: 100
        minimum: 10
        multipleOf: 10
        type: integer
    Emails:
      description: Filter by user email addresses
      example:
      - john.doe@example.com
      - jane.smith@example.com
      explode: false
      in: query
      name: emails
      schema:
        $ref: '#/components/schemas/Emails'
      style: form
    CompletionInterval:
      description: Filter by date interval in ISO 8601 format (e.g. 2024-01-01/2024-02-01)
      in: query
      name: completion_interval
      schema:
        $ref: '#/components/schemas/DateInterval'
    ApiVersion:
      description: The requested version of the endpoint to process the request
      example: '2025-11-05'
      in: query
      name: version
      required: true
      schema:
        default: '2025-11-05'
        description: Requested API version
        pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
        type: string
    Titles:
      description: Filter by the title of the learning path or lesson resource
      in: query
      name: titles
      schema:
        $ref: '#/components/schemas/Titles'
  headers:
    SunsetHeader:
      description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
      example: '2021-08-02'
      schema:
        format: date
        type: string
    VersionRequestedResponseHeader:
      description: A header containing the version of the endpoint requested by the caller.
      example: '2026-03-25'
      schema:
        $ref: '#/components/schemas/QueryVersion'
    VersionServedResponseHeader:
      description: A header containing the version of the endpoint that was served by the API.
      example: '2026-03-25'
      schema:
        $ref: '#/components/schemas/ActualVersion'
    VersionStageResponseHeader:
      description: 'A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.

        '
      schema:
        enum:
        - wip
        - experimental
        - beta
        - ga
        - deprecated
        - sunset
        example: ga
        type: string
    RequestIdResponseHeader:
      description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

        '
      example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
      schema:
        format: uuid
        type: string
    DeprecationHeader:
      description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

        https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

        '
      example: '2021-07-01T00:00:00Z'
      schema:
        format: date-time
        type: string
  responses:
    '400':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Bad Request: A parameter provided as a part of the request was invalid.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '500':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Internal Server Error: An error was encountered while attempting to process the request.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '403':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Forbidden: the request requires an authentication token with more or different permissions.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '404':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Not Found: The resource being operated on could not be found.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
  securitySchemes:
    APIToken:
      description: API key value must be prefixed with \"Token \".
      in: header
      name: Authorization
      type: apiKey
    BearerAuth:
      scheme: bearer
      type: http
x-snyk-api-version: '2024-10-15'
