openapi: 3.0.3
info:
  title: Snyk AccessRequests Collection API
  version: REST
servers:
- description: Snyk REST API
  url: https://api.snyk.io/rest
security:
- APIToken: []
- BearerAuth: []
tags:
- name: Collection
paths:
  /orgs/{org_id}/collections:
    get:
      description: 'Return a list of organization''s collections with issues counts  and projects count.


        #### Required permissions


        - `View Collections (org.collection.read)`


        - `View Project history (org.project.snapshot.read)`'
      operationId: getCollections
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: Org ID
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      - description: Return collections sorted by the specified attributes
        in: query
        name: sort
        schema:
          enum:
          - name
          - projectsCount
          - issues
          type: string
      - description: Return collections sorted in the specified direction
        in: query
        name: direction
        schema:
          default: DESC
          enum:
          - ASC
          - DESC
          type: string
      - allowEmptyValue: true
        description: Return collections which names include the provided string
        in: query
        name: name
        schema:
          maxLength: 255
          type: string
      - allowEmptyValue: true
        description: Return collections where is_generated matches the provided boolean
        in: query
        name: is_generated
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/CollectionResponse'
                    type: array
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/PaginatedLinks'
                type: object
          description: Returns a list of collections
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get collections
      tags:
      - Collection
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-01~beta
      - '2023-09-12'
      x-snyk-api-resource: collections
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-09-12'
      x-stability-level: stable
    post:
      description: 'Create a collection


        #### Required permissions


        - `Create Collections (org.collection.create)`'
      operationId: createCollection
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: Org ID
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateCollectionRequest'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    additionalProperties: false
                    description: collection resource object
                    properties:
                      attributes:
                        $ref: '#/components/schemas/CollectionAttributes'
                      id:
                        format: uuid
                        type: string
                      relationships:
                        $ref: '#/components/schemas/CollectionRelationships'
                      type:
                        $ref: '#/components/schemas/Types'
                    required:
                    - id
                    - attributes
                    - relationships
                    type: object
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/SelfLink'
                type: object
          description: Returned collection
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              $ref: '#/components/headers/LocationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      summary: Create a collection
      tags:
      - Collection
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-01~beta
      - '2023-09-12'
      x-snyk-api-resource: collections
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-09-12'
      x-stability-level: stable
  /orgs/{org_id}/collections/{collection_id}:
    delete:
      description: 'Delete a collection


        #### Required permissions


        - `Delete Collections (org.collection.delete)`'
      operationId: deleteCollection
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: Org ID
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/CollectionId'
      responses:
        '204':
          description: Collection was deleted successfully
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              $ref: '#/components/headers/LocationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      summary: Delete a collection
      tags:
      - Collection
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-01~beta
      - '2023-09-12'
      x-snyk-api-resource: collections
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-09-12'
      x-stability-level: stable
    get:
      description: 'Get a collection


        #### Required permissions


        - `View Collections (org.collection.read)`'
      operationId: getCollection
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: Org ID
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/CollectionId'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    additionalProperties: false
                    description: collection resource object
                    properties:
                      attributes:
                        $ref: '#/components/schemas/CollectionAttributes'
                      id:
                        format: uuid
                        type: string
                      relationships:
                        $ref: '#/components/schemas/CollectionRelationships'
                      type:
                        $ref: '#/components/schemas/Types'
                    required:
                    - id
                    - attributes
                    - relationships
                    type: object
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/SelfLink'
                type: object
          description: Returned collection
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              $ref: '#/components/headers/LocationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      summary: Get a collection
      tags:
      - Collection
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-01~beta
      - '2023-09-12'
      x-snyk-api-resource: collections
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-09-12'
      x-stability-level: stable
    patch:
      description: 'Edit a collection


        #### Required permissions


        - `Edit Collections (org.collection.edit)`'
      operationId: updateCollection
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: Org ID
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/CollectionId'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCollectionRequest'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    additionalProperties: false
                    description: collection resource object
                    properties:
                      attributes:
                        $ref: '#/components/schemas/CollectionAttributes'
                      id:
                        format: uuid
                        type: string
                      relationships:
                        $ref: '#/components/schemas/CollectionRelationships'
                      type:
                        $ref: '#/components/schemas/Types'
                    required:
                    - id
                    - attributes
                    - relationships
                    type: object
                  jsonapi:
                    $ref: '#/components/schemas/JsonApi'
                  links:
                    $ref: '#/components/schemas/SelfLink'
                type: object
          description: Returned collection
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              $ref: '#/components/headers/LocationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      summary: Edit a collection
      tags:
      - Collection
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-01~beta
      - '2023-09-12'
      x-snyk-api-resource: collections
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-09-12'
      x-stability-level: stable
  /orgs/{org_id}/collections/{collection_id}/relationships/projects:
    delete:
      description: 'Remove projects from a collection by specifying an array of project ids


        #### Required permissions


        - `Edit Collections (org.collection.edit)`'
      operationId: deleteProjectsCollection
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: Org ID
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/CollectionId'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DeleteProjectsFromCollectionRequest'
      responses:
        '204':
          description: successfully removing projects from a collection
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              $ref: '#/components/headers/LocationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      summary: Remove projects from a collection
      tags:
      - Collection
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-01~beta
      - '2023-09-12'
      x-snyk-api-resource: collections
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-09-12'
      x-stability-level: stable
    get:
      description: 'Return a list of organization''s projects that are from the specified collection.


        #### Required permissions


        - `View Collections (org.collection.read)`


        - `View Projects (org.project.read)`


        - `View Project history (org.project.snapshot.read)`'
      operationId: getProjectsOfCollection
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: Org ID
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/CollectionId'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - $ref: '#/components/parameters/Limit'
      - description: Return projects sorted by the specified attributes
        in: query
        name: sort
        schema:
          enum:
          - imported
          - last_tested_at
          - issues
          type: string
      - description: Return projects sorted in the specified direction
        in: query
        name: direction
        schema:
          default: DESC
          enum:
          - ASC
          - DESC
          type: string
      - description: Return projects that belong to the provided targets
        in: query
        name: target_id
        schema:
          items:
            format: uuid
            type: string
          maxItems: 25
          type: array
      - description: Return projects that are with or without issues
        in: query
        name: show
        schema:
          items:
            enum:
            - vuln-groups
            - clean-groups
            type: string
          type: array
      - description: Return projects that match the provided integration types
        in: query
        name: integration
        schema:
          items:
            enum:
            - acr
            - api
            - artifactory-cr
            - aws-lambda
            - azure-functions
            - azure-repos
            - bitbucket-cloud
            - bitbucket-connect-app
            - bitbucket-server
            - cli
            - cloud-foundry
            - digitalocean-cr
            - docker-hub
            - ecr
            - gcr
            - github-cr
            - github-enterprise
            - github
            - gitlab-cr
            - gitlab
            - google-artifact-cr
            - harbor-cr
            - heroku
            - ibm-cloud
            - kubernetes
            - nexus-cr
            - pivotal
            - quay-cr
            - terraform-cloud
            type: string
          type: array
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetProjectsOfCollectionResponse'
          description: Returns a list of projects from the specified collection
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get projects from the specified collection
      tags:
      - Collection
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-01~beta
      - '2023-09-12'
      x-snyk-api-resource: collections
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-09-12'
      x-stability-level: stable
    post:
      description: 'Add projects to a collection by specifying an array of project ids


        #### Required permissions


        - `Edit Collections (org.collection.edit)`'
      operationId: updateCollectionWithProjects
      parameters:
      - $ref: '#/components/parameters/Version'
      - description: Org ID
        in: path
        name: org_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/CollectionId'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCollectionWithProjectsRequest'
      responses:
        '204':
          description: successfully adding projects to a collection
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              $ref: '#/components/headers/LocationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      summary: Add projects to a collection
      tags:
      - Collection
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - 2023-06-01~beta
      - '2023-09-12'
      x-snyk-api-resource: collections
      x-snyk-api-stability: ga
      x-snyk-api-version: '2023-09-12'
      x-stability-level: stable
components:
  parameters:
    EndingBefore:
      description: Return the page of results immediately before this cursor
      example: v1.eyJpZCI6IjExMDAifQo=
      in: query
      name: ending_before
      schema:
        type: string
    CollectionId:
      description: Unique identifier for a collection
      in: path
      name: collection_id
      required: true
      schema:
        format: uuid
        type: string
    StartingAfter:
      description: Return the page of results immediately after this cursor
      example: v1.eyJpZCI6IjEwMDAifQo=
      in: query
      name: starting_after
      schema:
        type: string
    Version:
      description: The requested version of the endpoint to process the request
      example: '2026-03-25'
      in: query
      name: version
      required: true
      schema:
        $ref: '#/components/schemas/QueryVersion'
    Limit:
      description: Number of results to return per page
      example: 10
      in: query
      name: limit
      schema:
        default: 10
        format: int32
        maximum: 100
        minimum: 10
        multipleOf: 10
        type: integer
  headers:
    SunsetHeader:
      description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
      example: '2021-08-02'
      schema:
        format: date
        type: string
    VersionRequestedResponseHeader:
      description: A header containing the version of the endpoint requested by the caller.
      example: '2026-03-25'
      schema:
        $ref: '#/components/schemas/QueryVersion'
    VersionServedResponseHeader:
      description: A header containing the version of the endpoint that was served by the API.
      example: '2026-03-25'
      schema:
        $ref: '#/components/schemas/ActualVersion'
    VersionStageResponseHeader:
      description: 'A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.

        '
      schema:
        enum:
        - wip
        - experimental
        - beta
        - ga
        - deprecated
        - sunset
        example: ga
        type: string
    RequestIdResponseHeader:
      description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

        '
      example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
      schema:
        format: uuid
        type: string
    LocationHeader:
      description: 'A header providing a URL for the location of a resource

        '
      example: https://example.com/resource/4
      schema:
        format: url
        type: string
    DeprecationHeader:
      description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

        https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

        '
      example: '2021-07-01T00:00:00Z'
      schema:
        format: date-time
        type: string
  schemas:
    CollectionRelationships:
      additionalProperties: false
      properties:
        created_by_user:
          properties:
            data:
              properties:
                id:
                  description: ID of the user that created the collection. Null for auto-collections.
                  example: 331ede0a-de94-456f-b788-166caeca58bf
                  format: uuid
                  nullable: true
                  type: string
                type:
                  enum:
                  - user
              required:
              - type
              - id
              type: object
          required:
          - data
          type: object
        org:
          properties:
            data:
              properties:
                id:
                  description: ID of the org that this collection belongs to
                  example: 331ede0a-de94-456f-b788-166caeca58bf
                  format: uuid
                  type: string
                type:
                  enum:
                  - org
              required:
              - type
              - id
              type: object
          required:
          - data
          type: object
      required:
      - org
      - created_by_user
      type: object
    ActualVersion:
      description: Resolved API version
      example: '2026-03-25'
      pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
      type: string
    name:
      description: User-defined name of the collection
      maxLength: 255
      minLength: 1
      pattern: ^([a-zA-Z0-9 _\-\/:.])+$
      type: string
    JsonApi:
      additionalProperties: false
      example:
        version: '1.0'
      properties:
        version:
          description: Version of the JSON API specification this server supports.
          example: '1.0'
          pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
          type: string
      required:
      - version
      type: object
    CollectionMeta:
      additionalProperties: false
      properties:
        issues_critical_count:
          description: The sum of critical severity issues of the collection's projects
          example: 10
          type: number
        issues_high_count:
          description: The sum of high severity issues of the collection's projects
          example: 10
          type: number
        issues_low_count:
          description: The sum of low severity issues of the collection's projects
          example: 10
          type: number
        issues_medium_count:
          description: The sum of medium severity issues of the collection's projects
          example: 10
          type: number
        projects_count:
          description: The amount of projects belonging to this collection
          example: 7
          type: number
      required:
      - projects_count
      - issues_critical_count
      - issues_high_count
      - issues_medium_count
      - issues_low_count
      type: object
    QueryVersion:
      description: Requested API version
      example: '2026-03-25'
      pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
      type: string
    ProjectMeta:
      additionalProperties: false
      properties:
        imported:
          description: The time the project was imported
          example: '2021-05-29T09:50:54.014Z'
          format: date-time
          type: string
        issues_critical_count:
          description: The sum of critical severity issues of the project
          example: 10
          type: number
        issues_high_count:
          description: The sum of high severity issues of the project
          example: 10
          type: number
        issues_low_count:
          description: The sum of low severity issues of the project
          example: 10
          type: number
        issues_medium_count:
          description: The sum of medium severity issues of the project
          example: 10
          type: number
        last_tested_at:
          description: The time the project was last tested
          example: '2021-05-29T09:50:54.014Z'
          format: date-time
          type: string
      required:
      - imported
      - last_tested_at
      - issues_critical_count
      - issues_high_count
      - issues_medium_count
      - issues_low_count
      type: object
    ProjectOfCollection:
      additionalProperties: false
      properties:
        id:
          format: uuid
          type: string
        meta:
          $ref: '#/components/schemas/ProjectMeta'
        relationships:
          additionalProperties: false
          properties:
            target:
              properties:
                data:
                  properties:
                    id:
                      description: ID of the target that owns the project
                      example: 331ede0a-de94-456f-b788-166caeca58bf
                      format: uuid
                      type: string
                    type:
                      enum:
                      - target
                  required:
                  - type
                  - id
                  type: object
              required:
              - data
              type: object
          required:
          - target
          type: object
        type:
          $ref: '#/components/schemas/Types'
      required:
      - id
      - type
      - meta
      - relationships
      type: object
    GetProjectsOfCollectionResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ProjectOfCollection'
          type: array
        jsonapi:
          $ref: '#/components/schemas/JsonApi'
        links:
          $ref: '#/components/schemas/PaginatedLinks'
      type: object
    CreateCollectionRequest:
      properties:
        data:
          additionalProperties: false
          properties:
            attributes:
              additionalProperties: false
              properties:
                name:
                  $ref: '#/components/schemas/name'
              required:
              - name
              type: object
            type:
              $ref: '#/components/schemas/Types'
          required:
          - type
          - attributes
          type: object
      required:
      - data
      type: object
    ErrorDocument:
      additionalProperties: false
      example:
        errors:
        - detail: Permission denied for this resource
          status: '403'
        jsonapi:
          version: '1.0'
      properties:
        errors:
          example:
          - detail: Permission denied for this resource
            status: '403'
          items:
            additionalProperties: false
            example:
              detail: Not Found
              status: '404'
            properties:
              code:
                description: An application-specific error code, expressed as a string value.
                example: entity-not-found
                type: string
              detail:
                description: A human-readable explanation specific to this occurrence of the problem.
                example: 'The request was missing these required fields: ...'
                type: string
              id:
                description: A unique identifier for this particular occurrence of the problem.
                example: f16c31b5-6129-4571-add8-d589da9be524
                format: uuid
                type: string
              links:
                additionalProperties: false
                description: A link that leads to further details about this particular occurrance of the problem.
                example:
                  about: https://example.com/about_this_error
                properties:
                  about:
                    example: https://example.com/api/resource
                    oneOf:
                    - description: A string containing the link’s URL.
                      example: https://example.com/api/resource
                      type: string
                    - additionalProperties: false
                      example:
                        href: https://example.com/api/resource
                      properties:
                        href:
                          description: A string containing the link’s URL.
                          example: https://example.com/api/resource
                          type: string
                        meta:
                          additionalProperties: true
                          description: Free-form object that may contain non-standard information.
                          example:
                            key1: value1
                            key2:
                              sub_key: sub_value
                            key3:
                            - array_value1
                            - array_value2
                          type: object
                      required:
                      - href
                      type: object
                type: object
              meta:
                additionalProperties: true
                example:
                  key: value
                type: object
              source:
                additionalProperties: false
                example:
                  pointer: /data/attributes
                properties:
                  parameter:
                    description: A string indicating which URI query parameter caused the error.
                    example: param1
                    type: string
                  pointer:
                    description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                    example: /data/attributes
                    type: string
                type: object
              status:
                description: The HTTP status code applicable to this problem, expressed as a string value.
                example: '400'
                pattern: ^[45]\d\d$
                type: string
              title:
                description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                example: Bad request
                type: string
            required:
            - status
            - detail
            type: object
          minItems: 1
          type: array
        jsonapi:
          additionalProperties: false
          example:
            version: '1.0'
          properties:
            version:
              description: Version of the JSON API specification this server supports.
              example: '1.0'
              pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
              type: string
          required:
          - version
          type: object
      required:
      - jsonapi
      - errors
      type: object
    SelfLink:
      additionalProperties: false
      example:
        self: https://example.com/api/this_resource
      properties:
        self:
          $ref: '#/components/schemas/LinkProperty'
      type: object
    UpdateCollectionRequest:
      properties:
        data:
          additionalProperties: false
          properties:
            attributes:
              additionalProperties: false
              properties:
                name:
                  $ref: '#/components/schemas/name'
              required:
              - name
              type: object
            id:
              format: uuid
              type: string
            type:
              $ref: '#/components/schemas/Types'
          required:
          - type
          - attributes
          type: object
      required:
      - data
      type: object
    UpdateCollectionWithProjectsRequest:
      additionalProperties: false
      properties:
        data:
          description: IDs of items to add to a collection
          items:
            additionalProperties: false
            properties:
              id:
                format: uuid
                type: string
              type:
                description: Type of the item id
                enum:
                - project
                type: string
            required:
            - id
            - type
            type: object
          maxItems: 100
          type: array
      required:
      - data
      type: object
    CollectionResponse:
      additionalProperties: false
      properties:
        attributes:
          $ref: '#/components/schemas/CollectionAttributes'
        id:
          format: uuid
          type: string
        meta:
          $ref: '#/components/schemas/CollectionMeta'
        relationships:
          $ref: '#/components/schemas/CollectionRelationships'
        type:
          $ref: '#/components/schemas/Types'
      required:
      - id
      - type
      - meta
      - attributes
      - relationships
      type: object
    Types:
      example: resource
      pattern: ^[a-z][a-z0-9]*(_[a-z][a-z0-9]*)*$
      type: string
    DeleteProjectsFromCollectionRequest:
      additionalProperties: false
      properties:
        data:
          description: IDs of items to remove from a collection
          items:
            additionalProperties: false
            properties:
              id:
                format: uuid
                type: string
              type:
                description: Type of the item id
                enum:
                - project
                type: string
            required:
            - id
            - type
            type: object
          maxItems: 100
          type: array
      required:
      - data
      type: object
    PaginatedLinks:
      additionalProperties: false
      example:
        first: https://example.com/api/resource?ending_before=v1.eyJpZCI6IjExIn0K
        last: https://example.com/api/resource?starting_after=v1.eyJpZCI6IjMwIn0K
        next: https://example.com/api/resource?starting_after=v1.eyJpZCI6IjEwIn0K
      properties:
        first:
          $ref: '#/components/schemas/LinkProperty'
        last:
          $ref: '#/components/schemas/LinkProperty'
        next:
          $ref: '#/components/schemas/LinkProperty'
        prev:
          $ref: '#/components/schemas/LinkProperty'
        self:
          $ref: '#/components/schemas/LinkProperty'
      type: object
    CollectionAttributes:
      additionalProperties: false
      properties:
        is_generated:
          type: boolean
        name:
          description: User-defined name of the collection
          type: string
      required:
      - name
      type: object
    LinkProperty:
      example: https://example.com/api/resource
      oneOf:
      - description: A string containing the link’s URL.
        example: https://example.com/api/resource
        type: string
      - additionalProperties: false
        example:
          href: https://example.com/api/resource
        properties:
          href:
            description: A string containing the link’s URL.
            example: https://example.com/api/resource
            type: string
          meta:
            additionalProperties: true
            description: Free-form object that may contain non-standard information.
            example:
              key1: value1
              key2:
                sub_key: sub_value
              key3:
              - array_value1
              - array_value2
            type: object
        required:
        - href
        type: object
  responses:
    '409':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Conflict: The requested operation conflicts with the current state of the resource in some way.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '500':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Internal Server Error: An error was encountered while attempting to process the request.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '400':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Bad Request: A parameter provided as a part of the request was invalid.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '403':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Forbidden: the request requires an authentication token with more or different permissions.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '404':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Not Found: The resource being operated on could not be found.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '401':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Unauthorized: the request requires an authentication token.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
  securitySchemes:
    APIToken:
      description: API key value must be prefixed with \"Token \".
      in: header
      name: Authorization
      type: apiKey
    BearerAuth:
      scheme: bearer
      type: http
x-snyk-api-version: '2024-10-15'
