openapi: 3.0.3
info:
  title: Snyk AccessRequests Export API
  version: REST
servers:
- description: Snyk REST API
  url: https://api.snyk.io/rest
security:
- APIToken: []
- BearerAuth: []
tags:
- name: Export
paths:
  /groups/{group_id}/export:
    post:
      description: 'Create and start an export for a group


        #### Required permissions


        - `View reports (group.report.read)`'
      operationId: createGroupExport
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/include_deleted'
      - $ref: '#/components/parameters/include_deactivated'
      requestBody:
        $ref: '#/components/requestBodies/CreateGroupExport'
      responses:
        '202':
          $ref: '#/components/responses/CreateExport'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/500'
      security:
      - TokenAuth: []
      summary: Start an export
      tags:
      - Export
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2024-10-15'
      x-snyk-api-resource: export
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-10-15'
      x-stability-level: stable
  /groups/{group_id}/export/{export_id}:
    get:
      description: 'Get an export results


        #### Required permissions


        - `View reports (group.report.read)`'
      operationId: getGroupExport
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/exportId'
      responses:
        '200':
          $ref: '#/components/responses/GetExport'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
      - TokenAuth: []
      summary: Get export results
      tags:
      - Export
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2024-10-15'
      x-snyk-api-resource: export
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-10-15'
      x-stability-level: stable
  /groups/{group_id}/jobs/export/{export_id}:
    get:
      description: 'Get an export job status


        #### Required permissions


        - `View reports (group.report.read)`'
      operationId: getGroupExportJobStatus
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/exportId'
      responses:
        '200':
          $ref: '#/components/responses/GetExportJob'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
      - TokenAuth: []
      summary: Get export status
      tags:
      - Export
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2024-10-15'
      x-snyk-api-resource: export
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-10-15'
      x-stability-level: stable
  /orgs/{org_id}/export:
    post:
      description: 'Create and start an export for an org


        #### Required permissions


        - `View Organization reports (org.report.read)`'
      operationId: createExport
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/include_deleted'
      - $ref: '#/components/parameters/include_deactivated'
      requestBody:
        $ref: '#/components/requestBodies/CreateOrgExport'
      responses:
        '202':
          $ref: '#/components/responses/CreateExport'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/500'
      security:
      - TokenAuth: []
      summary: Start an export
      tags:
      - Export
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2024-10-15'
      x-snyk-api-resource: export
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-10-15'
      x-stability-level: stable
  /orgs/{org_id}/export/{export_id}:
    get:
      description: 'Get an export results


        #### Required permissions


        - `View Organization reports (org.report.read)`'
      operationId: getExport
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/exportId'
      responses:
        '200':
          $ref: '#/components/responses/GetExport'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
      - TokenAuth: []
      summary: Get export results
      tags:
      - Export
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2024-10-15'
      x-snyk-api-resource: export
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-10-15'
      x-stability-level: stable
  /orgs/{org_id}/jobs/export/{export_id}:
    get:
      description: 'Get an export job status


        #### Required permissions


        - `View Organization reports (org.report.read)`'
      operationId: getExportJobStatus
      parameters:
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/exportId'
      responses:
        '200':
          $ref: '#/components/responses/GetExportJob'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
      - TokenAuth: []
      summary: Get export status
      tags:
      - Export
      x-snyk-api-lifecycle: released
      x-snyk-api-releases:
      - '2024-10-15'
      x-snyk-api-resource: export
      x-snyk-api-stability: ga
      x-snyk-api-version: '2024-10-15'
      x-stability-level: stable
components:
  schemas:
    ExportGroupAttributes:
      example:
        columns:
        - ISSUE_SEVERITY_RANK
        - ISSUE_SEVERITY
        - SCORE
        - PROBLEM_TITLE
        - CVE
        - CWE
        - PROJECT_NAME
        - PROJECT_URL
        - EXPLOIT_MATURITY
        - AUTOFIXABLE
        - FIRST_INTRODUCED
        - PRODUCT_NAME
        - ISSUE_URL
        - ISSUE_STATUS
        - ISSUE_TYPE
        dataset: issues
        filters:
          empty_project_tags: include
          environment:
          - BACKEND
          - EXTERNAL
          introduced:
            from: '2024-01-01T00:00:00Z'
            to: '2024-01-31T00:00:00Z'
          lifecycle:
          - PRODUCTION
          orgs:
          - 985cdc6d-a88f-4af8-aa8b-37b22e2425aa
          - 4aa34312-7ded-4fd7-bca8-93eaab3e08d5
          product_name:
          - Snyk Code
          - Snyk Open Source
          - Snyk IaC
          - Snyk Container
          project_tags:
          - 'scanType: CSS'
          - 'user: CLI-user'
          project_type:
          - npm
          - pip
          - golang
        formats:
        - csv
        url_expiration_seconds: 3600
      properties:
        columns:
          items:
            type: string
          type: array
        dataset:
          type: string
        filters:
          $ref: '#/components/schemas/GroupFilters'
        formats:
          items:
            enum:
            - csv
            type: string
          type: array
        url_expiration_seconds:
          default: 3600
          format: int32
          maximum: 3600
          minimum: 0
          type: integer
      required:
      - formats
      - dataset
      type: object
    ActualVersion:
      description: Resolved API version
      example: '2026-03-25'
      pattern: ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
      type: string
    JsonApi:
      additionalProperties: false
      example:
        version: '1.0'
      properties:
        version:
          description: Version of the JSON API specification this server supports.
          example: '1.0'
          pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
          type: string
      required:
      - version
      type: object
    OrgFilters:
      properties:
        cve:
          description: CVE identifier(s) to filter by (e.g. CVE-2024-1234). Rows whose cve is in this list are included.
          items:
            type: string
          type: array
        empty_project_tags:
          enum:
          - include
          - exclude
          - only
          type: string
        environment:
          items:
            type: string
          type: array
        introduced:
          properties:
            from:
              format: date-time
              type: string
            to:
              format: date-time
              type: string
          type: object
        issue_status:
          items:
            type: string
          type: array
        issue_type:
          items:
            type: string
          type: array
        lifecycle:
          items:
            type: string
          type: array
        nvd_severity:
          items:
            type: string
          type: array
        product_name:
          items:
            type: string
          type: array
        project_origin:
          items:
            type: string
          type: array
        project_tags:
          items:
            type: string
          type: array
        project_target_display_name:
          items:
            type: string
          type: array
        project_target_ref:
          items:
            type: string
          type: array
        project_type:
          items:
            type: string
          type: array
        reachability:
          items:
            type: string
          type: array
        updated:
          properties:
            from:
              format: date-time
              type: string
            to:
              format: date-time
              type: string
          type: object
      type: object
    GroupFilters:
      allOf:
      - $ref: '#/components/schemas/BaseFilters'
      - properties:
          orgs:
            items:
              format: uuid
              type: string
            type: array
        type: object
    QueryVersion:
      description: Requested API version
      example: '2026-03-25'
      pattern: ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
      type: string
    BaseFilters:
      properties:
        cve:
          description: CVE identifier(s) to filter by (e.g. CVE-2024-1234). Rows whose cve is in this list are included.
          items:
            type: string
          type: array
        empty_project_tags:
          enum:
          - include
          - exclude
          - only
          type: string
        environment:
          items:
            type: string
          type: array
        introduced:
          properties:
            from:
              format: date-time
              type: string
            to:
              format: date-time
              type: string
          type: object
        issue_status:
          items:
            type: string
          type: array
        issue_type:
          items:
            type: string
          type: array
        lifecycle:
          items:
            type: string
          type: array
        nvd_severity:
          items:
            type: string
          type: array
        product_name:
          items:
            type: string
          type: array
        project_origin:
          items:
            type: string
          type: array
        project_tags:
          items:
            type: string
          type: array
        project_target_display_name:
          items:
            type: string
          type: array
        project_target_ref:
          items:
            type: string
          type: array
        project_type:
          items:
            type: string
          type: array
        reachability:
          items:
            type: string
          type: array
        updated:
          properties:
            from:
              format: date-time
              type: string
            to:
              format: date-time
              type: string
          type: object
      type: object
    ErrorDocument:
      additionalProperties: false
      example:
        errors:
        - detail: Permission denied for this resource
          status: '403'
        jsonapi:
          version: '1.0'
      properties:
        errors:
          example:
          - detail: Permission denied for this resource
            status: '403'
          items:
            additionalProperties: false
            example:
              detail: Not Found
              status: '404'
            properties:
              code:
                description: An application-specific error code, expressed as a string value.
                example: entity-not-found
                type: string
              detail:
                description: A human-readable explanation specific to this occurrence of the problem.
                example: 'The request was missing these required fields: ...'
                type: string
              id:
                description: A unique identifier for this particular occurrence of the problem.
                example: f16c31b5-6129-4571-add8-d589da9be524
                format: uuid
                type: string
              links:
                additionalProperties: false
                description: A link that leads to further details about this particular occurrance of the problem.
                example:
                  about: https://example.com/about_this_error
                properties:
                  about:
                    example: https://example.com/api/resource
                    oneOf:
                    - description: A string containing the link’s URL.
                      example: https://example.com/api/resource
                      type: string
                    - additionalProperties: false
                      example:
                        href: https://example.com/api/resource
                      properties:
                        href:
                          description: A string containing the link’s URL.
                          example: https://example.com/api/resource
                          type: string
                        meta:
                          additionalProperties: true
                          description: Free-form object that may contain non-standard information.
                          example:
                            key1: value1
                            key2:
                              sub_key: sub_value
                            key3:
                            - array_value1
                            - array_value2
                          type: object
                      required:
                      - href
                      type: object
                type: object
              meta:
                additionalProperties: true
                example:
                  key: value
                type: object
              source:
                additionalProperties: false
                example:
                  pointer: /data/attributes
                properties:
                  parameter:
                    description: A string indicating which URI query parameter caused the error.
                    example: param1
                    type: string
                  pointer:
                    description: A JSON Pointer [RFC6901] to the associated entity in the request document.
                    example: /data/attributes
                    type: string
                type: object
              status:
                description: The HTTP status code applicable to this problem, expressed as a string value.
                example: '400'
                pattern: ^[45]\d\d$
                type: string
              title:
                description: A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
                example: Bad request
                type: string
            required:
            - status
            - detail
            type: object
          minItems: 1
          type: array
        jsonapi:
          additionalProperties: false
          example:
            version: '1.0'
          properties:
            version:
              description: Version of the JSON API specification this server supports.
              example: '1.0'
              pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)$
              type: string
          required:
          - version
          type: object
      required:
      - jsonapi
      - errors
      type: object
    ExportOrgAttributes:
      example:
        columns:
        - ISSUE_SEVERITY_RANK
        - ISSUE_SEVERITY
        - SCORE
        - PROBLEM_TITLE
        - CVE
        - CWE
        - PROJECT_NAME
        - PROJECT_URL
        - EXPLOIT_MATURITY
        - AUTOFIXABLE
        - FIRST_INTRODUCED
        - PRODUCT_NAME
        - ISSUE_URL
        - ISSUE_STATUS
        - ISSUE_TYPE
        dataset: issues
        filters:
          empty_project_tags: include
          environment:
          - BACKEND
          - EXTERNAL
          introduced:
            from: '2024-01-01T00:00:00Z'
            to: '2024-01-31T00:00:00Z'
          lifecycle:
          - PRODUCTION
          product_name:
          - Snyk Code
          - Snyk Open Source
          - Snyk IaC
          - Snyk Container
          project_tags:
          - 'scanType: CSS'
          - 'user: CLI-user'
          project_type:
          - npm
          - pip
          - golang
        formats:
        - csv
        url_expiration_seconds: 3600
      properties:
        columns:
          items:
            type: string
          type: array
        dataset:
          type: string
        filters:
          $ref: '#/components/schemas/OrgFilters'
        formats:
          items:
            enum:
            - csv
            type: string
          type: array
        url_expiration_seconds:
          default: 3600
          format: int32
          maximum: 3600
          minimum: 0
          type: integer
      required:
      - formats
      - dataset
      type: object
    Types:
      example: resource
      pattern: ^[a-z][a-z0-9]*(_[a-z][a-z0-9]*)*$
      type: string
  headers:
    SunsetHeader:
      description: 'A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. For information purposes only. Returned as a date in the format: YYYY-MM-DD'
      example: '2021-08-02'
      schema:
        format: date
        type: string
    VersionRequestedResponseHeader:
      description: A header containing the version of the endpoint requested by the caller.
      example: '2026-03-25'
      schema:
        $ref: '#/components/schemas/QueryVersion'
    VersionServedResponseHeader:
      description: A header containing the version of the endpoint that was served by the API.
      example: '2026-03-25'
      schema:
        $ref: '#/components/schemas/ActualVersion'
    RetryAfter:
      description: Retry after seconds
      example: 45
      schema:
        type: integer
    VersionStageResponseHeader:
      description: 'A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.

        '
      schema:
        enum:
        - wip
        - experimental
        - beta
        - ga
        - deprecated
        - sunset
        example: ga
        type: string
    RequestIdResponseHeader:
      description: 'A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it''s very helpful to provide this ID.

        '
      example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
      schema:
        format: uuid
        type: string
    LocationHeader:
      description: 'A header providing a URL for the location of a resource

        '
      example: https://example.com/resource/4
      schema:
        format: url
        type: string
    DeprecationHeader:
      description: 'A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:

        https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html

        '
      example: '2021-07-01T00:00:00Z'
      schema:
        format: date-time
        type: string
  parameters:
    exportId:
      description: Unique export identifier
      in: path
      name: export_id
      required: true
      schema:
        format: uuid
        type: string
    include_deleted:
      description: Optional parameter to include deleted issues in results
      in: query
      name: include_deleted
      schema:
        type: string
    groupId:
      description: Group ID
      in: path
      name: group_id
      required: true
      schema:
        format: uuid
        type: string
    Version:
      description: The requested version of the endpoint to process the request
      example: '2026-03-25'
      in: query
      name: version
      required: true
      schema:
        $ref: '#/components/schemas/QueryVersion'
    include_deactivated:
      description: Optional parameter to include disabled issues in results
      in: query
      name: include_deactivated
      schema:
        type: string
    orgId:
      description: Org ID
      in: path
      name: org_id
      required: true
      schema:
        format: uuid
        type: string
  requestBodies:
    CreateGroupExport:
      content:
        application/vnd.api+json:
          schema:
            properties:
              data:
                properties:
                  attributes:
                    $ref: '#/components/schemas/ExportGroupAttributes'
                  type:
                    $ref: '#/components/schemas/Types'
                required:
                - type
                - attributes
                type: object
            required:
            - data
            type: object
    CreateOrgExport:
      content:
        application/vnd.api+json:
          schema:
            properties:
              data:
                additionalProperties: false
                properties:
                  attributes:
                    $ref: '#/components/schemas/ExportOrgAttributes'
                  type:
                    $ref: '#/components/schemas/Types'
                required:
                - type
                - attributes
                type: object
            required:
            - data
            type: object
  responses:
    TooManyRequests:
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: Too many requests
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        retry-after:
          $ref: '#/components/headers/RetryAfter'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    CreateExport:
      content:
        application/vnd.api+json:
          schema:
            properties:
              data:
                description: export resource object
                properties:
                  attributes:
                    example:
                      created: '2022-01-14T00:23:50Z'
                    properties:
                      created:
                        format: date-time
                        type: string
                    required:
                    - created
                    type: object
                  id:
                    example: d5b640e5-d88c-4c17-9bf0-93597b7a1ce2
                    format: uuid
                    type: string
                  links:
                    additionalProperties: false
                    properties:
                      self:
                        example: /orgs/826e79b7-0073-44c3-a5ea-e0aa8a3dbf38/export/jobs/4d593250-aaf3-48ec-bf5a-1d9a7c0f80db
                        format: uri
                        type: string
                    type: object
                  type:
                    $ref: '#/components/schemas/Types'
                required:
                - id
                - type
                type: object
              jsonapi:
                $ref: '#/components/schemas/JsonApi'
            type: object
      description: Created an Export successfully
      headers:
        content-location:
          $ref: '#/components/headers/LocationHeader'
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        retry-after:
          description: 'A header providing guidance on how long to wait before retrying the request

            '
          schema:
            example: '10'
            format: number
            type: string
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    GetExportJob:
      content:
        application/vnd.api+json:
          schema:
            properties:
              data:
                description: export resource object
                properties:
                  attributes:
                    additionalProperties: false
                    properties:
                      created:
                        format: date-time
                        type: string
                      formats:
                        items:
                          enum:
                          - csv
                          type: string
                        type: array
                      status:
                        enum:
                        - PENDING
                        - FINISHED
                        - ERRORED
                        - STARTED
                        type: string
                    required:
                    - status
                    type: object
                  id:
                    example: d5b640e5-d88c-4c17-9bf0-93597b7a1ce2
                    format: uuid
                    type: string
                  type:
                    $ref: '#/components/schemas/Types'
                required:
                - id
                - type
                type: object
              jsonapi:
                $ref: '#/components/schemas/JsonApi'
              links:
                properties:
                  self:
                    example: /orgs/826e79b7-0073-44c3-a5ea-e0aa8a3dbf38/export/4d593250-aaf3-48ec-bf5a-1d9a7c0f80db
                    format: uri
                    type: string
                type: object
            type: object
      description: Getting an export job status
      headers:
        content-location:
          $ref: '#/components/headers/LocationHeader'
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '400':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Bad Request: A parameter provided as a part of the request was invalid.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '409':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Conflict: The requested operation conflicts with the current state of the resource in some way.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '500':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Internal Server Error: An error was encountered while attempting to process the request.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    GetExport:
      content:
        application/vnd.api+json:
          schema:
            properties:
              data:
                description: export resource object
                properties:
                  attributes:
                    additionalProperties: false
                    properties:
                      created:
                        format: date-time
                        type: string
                      finished:
                        format: date-time
                        type: string
                      formats:
                        items:
                          enum:
                          - csv
                          type: string
                        type: array
                      introduced_date_range:
                        properties:
                          from:
                            format: date-time
                            type: string
                          to:
                            format: date-time
                            type: string
                        type: object
                      results:
                        items:
                          type: object
                        type: array
                      row_count:
                        type: integer
                      status:
                        enum:
                        - PENDING
                        - FINISHED
                        - ERRORED
                        type: string
                      updated_date_range:
                        properties:
                          from:
                            format: date-time
                            type: string
                          to:
                            format: date-time
                            type: string
                        type: object
                    required:
                    - status
                    - row_count
                    type: object
                  id:
                    example: d5b640e5-d88c-4c17-9bf0-93597b7a1ce2
                    format: uuid
                    type: string
                  type:
                    $ref: '#/components/schemas/Types'
                required:
                - id
                - type
                type: object
              jsonapi:
                $ref: '#/components/schemas/JsonApi'
              links:
                properties:
                  self:
                    example: /orgs/826e79b7-0073-44c3-a5ea-e0aa8a3dbf38/export/4d593250-aaf3-48ec-bf5a-1d9a7c0f80db
                    format: uri
                    type: string
                type: object
            type: object
      description: Getting an export job results
      headers:
        content-location:
          $ref: '#/components/headers/LocationHeader'
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '403':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Forbidden: the request requires an authentication token with more or different permissions.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '404':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Not Found: The resource being operated on could not be found.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
    '401':
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorDocument'
      description: 'Unauthorized: the request requires an authentication token.'
      headers:
        deprecation:
          $ref: '#/components/headers/DeprecationHeader'
        snyk-request-id:
          $ref: '#/components/headers/RequestIdResponseHeader'
        snyk-version-lifecycle-stage:
          $ref: '#/components/headers/VersionStageResponseHeader'
        snyk-version-requested:
          $ref: '#/components/headers/VersionRequestedResponseHeader'
        snyk-version-served:
          $ref: '#/components/headers/VersionServedResponseHeader'
        sunset:
          $ref: '#/components/headers/SunsetHeader'
  securitySchemes:
    APIToken:
      description: API key value must be prefixed with \"Token \".
      in: header
      name: Authorization
      type: apiKey
    BearerAuth:
      scheme: bearer
      type: http
x-snyk-api-version: '2024-10-15'
